; =====================================================
; --- c8m2_subway event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"7728 3787 16"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"3765 4068 -512"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"7267 3792 -152"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"8895 4736 72"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"10592 5093 16"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 180 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
{
	"solid" 				"0"
	"origin" 				"3457 3903 -511"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"3457 3903 -491"
	"style" 				"1"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"5675178"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================