; =====================================================
; --- c2m2_fairgrounds event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- salas do carrocel abertas
; -----------------------------------------------------
filter:
; --- remover func_brush
{
	;"targetname" 			"courtyard_bldg1_clip"
	"hammerid" 			"594352"
}
{
	;"targetname" 			"courtyard_bldg2_clip"
	"hammerid" 			"594445"
}
; --- remover nav
{
	;"targetname" 			"courtyard_bldg2_blocker"
	"hammerid" 			"594450"
}
{
	;"targetname" 			"courtyard_bldg1_blocker"
	"hammerid" 			"594376"
}
{
	;"targetname" 			"courtyard_bldg2_blocker"
	"hammerid" 			"639081"
}
; --- remover props
{
	"hammerid" 			"594332"
}
{
	"hammerid" 			"594318"
}
{
	"hammerid" 			"594442"
}

; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"831 -1288 0"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 			"6"
	"origin" 			"680 -90 10"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2688 -1389 -91"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 			"6"
	"origin" 			"-1108 -2020 -125"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2938 -4771 -128"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2109 -6294 -97"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-2635 -1639 -127"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 45 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"-2618 -1625 -128"
	"angles" 			"0 45 0"
	"model"	 			"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- saferoom final
; --- props by https://github.com/SirPlease/L4D2-Competitive-Rework/
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"363772"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
add:
; --- objetos do cenario
{
	"classname" 			"prop_dynamic"
	"origin" 			"-4639 -5504 68"
	"angles" 			"0 0 0"
	"model" 			"models/props_fairgrounds/tol_tunnel_heart.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-4640 -5504 -128"
	"angles" 			"0 180 -180"
	"model" 			"models/props_fairgrounds/tol_tunnel_heart.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"lightingorigin" 		"tol_heart_lighting"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5086 -5506 -11"
	"angles" 			"79 0 0"
	"model" 			"models/props_fairgrounds/swan_boat.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-4494 -5617 -64"
	"angles" 			"0 90 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-4497 -5605 -64"
	"angles" 			"0 90 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
; --- fix do alvo de luz
{
	"classname" 			"info_target"
	"origin" 			"-4639 -5504 68"
	"targetname" 			"tol_heart_lighting"
}

; =====================================================
; =====================================================
; --- c2m2_fairgrounds event:
; --- Extra Ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- salas do carrocel
; -----------------------------------------------------
; ---  escada 1
modify:
{
	match:
	{
		;"model" 		"*66"
		"hammerid" 		"367856"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*64"
		"hammerid" 		"367852"
	}
	replace:
	{
		"team" 			"0"
	}
}
; ---  objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-2427 -3965 -45"
	"angles" 			"-5 0 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-2054 -3965 -45"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================