; =====================================================
; --- c4m1_milltown_a event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*148"
		"hammerid" 		"2008651"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*149"
		"hammerid" 		"2008657"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*62"
		"hammerid" 		"1730082"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-6359 7890 160"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-6344 7959 159"
	"angles" 			"-5 0 0"
	"model"	 			"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-6304 7782 226"
	"angles" 			"0 180 0"
	"model"	 			"models/props/cs_office/ladder1.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- casa de 2 andares do parque
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*147"
		"hammerid" 		"1988693"
	}
	replace:
	{
		"team" 			"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"-150 5965 179"
	"angles" 			"-5 90 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c4m1_milltown_a event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"1673 2797 127"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1241 5599 246"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"3398 1626 136"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-7112 7622 113"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-5793 7308 292"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-3452 7586 231"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-1944 6313 142"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-13 4880 256"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"217 6267 151"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"4043 524 269"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
; -----------------------------------------------------
; ---  ativar carros com alarme
; -----------------------------------------------------
; --- relays
add:
{
	"classname" 			"logic_auto"
    	"OnMapSpawn" 			"relay_caralarm_on-car1,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car2,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car3,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car4,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car5,Trigger,,0,-1"
}
filter:
{
	"hammerid" 			"9640"
}
{
	"hammerid" 			"2825043"
}
{
	"hammerid" 			"2826509"
}
{
	"hammerid" 			"2828109"
}
{
	"hammerid" 			"2829776"
}
{
	"hammerid" 			"2831309"
}
; -----------------------------------------------------
; ---  saferoom final
; -----------------------------------------------------
add:
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"3493"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-5686 7481 292"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 45 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- props aleatorios
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"2951 -1397 103"
	"angles" 			"0 352 -1"
	"model"	 			"models/props_vehicles/semi_trailer_freestanding.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"969 3189 127"
	"angles" 			"0 45 45"
	"model"	 			"models/lostcoast/props_wasteland/boat_wooden01a_static.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"971 3206 113"
	"angles" 			"90 45 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"935 3178 139"
	"angles" 			"0 -44 0"
	"model"	 			"models/props_fairgrounds/gallery_button.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================