; =====================================================
; --- c4m1_milltown_a event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"2008651"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"2008657"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"1730082"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"-6359 7890 160"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"-6344 7959 159"
	"angles" 				"-5 0 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"-6304 7782 226"
	"angles" 				"0 180 0"
	"model"	 				"models/props/cs_office/ladder1.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- casa de 2 andares do parque
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"1988693"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-150 5965 179"
	"angles" 				"-5 90 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

; =====================================================