; =====================================================
; --- c10m2_drainage event:
; --- Scavenger bridge
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
modify:
{	
	match:
	{
		"hammerid" 			"1295167"
	}
	delete:
	{
		"glow" 				"button_model"
	}
	insert:
	{
		"OnPressed" 		"button_model,StopGlowing,,0,-1"
	}
}
{
	match:
	{
		"hammerid" 			"1315034"
	}
	insert:
	{
		"OnTrigger" 		"bridge_gas_sfx_gen,FadeOut,1,30,-1"
		"OnTrigger" 		"bridge_gas_vfx_smokegen,Stop,,30,-1"
		"OnTrigger" 		"bridge_gas_vfx_spark,StopSpark,,30,-1"
		"OnTrigger" 		"bridge_gas_vfx_genlight,LightOff,,30,-1"
	}
}
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn"			"button_minifinale,Lock,,0,-1"
	"OnMapSpawn" 			"bridge_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnMapSpawn"			"button_model,Disable,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"targetname" 			"bridge_gas_trigger_event"
	"filtername" 			"bridge_gas_filter_surv"
	"spawnflags" 			"1"
	"extent"				"96 5 96"
	"StartDisabled"			"0"
	"origin" 				"-8322 -7755 -357"
	"OnTrigger" 			"bridge_gas_trigger_event,kill,,0,-1"
	"OnTrigger" 			"bridge_gas_relay_event,Trigger,,0,-1"
	"OnTrigger" 			"bridge_gas_template_hintgen,ForceSpawn,,0,-1"
}
; --- botoes
{
	"classname"				"logic_auto"
	"OnMapSpawn"			"bridge_gas_button_gen,Lock,,0,-1"
}
{
	"classname" 			"func_button"
	"origin" 				"-8888 -7945 -348"
	"spawnflags" 			"1024"
	"targetname" 			"bridge_gas_button_gen"
	"glow" 					"bridge_gas_prop_buttongen"
	"sounds" 				"4"
	"locked_sound"			"11"
	"OnPressed" 			"bridge_gas_button_gen,Kill,,0,-1"
	"OnPressed" 			"bridge_gas_relay_startgen,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"bridge_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"bridge_gas_relay_event,kill,,0,-1"
	"OnTrigger" 			"bridge_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_gas,TurnGlowsOn,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"bridge_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"bridge_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"bridge_gas_button_gen,Unlock,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_buttongen,StartGlowing,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger" 			"bridge_gas_template_hintbutton,ForceSpawn,,0,-1"
	"OnTrigger"				"bridge_gas_hint_msggas,kill,,0,-1"
	"OnTrigger" 			"bridge_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"				"bridge_gas_target_gas,kill,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_gas,TurnGlowsOff,,0,-1"

}
{
	"classname" 			"logic_relay"
	"targetname" 			"bridge_gas_relay_startgen"
	"spawnflags" 			"1"
	"OnPressed" 			"bridge_gas_relay_startgen,Kill,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"button_model,StartGlowing,,0,-1"
	"OnTrigger" 			"button_minifinale,Unlock,,0,-1"
	"OnTrigger" 			"button_model,Enable,,3,-1"
	"OnTrigger" 			"bridge_gas_prop_fakeelevatorbutton,Kill,,3,-1"
	"OnTrigger" 			"bridge_gas_vfx_smokegen,Start,,3,-1"
	"OnTrigger" 			"bridge_gas_sfx_gen,PlaySound,,0,-1"
	"OnTrigger" 			"bridge_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"bridge_gas_vfx_spark,StartSpark,,3,-1"
	"OnTrigger" 			"bridge_gas_template_hintpanel,ForceSpawn,,3,-1"
	"OnTrigger" 			"bridge_gas_hint_msgbutton,Kill,,0,-1"
	"OnTrigger" 			"bridge_gas_vfx_genlight,LightOn,,3,-1"
}
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"bridge_gas_hud_display"
	"max" 					"6"
}
; --- contador
{
	"classname" 			"math_counter"
	"max" 					"6"
	"targetname" 			"bridge_gas_counter_gas"
	"OnHitMax"				"bridge_gas_counter_gas,Kill,,0,-1"	
	"OnHitMax"				"bridge_gas_relay_counter,Trigger,,0,-1"
}
; --- filtro de equipe
{
	"targetname" 			"bridge_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 				"bridge_gas_prop_fuel"
	"origin" 				"-8824 -7898 -339"
	"spawnflags" 			"1"
	"targetname" 			"bridge_gas_target_gas"
	"OnUseFinished" 		"bridge_gas_counter_gas,Add,1,0,-1"
}
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-8860 -7940 -396"
	"angles" 				"0 135 0"
	"model"	 				"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"bridge_gas_prop_fuel"
}
{
	"solid" 				"6"
	"origin" 				"-8863 -7937 -396"
	"angles" 				"0 135 0"
	"model"	 				"models/props_vehicles/radio_generator.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"bridge_gas_prop_gen"
}
{
	"solid" 				"0"
	"origin" 				"-8863 -7937 -396"
	"angles" 				"0 -135 0"
	"model"	 				"models/props_vehicles/floodlight_generator_switch01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"bridge_gas_prop_buttongen"
}
{
	"solid" 				"0"
	"origin" 				"-8688 -7850 -357.424"
	"angles" 				"0 90 0"
	"model" 				"models/props_street/window_washer_button.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"bridge_gas_prop_fakeelevatorbutton"
}
; --- cabos
{
	"origin" 				"-8863 -7943 -90"
	"targetname" 			"lift_gas_rope_1"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"bridge_gas_rope_2"
	"classname" 			"keyframe_rope"
	"Slack"					"100"
}
{
	"origin" 				"-8688 -7850 -357"
	"targetname" 			"bridge_gas_rope_2"
	"classname" 			"keyframe_rope"
}
; --- efeitos sonoros 
{	
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"dlc.Generator_start_run_loop"
	"radius" 				"2000"
	"spawnflags" 			"48"
	"targetname" 			"bridge_gas_sfx_gen"
	"SourceEntityName" 		"bridge_gas_prop_gen"
}
; --- efeitos visuais
{
	"origin" 				"-8819 -7910 -355"
	"targetname" 			"bridge_gas_vfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"origin" 				"-8836 -7894 -355"
	"targetname" 			"bridge_gas_vfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"classname" 			"env_spark"
	"origin" 				"-8863 -7943 -90"
	"targetname" 			"bridge_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"				"2"
}
{
	"origin" 				"-8863 -7954 -298"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 				"25 45 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"bridge_gas_vfx_genlight"
}
{
	"origin" 				"-8872 -7933 -170"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 				"25 135 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"bridge_gas_vfx_genlight"
}
; --- galões
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"bridge_gas_prop_gas"
	"origin" 				"-7739 -8155 -575"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"bridge_gas_prop_gas"
	"origin" 				"-8430 -9092 -575"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"bridge_gas_prop_gas"
	"origin" 				"-8948 -8723 -575"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"bridge_gas_prop_gas"
	"origin" 				"-8716 -7779 -530"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"bridge_gas_prop_gas"
	"origin" 				"-7960 -7776 -575"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"bridge_gas_prop_gas"
	"origin" 				"-8112 -8748 -575"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- templates
{
	"Template01" 			"bridge_gas_hint_msggas"
	"targetname" 			"bridge_gas_template_hintgen"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
{
	"Template01" 			"bridge_gas_hint_msgbutton"
	"targetname" 			"bridge_gas_template_hintbutton"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
{
	"Template01" 			"washer_button_game_event"
	"targetname" 			"bridge_gas_template_hintpanel"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"bridge_gas_hint_msggas"
	"hint_target" 			"bridge_gas_target_msggen"
	"hint_caption"			"Abasteçam o gerador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-8863 -7937 -296"
	"hint_forcecaption"		"1"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"bridge_gas_hint_msgbutton"
	"hint_target" 			"bridge_gas_target_msggen"
	"hint_caption"			"Liguem o gerador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-8863 -7937 -296"
	"hint_forcecaption"		"1"
}
{
	"origin" 				"-8863 -7937 -296"
	"targetname" 			"bridge_gas_target_msggen"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"washer_button_game_event" ;don't rename
	"hint_target" 			"bridge_gas_target_msgbutton"
	"hint_caption"			"Apertem o botão para descer a ponte"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-8689 -7850 -338"
	"hint_forcecaption"		"1"
}
{
	"origin" 				"-8689 -7850 -338"
	"targetname" 			"bridge_gas_target_msgbutton"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 				"1280245"
}

; =====================================================