; =====================================================
; --- c11m2_offices event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- objetos do cenario
filter:
{
	"hammerid"				"9202221"
}
add:
{
	"solid" 				"0"
	"origin" 				"5628 2615 52"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 				"0"
	"origin" 				"5652 2660 104"
	"angles" 				"0 -10 0"
	"model"	 				"models/props_doors/doorfreezer01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"5628 2615 72"
	"style" 				"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{		
	"solid" 				"6"
	"origin" 				"4822 3111 440"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"6493 3238 563"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"8867 4054 640"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"8891 4563 88"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"4677827"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================
; --- c11m2_offices event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- obra
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"8908903"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"8826012"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"5192 4024 100"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 				"0"
	"origin" 				"4907 3865 100"
	"angles" 				"-5 0 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; -----------------------------------------------------
; --- guindaste
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"8932642"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"6908 3419 588"
	"angles" 				"-5 0 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}

; =====================================================