; =====================================================
; --- c11m2_offices event:
; --- Tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"extent"				"5 410 128"
	"origin" 				"5188 3680 143"
	"StartDisabled"			"0"
	"targetname" 			"tank_spawn_trigger_event"
	"filtername" 			"tank_spawn_filter_surv"
	"spawnflags" 			"1"
	"OnTrigger"				"tank_spawn_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"tank_spawn_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"targetname" 			"tank_spawn_relay_event"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"				"tank_spawn_relay_event,Kill,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_fire,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"tank_spawn_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- zombie spawn
{
	"origin" 				"4884 3654 415"
	"targetname" 			"tank_spawn_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 0 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 				"4884 3654 414"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"tank_spawn_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"4884 3654 414"
	"targetname" 			"tank_spawn_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"tank_spawn_sfx_explosion"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"tank_spawn_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}

; =====================================================