; =====================================================
; --- c4m3_sugarmill_b event:
; --- Elevator generator on (scavenger events c4m2_sugarmill_a props)
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- relays
modify:
{
	match:
	{
		"hammerid" 		"1306806"
	}
	insert:
	{
		"OnPressed" 		"elevator_gas_sfx_smokegen,Start,,3,-1"
		"OnPressed" 		"elevator_gas_sfx_gen,PlaySound,,0,-1"
		"OnPressed" 		"elevator_gas_vfx_spark,StartSpark,,3,-1"
		"OnPressed" 		"elevator_gas_vfx_genlight,LightOn,,3,-1"
	}
}
{
	match:
	{
		"hammerid" 		"1312595"
	}
	insert:
	{
		"OnReachedTop" 		"elevator_gas_sfx_gen,FadeOut,1,30,-1"
		"OnReachedTop" 		"elevator_gas_sfx_smokegen,Stop,,30,-1"
		"OnReachedTop" 		"elevator_gas_vfx_spark,StopSpark,,30,-1"
		"OnReachedTop" 		"elevator_gas_vfx_genlight,LightOff,,30,-1"
	}
}
add:
; --- efeitos sonoros 
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"dlc.Generator_start_run_loop"
	"radius" 			"2000"
	"spawnflags" 			"48"
	"targetname" 			"elevator_gas_sfx_gen"
	"SourceEntityName" 		"elevator_gas_prop_gen"
}
; --- efeitos visuais
{
	"origin" 			"-1118 -8886 135"
	"targetname" 			"elevator_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"origin" 			"-1118 -8863 135"
	"targetname" 			"elevator_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"classname" 			"env_spark"
	"origin" 			"-1171 -8880 410"
	"targetname" 			"elevator_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"classname" 			"env_spark"
	"origin" 			"-1255 -9147 862"
	"targetname" 			"elevator_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"classname" 			"env_spark"
	"origin" 			"-1408 -9488 742"
	"targetname" 			"elevator_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"origin" 			"-1181 -8887 193"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 			"25 0 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"elevator_gas_vfx_genlight"
}
{
	"origin" 			"-1172 -8865 323"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 			"25 90 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"elevator_gas_vfx_genlight"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"-1168 -8875 96"
	"angles" 			"0 90 0"
	"model"	 			"models/props_vehicles/radio_generator.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"elevator_gas_prop_gen"
}
{
	"solid" 			"0"
	"origin" 			"-1168 -8879 96"
	"angles" 			"0 90 0"
	"model"	 			"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"elevator_gas_prop_fuel"
}
{
	"solid" 			"0"
	"origin" 			"-1168 -8875 96"
	"angles" 			"0 180 0"
	"model"	 			"models/props_vehicles/floodlight_generator_switch01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"elevator_gas_prop_buttongen"
}
; --- cabos
{
	"origin" 			"-1171 -8880 410"
	"targetname" 			"elevator_gas_rope_1"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"elevator_gas_rope_2"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"-1255 -9147 862"
	"targetname" 			"elevator_gas_rope_2"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"elevator_gas_rope_3"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"-1408 -9488 742"
	"targetname" 			"elevator_gas_rope_3"
	"classname" 			"keyframe_rope"
	"RopeMaterial" 			"cable/cable.vmt"

}

; =====================================================
