; =====================================================
; --- c3m2_swamp event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- avião (impedir players de pular o evento)
; -----------------------------------------------------
add:
; --- objetos do cenario
add:
{
	"solid" 				"6"
	"origin" 				"-1987 2682 -51"
	"angles" 				"731 -112 -8"
	"model"	 				"models/props_foliage/swamp_cypress_broken01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-2192 2918 -17"
	"angles" 				"0 0 0"
	"model"	 				"models/props_foliage/old_tree01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-2545 3789 16"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"4894 1200 8"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-7425 5284 45"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"400 3214 8"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"7733 2814 119"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-4733 3790 8"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"1466555"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- cabana
; -----------------------------------------------------
add:
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"1956 3318 136"
	"angles" 				"0 180 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"1956 3318 156"
	"style" 				"1"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"7708 2863 153"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -70 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}

; =====================================================