; =====================================================
; --- c3m1_plankcountry event:
; --- Scavenger ferryboat
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
modify:
{	
	match:
	{
		"hammerid" 			"1109672"
	}
	delete:
	{
		"glow" 				"ferry_winch"
	}
	insert:
	{
		"OnPressed" 		"ferry_winch,StopGlowing,,0,-1"
	}
}
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"ferry_button,Lock,,0,-1"
	"OnMapSpawn" 			"ferry_winch,StopGlowing,,0,-1"
	"OnMapSpawn" 			"ferry_gas_prop_gas,TurnGlowsOff,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"targetname" 			"ferry_gas_trigger_event"
	"filtername" 			"ferry_gas_filter_surv"
	"spawnflags" 			"1"
	"extent"				"5 512 100"
	"StartDisabled"			"0"
	"origin" 				"-7554 7240 107"
	"OnTrigger" 			"ferry_gas_trigger_event,kill,,0,-1"
	"OnTrigger" 			"ferry_gas_relay_event,Trigger,,0,-1"
	"OnTrigger" 			"ferry_gas_template_hintgen,ForceSpawn,,0,-1"

}
; --- botoes
{
	"classname"				"logic_auto"
	"OnMapSpawn"			"ferry_gas_button_gen,Lock,,0,-1"
}
{
	"classname" 			"func_button"
	"origin" 				"-6086 5896 80"
	"spawnflags" 			"1024"
	"targetname" 			"ferry_gas_button_gen"
	"glow" 					"ferry_gas_prop_buttongen"
	"sounds" 				"4"
	"locked_sound"			"11"
	"OnPressed" 			"ferry_gas_button_gen,Kill,,0,-1"
	"OnPressed" 			"ferry_gas_relay_startgen,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"ferry_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"ferry_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"ferry_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"ferry_gas_prop_gas,TurnGlowsOn,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"ferry_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"ferry_gas_button_gen,Unlock,,0,-1"
	"OnTrigger" 			"ferry_gas_prop_buttongen,StartGlowing,,0,-1"
	"OnTrigger" 			"ferry_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger" 			"ferry_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnTrigger" 			"ferry_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"				"ferry_gas_hint_msggen,Kill,,0,-1"
	"OnTrigger" 			"ferry_gas_template_hintbutton,ForceSpawn,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"ferry_gas_relay_startgen"
	"spawnflags" 			"1"
	"OnTrigger" 			"ferry_button,Unlock,,3,-1"
	"OnTrigger" 			"ferry_winch,StartGlowing,,3,-1"
	"OnTrigger" 			"ferry_gas_vfx_spark,StartSpark,,3,-1"
	"OnTrigger" 			"ferry_gas_sfx_smokegen,Start,,3,-1"
	"OnTrigger" 			"ferry_gas_sfx_gen,PlaySound,,0,-1"
	"OnTrigger"				"ferry_gas_hint_msgbutton,Kill,,0,-1"
	"OnTrigger" 			"ferry_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"ferry_gas_template_hintpanel,ForceSpawn,,3,-1"
	"OnTrigger" 			"ferry_gas_vfx_genlight,LightOn,,3,-1"
}
modify:
{
	match:
	{
		"hammerid"			"1337673"
	}
	insert:
	{
		"OnTrigger" 		"ferry_gas_sfx_gen,FadeOut,1,30,-1"
		"OnTrigger" 		"ferry_gas_vfx_genlight,LightOff,,30,-1"
		"OnTrigger" 		"ferry_gas_sfx_smokegen,Stop,,30,-1"
		"OnTrigger" 		"ferry_gas_vfx_spark,StopSpark,,30,-1"
	}
}
add:
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"ferry_gas_hud_display"
	"max" 					"6"
}
; --- contador
{
	"classname" 			"math_counter"
	"max" 					"6"
	"targetname" 			"ferry_gas_counter_gas"
	"OnHitMax"				"ferry_gas_counter_gas,Kill,,0,-1"	
	"OnHitMax"				"ferry_gas_relay_counter,Trigger,,0,-1"
}
; --- efeitos sonoros 
add:
{	
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"dlc.Generator_start_run_loop"
	"radius" 				"500"
	"spawnflags" 			"48"
	"targetname" 			"ferry_gas_sfx_gen"
	"SourceEntityName" 		"ferry_gas_prop_gen"
}
; --- filtro de equipe
{
	"targetname" 			"ferry_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 				"ferry_gas_prop_fuel"
	"origin" 				"-6024 5943 80"
	"spawnflags" 			"1"
	"targetname" 			"ferry_gas_target_gas"
	"OnUseFinished" 		"ferry_gas_counter_gas,Add,1,0,-1"
}
; --- efeitos visuais
{
	"origin" 				"-6017 5931 70"
	"targetname" 			"ferry_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"origin" 				"-6034 5948 70"
	"targetname" 			"ferry_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"classname" 			"env_spark"
	"origin" 				"-5390 5899 255"
	"targetname" 			"ferry_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"				"2"
}
{
	"classname" 			"env_spark"
	"origin" 				"-6060 5900 336"
	"targetname" 			"ferry_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"				"2"
}
{
	"classname" 			"env_spark"
	"origin" 				"-4388 5900 256"
	"targetname" 			"ferry_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"				"2"
}
{
	"origin" 				"-6061 5887 128"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 				"25 45 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"ferry_gas_vfx_genlight"
}
{
	"origin" 				"-6072 5908 258"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 				"25 135 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"ferry_gas_vfx_genlight"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-6061 5905 31"
	"angles" 				"0 135 0"
	"model"	 				"models/props_vehicles/radio_generator.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"ferry_gas_prop_gen"
}
{
	"solid" 				"0"
	"origin" 				"-6058 5902 31"
	"angles" 				"0 135 0"
	"model"	 				"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"ferry_gas_prop_fuel"
}
{
	"solid" 				"0"
	"origin" 				"-6061 5905 31"
	"angles" 				"0 -135 0"
	"model"	 				"models/props_vehicles/floodlight_generator_switch01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"ferry_gas_prop_buttongen"
}
filter:
{
	"hammerid" 				"3212480"
}
{
	"hammerid" 				"3212476"
}
add:
; --- cabos
{
	"origin" 				"-6060 5900 336"
	"targetname" 			"ferry_gas_rope_1"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"ferry_gas_rope_2"
	"classname" 			"keyframe_rope"
	"Slack"					"100"
}
{
	"origin" 				"-5390 5899 255"
	"targetname" 			"ferry_gas_rope_2"
	"classname" 			"keyframe_rope"
}
; --- galões
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"ferry_gas_prop_gas"
	"origin" 				"-6928 7691 72"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"ferry_gas_prop_gas"
	"origin" 				"-6577 7710 32"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"ferry_gas_prop_gas"
	"origin" 				"-6083 7800 48"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"ferry_gas_prop_gas"
	"origin" 				"-7362 6296 32"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"ferry_gas_prop_gas"
	"origin" 				"-6424 6268 176"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"ferry_gas_prop_gas"
	"origin" 				"-6943 6232 32"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- templates
{
	"Template01" 			"ferry_gas_hint_msggen"
	"targetname" 			"ferry_gas_template_hintgen"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
{
	"Template01" 			"ferry_gas_hint_msgbutton"
	"targetname" 			"ferry_gas_template_hintbutton"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
{
	"Template01" 			"ferry_button_proxy"
	"targetname" 			"ferry_gas_template_hintpanel"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"ferry_gas_hint_msggen"
	"hint_target" 			"ferry_gas_target_msggen"
	"hint_caption"			"Abasteçam o gerador para ligar a balsa"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-6061 5905 131"
	"hint_forcecaption"		"1"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"ferry_gas_hint_msgbutton"
	"hint_target" 			"ferry_gas_target_msggen"
	"hint_caption"			"Liguem o gerador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_onscreen" 	"icon_button"
	"hint_color" 			"255 255 255"
	"origin" 				"-6061 5905 131"
	"hint_forcecaption"		"1"
}
{
	"origin" 				"-6061 5905 131"
	"targetname" 			"ferry_gas_target_msggen"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"ferry_button_proxy" ;don't rename//
	"hint_target" 			"ferry_gas_target_msgpanel"
	"hint_caption"			"Liguem a balsa"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-5426 6008 78.25"
	"hint_forcecaption"		"1"
}
{
	"origin" 				"-5426 6008 78.25"
	"targetname" 			"ferry_gas_target_msgpanel"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 				"1346236"
}

; =====================================================