; =====================================================
; --- c3m1_plankcountry event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-10755 10260 160"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin" 				"-3902 7298 35"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin"	 			"-2199 6390 179"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin" 				"-7919 7786 6"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin" 				"-754 7494 144"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1023 4221 24"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin" 				"-5734 6567 66"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1926 2233 0"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname"				"weapon_ammo_spawn"
	"disableshadows"		"1"
	"spawnflags"			"2"
}
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"-10736 10484 160"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"-10736 10484 180"
	"style" 				"1"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
; --- minigun
add:
{
	"origin" 				"-5612 6844 32"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 180 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-5630 6845 31"
	"angles" 				"0 180 0"
	"model"	 				"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"919930"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================