; =====================================================
; --- c5m2_park event:
; --- Shortcut for those who are late
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
modify:
{
	match:
	{
		"hammerid" 			"452607"
	}
	insert:
	{
		"OnPressed" 		"cut_way_relay_gate,Trigger,,0,-1"
	}
}
; --- relays
add:
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"cut_way_relay_gate"
	"OnTrigger" 			"cut_way_relay_gate,Kill,,0,-1"
	"OnTrigger"				"cut_way_door_gate,Open,,0,-1"
	"OnTrigger" 			"cut_way_hint_msg,ShowHint,,0,-1"
	"OnTrigger" 			"cut_way_block_nav,UnblockNav,,0,-1"
	"OnTrigger" 			"cut_way_block_nav,Kill,,0,-1"
	"OnTrigger" 			"cut_way_block_player,Kill,,0,-1"
	"OnTrigger" 			"cut_way_sfx_gate,PlaySound,,0,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"cut_way_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 64 64"
	"origin" 				"-6976 -5600 -193"
	"targetname" 			"cut_way_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
    "classname" 			"env_physics_blocker"
    "maxs" 					"5 64 64"
    "mins" 					"-5 -64 -64"
	"origin" 				"-6976 -5600 -193"
    "initialstate" 			"1"
    "BlockType" 			"0"
	"targetname" 			"cut_way_block_player"
}
filter:
{
	"hammerid" 			"1903885"
}
{
	"hammerid" 			"1903880"
}
; --- Objetos do cenario
{
	"hammerid" 			"1903872"
}
{
	"hammerid" 			"1903876"
}
; --- porta
add:
{
	"solid" 				"0"
	"origin" 				"-6976 -5600 -256"
	"angles" 				"0 180 0"
	"model"	 				"models/props_urban/fence_gate001_256.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname"			"cut_way_door_gate"
	"targetname"			"cut_way_prop_gate"
}
{
	"origin" 				"-6976 -5540 -256"
	"angles" 				"0 180 0"
	"speed" 				"50"
	"spawnpos" 				"0"
	"spawnflags" 			"32768"
	"returndelay" 			"-1"
	"opendir" 				"1"
	"model" 				"models/props_urban/fence_gate_post001.mdl"
	"forceclosed" 			"0"
	"distance" 				"80"
	"disableshadows" 		"1"
	"classname" 			"prop_door_rotating"
	"targetname"			"cut_way_door_gate"
}
; --- efeitos sonoros
{	
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"doors/gate_move1.wav"
	"spawnflags" 			"49"
	"targetname" 			"cut_way_sfx_gate"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"cut_way_hint_msg"
	"hint_target" 			"cut_way_hint_target"
	"hint_caption"			"Os atrasados podem cortar caminho por aqui"
	"hint_range" 			"500"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_door"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-6976 -5600 -100"
}
{
	"origin" 				"-6976 -5600 -100"
	"targetname" 			"cut_way_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================