; =====================================================
; --- c5m2_park event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- ceda trailer
; -----------------------------------------------------
add:
; --- escadas
{
	"classname" 			"func_simpleladder"
	"origin" 				"-600 -785 0"
	"angles" 				"0 0 0"
	"model" 				"*24"
	"normal.x" 				"0.00"
	"normal.y" 				"-1.00"
	"normal.z" 				"0.00"
	"team" 					"0"
}
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-9464 -6327 -192"
	"angles" 				"-5 -90 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c5m2_park event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"449678"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
	{
		"solid" 			"6"
	"origin" 				"-7170 -3606 -160"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-7801 -5822 -31"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-9581 -5905 -214"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-9261 -6177 -255"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-7169 -852 -222"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-8538 -3025 -248"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-4332 -1956 -256"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin"		 		"-7572 -7136 -248"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-5039 -544 -225"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"-5071 -3890 -214"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; --- objetos do cenario
add:
{
	"solid" 				"6"
	"origin" 				"-5057 -573 -234"
	"angles" 				"0 45 0"
	"model"	 				"models/props_fortifications/sandbags_corner3.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

{
	"solid" 				"6"
	"origin" 				"-5100 -3873 -215"
	"angles" 				"0 -45 0"
	"model"	 				"models/props_fortifications/sandbags_corner3.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

; =====================================================