; =====================================================
; --- c8m1_apartment event:
; --- New route
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- objetos do cenario
add:
{
	"solid" 				"6"
	"origin" 				"2116 3903 16"
	"angles" 				"0 -90 0"
	"model"	 				"models/props_street/police_barricade2.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"2434 3903 8"
	"angles" 				"0 90 0"
	"model"	 				"models/props_street/police_barricade_496in.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"2747 3879 16"
	"angles" 				"0 70 0"
	"model"	 				"models/props_street/police_barricade2.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"new_route_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"origin" 				"2322 3899 70"
	"extent" 				"500 5 64"
	"targetname" 			"new_route_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}

; =====================================================