; =====================================================
; --- c1m2_streets event:
; --- Slide door footbridge
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"func_button"
	"origin" 				"-5430 805 420"
	"spawnflags" 			"1024"
	"targetname" 			"slide_gate_button_event"
	"glow" 					"slide_gate_prop_button"
	"sounds" 				"4"
	"locked_sound"			"11"
	"OnPressed"				"slide_gate_button_event,Kill,,0,-1"
	"OnPressed"				"slide_gate_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"slide_gate_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"				"slide_gate_relay_event,Kill,,0,-1"
	"OnTrigger"				"slide_gate_hint_msg,Kill,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,StopGlowing,,0,-1"
	"OnTrigger"				"slide_gate_linear_door,Open,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,TURN_ON,0,1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,idleon,0.2,1"
	"OnTrigger"				"slide_gate_block_navgate,UnBlockNav,,0,-1"
	"OnTrigger"				"slide_gate_block_navgate,kill,,1,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"slide_gate_block_navgate,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"64 5 64"
	"origin" 				"-5504 823 447"
	"targetname" 			"slide_gate_block_navgate"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
; --- porta
{
	"model" 				"*121"
	"targetname" 			"slide_gate_linear_door"
	"speed" 				"50"
	"movedistance" 			"86"
	"movedir" 				"-90 0 0"
	"blockdamage" 			"1"
	"classname" 			"func_movelinear"
	"origin" 				"-5430 815 420"
	"stopsound" 			"Doors.FullClose10"
	"startsound" 			"Doors.Elevator.Open"
}
; --- filtro de dano
{
	"targetname" 			"slide_gate_filter_dmg"
	"Negated" 				"Allow entities that match criteria"
	"damagetype" 			"0"
	"classname" 			"filter_damage_type"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-5543 817 384"
	"angles" 				"0 90 0"
	"model"	 				"models/props_interiors/door_sliding_breakable01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname"			"slide_gate_linear_door"
	"damagefilter" 			"slide_gate_filter_dmg"
	"targetname" 			"slide_gate_prop_door"
}
{
	"solid" 				"6"
	"origin" 				"-5463 817 384"
	"angles" 				"0 -90 0"
	"model"	 				"models/props_interiors/door_sliding_breakable01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname"			"slide_gate_linear_door"
	"damagefilter" 			"slide_gate_filter_dmg"
	"targetname" 			"slide_gate_prop_door"
}
{
	"solid" 				"0"
	"origin" 				"-5430 815 420"
	"angles" 				"0 -90 0"
	"model"	 				"models/props_mill/freightelevatorbutton01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"slide_gate_prop_button"
	"glowrange" 			"500"
	"glowstate"				"2"
}
{
	"solid" 				"6"
	"origin" 				"-5502 807 384"
	"angles" 				"0 -90 0"
	"model"	 				"models/props_doors/roll-up_door_half.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"slide_gate_hint_msg"
	"hint_target" 			"slide_gate_prop_button"
	"hint_caption"			"Pressionem o botão para abrir a porta"
	"hint_range" 			"500"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-5430 805 420"
}

; =====================================================