; =====================================================
; --- c1m2_streets event:
; --- Slowmotion tanker explosion
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- relays
modify:
{
        match:
        {
		"hammerid" 			"1213806"
        }
        insert:
        {
		"OnTrigger" 		"slowmotion_tanker_vfx_slowmotion,Start,,1,-1"
		"OnTrigger" 		"slowmotion_tanker_vfx_slowmotion,Stop,,2.5,-1"
		"OnTrigger" 		"slowmotion_tanker_sfx_heart,PlaySound,,1,-1"
		"OnTrigger" 		"slowmotion_tanker_sfx_heart,FadeOut,1,2.5,-1"
	}
}
; --- efeitos visuais
add:
{
	"classname" 			"func_timescale"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
	"targetname" 			"slowmotion_tanker_vfx_slowmotion"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"slowmotion_tanker_sfx_heart"
}

; =====================================================