; =====================================================
; --- c1m2_streets event:
; --- Explode gas tanker + Tank Spawn
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"script_trigger_once"
	"targetname" 			"explode_gastanker_trigger_event"
	"filtername" 			"explode_gastanker_filter_surv"
	"spawnflags" 			"1"
	"origin" 				"-8386 -3322 511"
	"extent"				"832 5 128"
	"StartDisabled"			"0"
	"OnTrigger" 			"explode_gastanker_relay_event,Trigger,,5,-1"
	"OnTrigger" 			"explode_gastanker_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"explode_gastanker_sfx_gas1,PlaySound,,0,-1"
	"OnTrigger" 			"explode_gastanker_hint_msg,ShowHint,,0,-1"
}
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"explode_gastanker_vfx_fire1,start,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"explode_gastanker_relay_event"
	"OnTrigger" 			"explode_gastanker_relay_event,Kill,,0,-1"
	"OnTrigger" 			"explode_gastanker_vfx_fire1,Kill,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_gas1,Fadeout,1,2,-1"
	"OnTrigger" 			"explode_gastanker_vfx_shake,StartShake,,2,-1"
	"OnTrigger" 			"explode_gastanker_vfx_fire2,Start,,2,-1"
	"OnTrigger" 			"explode_gastanker_prop_gastank,Disable,,2,-1"
	"OnTrigger" 			"explode_gastanker_prop_debris,Enable,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_explode,PlaySound,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_gas2,PlaySound,,0,-1"
	"OnTrigger" 			"explode_gastanker_sfx_heart,PlaySound,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_heart,FadeOut,1,3.5,-1"
	"OnTrigger" 			"explode_gastanker_sfx_fire,PlaySound,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_fire,FadeOut,1,60,-1"
	"OnTrigger" 			"explode_gastanker_vfx_slowmotion,Start,,2,-1"
	"OnTrigger" 			"explode_gastanker_vfx_slowmotion,Stop,,3.5,-1"
	"OnTrigger" 			"explode_gastanker_trigger_hurt,Enable,,2,-1"
	"OnTrigger" 			"explode_gastanker_trigger_hurt,Kill,,62,-1"
	"OnTrigger" 			"explode_gastanker_vfx_impact,Impact,,2,-1"
	"OnTrigger" 			"explode_gastanker_hint_msg,Kill,,0,-1"
	"OnTrigger" 			"explode_gastanker_zombie_tank,SpawnZombie,,2,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,5,-1"
	"OnTrigger"				"explode_gastanker_vfx_explosion,explode,,2,-1"
}
; --- area de dano
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"origin" 				"-9055 -4394 447"
	"filtername"			"explode_gastanker_filter_surv"
	"targetname" 			"explode_gastanker_trigger_hurt"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 				"2"
	"extent"				"96 182 64"
}
; --- filtro de equipe 
{
	"classname" 			"filter_activator_team"
	"targetname" 			"explode_gastanker_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- zombie spawn
{
	"origin" 				"-9056 -4372 385"
	"targetname" 			"explode_gastanker_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 0 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"explode_gastanker_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"explode_gastanker_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"-9056 -4372 384"
	"targetname" 			"explode_gastanker_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"fire_jet_01"
	"targetname" 			"explode_gastanker_vfx_fire1"
	"angles" 				"-90 20 0"
	"origin" 				"-9041 -4275 540"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"explode_gastanker_vfx_fire2"
	"origin" 				"-9056 -4372 384"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"100"
	"rendermode" 			"5"
	"targetname" 			"explode_gastanker_vfx_explosion"
	"origin" 				"-9056 -4372 384"
	"ignoredClass"			"1"
}
{
	"classname" 			"env_physimpact"
	"angles" 				"0 20 0"	
	"magnitude" 			"1000"
	"spawnflags" 			"5"
	"targetname" 			"explode_gastanker_vfx_impact"
	"origin" 				"-8941 -4192 385"
	"distance"				"500"
}
{
	"classname" 			"env_physimpact"
	"angles" 				"-30 20 0"	
	"magnitude" 			"1000"
	"spawnflags" 			"5"
	"targetname" 			"explode_gastanker_vfx_impact"
	"origin" 				"-8931 -4208 392"
	"distance"				"500"
}
{
	"classname" 			"env_physimpact"
	"angles" 				"-30 20 0"	
	"magnitude" 			"1000"
	"spawnflags" 			"5"
	"targetname" 			"explode_gastanker_vfx_impact"
	"origin" 				"-8945 -4174 392"
	"distance"				"500"
}
{
	"classname" 			"env_physimpact"
	"angles" 				"-60 20 0"	
	"magnitude" 			"1000"
	"spawnflags" 			"5"
	"targetname" 			"explode_gastanker_vfx_impact"
	"origin" 				"-8935 -4195 441"
	"distance"				"500"
}
{
	"classname" 			"env_physimpact"
	"angles" 				"-30 20 0"	
	"magnitude" 			"1000"
	"spawnflags" 			"5"
	"targetname" 			"explode_gastanker_vfx_impact"
	"origin" 				"-8871 -4301 385"
	"distance"				"500"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"explode_gastanker_sfx_heart"
}
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"spawnflags" 			"49"
	"targetname" 			"explode_gastanker_sfx_explode"
}
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"physics/destruction/explosivegasleak.wav"
	"spawnflags" 			"49"
	"targetname" 			"explode_gastanker_sfx_gas2"
}
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"ambient/gas/steam_loop1.wav"
	"spawnflags" 			"48"
	"targetname" 			"explode_gastanker_sfx_gas1"
	"fadeinsecs" 			"3"
	"radius" 				"5000"
	"SourceEntityName" 		"explode_gastanker_prop_gastank"
}
{
	"classname" 			"ambient_generic"
	"message" 				"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"explode_gastanker_sfx_fire"
	"origin" 				"-9056 -4372 384"
	"health" 				"10"
	"spawnflags" 			"48"
	"radius"				"2000"
}
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-9056 -4372 444"
	"angles" 				"0 -90 0"
	"model"	 				"models/props/de_train/de_train_horizontalcoolingtank.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"explode_gastanker_prop_gastank"
}
{
	"solid" 				"0"
	"origin" 				"-9031 -4435 387"
	"angles" 				"-10 0 0"
	"model"	 				"models/props_debris/concrete_debris256pile001a.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"explode_gastanker_prop_debris"
	"StartDisabled" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-8941 -4192 385"
	"angles" 				"0 -138 0"
	"model"	 				"models/props/de_prodigy/wood_pallet_01.mdl"
	"classname"				"prop_physics"
	"spawnflags" 			"256"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-8931 -4208 392"
	"angles" 				"0 -146 0"
	"model"	 				"models/props_urban/oil_drum001.mdl"
	"classname"				"prop_physics"
	"spawnflags" 			"256"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-8945 -4174 392"
	"angles" 				"0 179 0"
	"model"	 				"models/props_urban/oil_drum001.mdl"
	"classname"				"prop_physics"
	"spawnflags" 			"256"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-8935 -4195 441"
	"angles" 				"0 -160 0"
	"model"	 				"models/props_urban/oil_drum001.mdl"
	"classname"				"prop_physics"
	"spawnflags" 			"256"
	"disableshadows" 		"1"
}
{
	"origin" 				"-8871 -4301 385"
	"angles" 				"0 -48 0"
	"model"	 				"models/props/cs_assault/forklift.mdl"
	"classname"				"prop_physics"
	"spawnflags" 			"256"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"explode_gastanker_hint_msg"
	"hint_target" 			"explode_gastanker_hint_target"
	"hint_caption"			"Atenção!!!"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_alert_red"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-9056 -4372 600"
}
{
	"origin" 				"-9056 -4372 600"
	"targetname" 			"explode_gastanker_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================