; =====================================================
; --- c3m4_plantation event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"classname"				"logic_auto"
	"OnMapSpawn" 			"mansion_resources_1_template,ForceSpawn,,0,-1"
	"OnMapSpawn" 			"mansion_resources_2_template,ForceSpawn,,0,-1"
	"OnMapSpawn" 			"mansion_resources_3_template,ForceSpawn,,0,-1"
}
{
	"solid" 				"6"
	"classname"				"weapon_ammo_spawn"
	"origin" 				"-1305 -3422 16"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 				"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 				"6"
	"classname"				"weapon_ammo_spawn"
	"origin" 				"1376 4177 -19"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 				"models/props/terror/ammo_stack.mdl"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
{
	"origin" 				"1312 1420 192"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"2016 1420 192"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -45 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"1475 4152 -19"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -90 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c3m4_plantation event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- mansão
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"589010"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"589026"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"589050"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"589114"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"496774"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"1347537"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"1407 1338 88"
	"angles" 				"20 90 0"
	"model"	 				"models/props_c17/metalladder001.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"

}
{
	"solid" 				"0"
	"origin" 				"1925 1338 88"
	"angles" 				"20 90 0"
	"model"	 				"models/props_c17/metalladder001.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"

}
{
	"solid" 				"0"
	"origin" 				"1979 1660 88"
	"angles" 				"20 -90 0"
	"model"	 				"models/props_c17/metalladder001.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"

}
{
	"solid" 				"0"
	"origin" 				"1339 1660 88"
	"angles" 				"20 -90 0"
	"model"	 				"models/props_c17/metalladder001.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"

}
{
	"solid" 				"0"
	"origin" 				"1138 191 30"
	"angles" 				"0 -2 0"
	"model"	 				"models/props_highway/billboard_ladder.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

{
	"solid" 				"0"
	"origin" 				"2188 191 30"
	"angles" 				"0 180 0"
	"model"	 				"models/props_highway/billboard_ladder.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
filter:
{
	"hammerid" 				"497812"
}
{
	"hammerid" 				"500242"
}

; =====================================================