; =====================================================
; --- c10m4_mainstreet event:
; --- Camping survivors props (after police cola c10m3 event)
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- objetos do cenario
add:
{
	"solid" 			"6"
	"origin" 			"-4887 -1350 -154"
	"angles" 			"0 90 30"
	"model"	 			"models/props_misc/triage_tent.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-4825 -1350 -154"
	"angles" 			"0 90 -30"
	"model"	 			"models/props_misc/triage_tent.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-5053 -1376 -64"
	"angles" 			"0 0 0"
	"model"	 			"models/props_doors/gun_store_door.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4937 -666 -65"
	"angles" 			"0 114 0"
	"model"	 			"models/props_foliage/cedar_medium01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4968 -1778 476"
	"angles" 			"0 0 0"
	"model"	 			"models/props_swamp/boardwalk_tall_128.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-4335 -1078 8"
	"angles" 			"0 192 0"
	"model"	 			"models/props_vehicles/flatnose_truck_wrecked.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid"	 			"0"
	"origin" 			"-4184 -1197 -64"
	"angles" 			"0 -162 0"
	"model"	 			"models/props_debris/concrete_debris128pile001b.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4103 -939 -64"
	"angles" 			"0 -28 0"
	"model"	 			"models/props_debris/concrete_debris128pile001b.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4237 -1237 -64"
	"angles" 			"90 -135 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4161 -904 -64"
	"angles" 			"90 135 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-4094 -1369 -64"
	"angles"		 	"0 24 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-4068 -783 -64"
	"angles" 			"0 -27 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-4069 -1357 -64"
	"angles" 			"0 22 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid"		 		"6"
	"origin" 			"-4044 -793 -64"
	"angles" 			"0 -27 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4990 -1223 -64"
	"angles" 			"0 89 0"
	"model"	 			"models/deadbodies/default/barricade_a.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4725 -1225 -64"
	"angles" 			"0 90 0"
	"model"	 			"models/deadbodies/default/barricade_b.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4715 -1499 -64"
	"angles" 			"0 0 0"
	"model"	 			"models/deadbodies/default/oval_128_a.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4875 -1520 -64"
	"angles" 			"0 45 0"
	"model"	 			"models/deadbodies/default/oval_128_c.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4852 -1163 -64"
	"angles" 			"0 -6 0"
	"model"	 			"models/deadbodies/default/oval_192_b.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4887 -1255 -24"
	"angles" 			"30 90 30"
	"model"	 			"models/deadbodies/default/oval_128_a.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4819 -1263 -15"
	"angles" 			"-30 -90 30"
	"model"	 			"models/deadbodies/default/oval_128_a.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-4956 -1614 -43"
	"angles" 			"-70 -90 -20"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_smoking"
	"origin" 			"-4458 -1039 -30"
	"start_active"			"1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"car_cola_block_navprop,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"200 128 128"
	"origin" 			"-4863 -1350 63"
	"targetname" 			"car_cola_block_navprop"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"16 32 64"
	"origin" 			"-4068 -783 -1"
	"targetname" 			"car_cola_block_navprop"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"16 32 64"
	"origin" 			"-4094 -1369 -1"
	"targetname" 			"car_cola_block_navprop"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"32 32 64"
	"origin" 			"-4427 -1053 -1"
	"targetname" 			"car_cola_block_navprop"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
    	"classname" 			"env_physics_blocker"
    	"maxs" 				"210 138 128"
    	"mins" 				"-210 -138 -128"
	"origin" 			"-4863 -1350 63"
    	"initialstate" 			"1"
    	"BlockType" 			"0"
}

; =====================================================
