; =====================================================
; --- c10m4_mainstreet event:
; --- Forklift scavenger
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- ativadores
modify:
{	
	match:
	{
		"hammerid" 		"4782801"
	}
	delete:
	{
		"glow" 			"Forklift"
	}
	insert:
	{
		"OnPressed" 		"Forklift,StopGlowing,,0,-1"
	}
}
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn"			"button,Lock,,0,-1"
	"OnMapSpawn" 			"forklift_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnMapSpawn"			"forklift,Disable,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"targetname" 			"forklift_gas_trigger_event"
	"filtername" 			"forklift_gas_filter_surv"
	"spawnflags" 			"1"
	"extent"			"430 5 64"
	"StartDisabled"			"0"
	"origin" 			"2185 -3580 279"
	"OnTrigger" 			"forklift_gas_trigger_event,kill,,0,-1"
	"OnTrigger" 			"forklift_gas_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"forklift_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"forklift_gas_relay_event,kill,,0,-1"
	"OnTrigger" 			"forklift_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"forklift_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"forklift_gas_prop_gas,TurnGlowsOn,,0,-1"
	"OnTrigger"			"forklift_gas_hint_msggas,ShowHint,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"forklift_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"forklift_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"button,Unlock,,3,-1"
	"OnTrigger" 			"Forklift,Enable,,3,-1"
	"OnTrigger" 			"Forklift,StartGlowing,,3,-1"
	"OnTrigger" 			"generator_game_event,ShowHint,,3,-1"
	"OnTrigger"			"forklift_gas_prop_forliftfake,Kill,,3,-1"
	"OnTrigger" 			"forklift_gas_sfx_forklift,PlaySound,,0,-1"
	"OnTrigger" 			"forklift_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger"			"forklift_gas_hint_msggas,kill,,0,-1"
	"OnTrigger" 			"forklift_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"			"forklift_gas_target_gas,kill,,0,-1"
	"OnTrigger" 			"forklift_gas_prop_gas,TurnGlowsOff,,0,-1"
}
modify:
{	
	match:
	{
		"hammerid" 		"5899516"
	}
	insert:
	{
		"OnTrigger" 		"forklift_gas_sfx_forklift,Fadeout,1,0,-1"
	}
}
add:
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"forklift_gas_hud_display"
	"max" 				"6"
}
; --- contador
{
	"classname" 			"math_counter"
	"max" 				"6"
	"targetname" 			"forklift_gas_counter_gas"
	"OnHitMax"			"forklift_gas_counter_gas,Kill,,0,-1"	
	"OnHitMax"			"forklift_gas_relay_counter,Trigger,,0,-1"
}
; --- filtro de equipe
{
	"targetname" 			"forklift_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 			"forklift_gas_prop_fuel"
	"origin" 			"1064 -4086 -10"
	"spawnflags" 			"1"
	"targetname" 			"forklift_gas_target_gas"
	"OnUseFinished" 		"forklift_gas_counter_gas,Add,1,0,-1"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"1049 -4155.5 1"
	"angles" 			"0 164 60"
	"model"	 			"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"forklift_gas_prop_fuel"
}
{
	"solid" 			"6"
	"origin" 			"1041.11 -4164.85 -63"
	"model" 			"models/props/cs_assault/forklift_finale.mdl"
	"classname" 			"prop_dynamic"
	"angles" 			"0 270 0"
	"disableshadows" 		"1"
	"targetname" 			"forklift_gas_prop_forliftfake"
	"DefaultAnim" 			"post-awning"
}
; --- efeitos sonoros 
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"dlc.Generator_start_run_loop"
	"radius" 			"2000"
	"spawnflags" 			"48"
	"targetname" 			"forklift_gas_sfx_forklift"
	"SourceEntityName" 		"Forklift"
}
; --- galões
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"forklift_gas_prop_gas"
	"origin" 			"3367 -3536 9"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"forklift_gas_prop_gas"
	"origin" 			"3310 -4303 10"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"forklift_gas_prop_gas"
	"origin" 			"2688 -3540 8"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"forklift_gas_prop_gas"
	"origin" 			"1487 -3600 112"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"forklift_gas_prop_gas"
	"origin" 			"2351 -3600 -39"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"forklift_gas_prop_gas"
	"origin" 			"1148 -3568 -23"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"forklift_gas_hint_msggas"
	"hint_target" 			"forklift_gas_target_msgforklift"
	"hint_caption"			"Abasteçam a empilhadeira"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"1032 -4152 -17.8981"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"generator_game_event" //don't rename//
	"hint_target" 			"forklift_gas_target_msgforklift"
	"hint_caption"			"Abaixem a empilhadeira para fazer uma rampa"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_button"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"1032 -4152 -17.8981"
}
{
	"origin" 			"1032 -4152 -17.8981"
	"targetname" 			"forklift_gas_target_msgforklift"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 			"3928559"
}

; =====================================================