; =====================================================
; --- c11m4_terminal event:
; --- Scavenger van + Tank Spawn
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
modify:
{	
	match:
	{
		"hammerid" 			"5592473"
	}
	delete:
	{
		"glow" 				"van_controls"
	}
	insert:
	{
		"OnPressed" 		"van_controls,StopGlowing,,0,-1"
	}
}
filter:
{
	"targetname" 			"van_push1_trigger"
}
{
	"targetname" 			"van_push2_trigger"
}
{
	"targetname" 			"van_push3_trigger"
}
{
	"targetname" 			"van_push4_trigger"
}
{
	"targetname" 			"van_push5_trigger"
}
{
	"targetname" 			"van_push6_trigger"
}
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn"			"van_button,Lock,,0,-1"
	"OnMapSpawn" 			"van_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnMapSpawn"			"van_controls,Disable,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"targetname" 			"van_gas_trigger_event"
	"filtername" 			"van_gas_filter_surv"
	"spawnflags" 			"1"
	"extent"				"64 5 64"
	"StartDisabled"			"0"
	"origin" 				"32 5444 359"
	"OnTrigger" 			"van_gas_trigger_event,kill,,0,-1"
	"OnTrigger" 			"van_gas_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"van_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"van_gas_relay_event,kill,,0,-1"
	"OnTrigger" 			"van_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"van_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"van_gas_prop_gas,TurnGlowsOn,,0,-1"
	"OnTrigger"				"van_gas_hint_msggas,ShowHint,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"van_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"van_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"van_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger"				"van_gas_hint_msggas,kill,,0,-1"
	"OnTrigger" 			"van_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"				"van_gas_target_gas,kill,,0,-1"
	"OnTrigger" 			"van_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnTrigger" 			"van_controls,StartGlowing,,0,-1"
	"OnTrigger" 			"van_button,Unlock,,0,-1"
	"OnTrigger" 			"van_controls,Enable,,0,-1"
	"OnTrigger" 			"van_gas_prop_fakecontrols,Kill,,0,-1"
	"OnTrigger"				"generator_game_event,ShowHint,,0,-1"
}
{
	"targetname" 			"van_gas_relay_tank"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"				"van_gas_relay_tank,Kill,,0,-1"
	"OnTrigger" 			"van_gas_vfx_explosion,Start,,0,-1"
	"OnTrigger" 			"van_gas_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"van_gas_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"van_gas_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"van_gas_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"van_gas_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger" 			"van_gas_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger" 			"van_gas_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"van_gas_prop_debris,Enable,,0,-1"
}
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"van_gas_hud_display"
	"max" 					"6"
}
; --- contador
{
	"classname" 			"math_counter"
	"max" 					"6"
	"targetname" 			"van_gas_counter_gas"
	"OnHitMax"				"van_gas_counter_gas,Kill,,0,-1"	
	"OnHitMax"				"van_gas_relay_counter,Trigger,,0,-1"
}
{
	"classname" 			"math_counter"
	"max" 					"1"
	"targetname" 			"van_gas_counter_gas"
	"OnHitMax" 				"van_gas_relay_tank,Trigger,,3,-1"
}
; --- filtro de equipe
{
	"targetname" 			"van_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 				"van_gas_prop_fuel"
	"origin" 				"-500 4316 50"
	"spawnflags" 			"1"
	"targetname" 			"van_gas_target_gas"
	"OnUseFinished" 		"van_gas_counter_gas,Add,1,0,-1"
}
; --- zombie spawn
{
	"origin" 				"309 4460 489"
	"targetname" 			"van_gas_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 -90 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"van_gas_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"@director,DisableTankFrustration,,0,-1"
}
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-535 4250 71"
	"angles" 				"0 150 60"
	"model"	 				"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"van_gas_prop_fuel"
	"parentname" 			"vanmodel"

}
{
	"solid" 				"0"
	"origin" 				"-513.353 4267.66 14.9116"
	"angles" 				"0 241.588 0"
	"model" 				"models/props_vehicles/van_cab_controls.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"van_gas_prop_fakecontrols"
	"parentname" 			"vanmodel"
}
{
	"solid" 				"0"
	"origin" 				"368 4459 571"
	"angles" 				"90 180 0"
	"model"	 				"models/props_debris/concrete_debris128pile001a.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"van_gas_prop_debris"
	"StartDisabled"			"1"
}
{
	"solid" 				"0"
	"origin" 				"318 4458 510"
	"angles" 				"20 180 0"
	"model"	 				"models/props_debris/concrete_debris128pile001b.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"van_gas_prop_debris"
	"StartDisabled"			"1"
}
{
	"solid" 				"6"
	"origin" 				"361 4471 583"
	"angles" 				"-90 0 0"
	"model"	 				"models/props_debris/concrete_debris256pile001a.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"van_gas_prop_debris"
	"StartDisabled"			"1"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"van_gas_sfx_explosion"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"van_gas_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"van_gas_vfx_explosion"
	"origin" 				"309 4460 488"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"van_gas_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"309 4460 488"
	"targetname" 			"van_gas_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
; --- galões
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"van_gas_prop_gas"
	"origin" 				"-495 5775 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"van_gas_prop_gas"
	"origin" 				"623 5647 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"van_gas_prop_gas"
	"origin" 				"474 4102 50"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"van_gas_prop_gas"
	"origin" 				"377 4503 296"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"van_gas_prop_gas"
	"origin" 				"1046 4863 51"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"van_gas_prop_gas"
	"origin" 				"623 3608 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"van_gas_hint_msggas"
	"hint_target" 			"van_gas_target_van"
	"hint_caption"			"Abasteçam a van"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-432 4294 82.3347"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"generator_game_event" ;don't rename
	"hint_target" 			"van_gas_target_van"
	"hint_caption"			"Liguem a van para abrir caminho"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_interact"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-432 4294 82.3347"
}
{
	"origin" 				"-432 4294 82.3347"
	"targetname" 			"van_gas_target_van"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 				"5592490"
}

; =====================================================