; =====================================================
; --- c11m4_terminal event:
; --- slide door 
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"func_button"
	"origin" 			"836 1039 45"
	"spawnflags" 			"1024"
	"targetname" 			"slide_gate_button_event"
	"glow" 				"slide_gate_prop_button"
	"sounds" 			"4"
	"locked_sound"			"11"
	"OnPressed"			"slide_gate_button_event,Kill,,0,-1"
	"OnPressed"			"slide_gate_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"slide_gate_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"			"slide_gate_relay_event,Kill,,0,-1"
	"OnTrigger"			"slide_gate_hint_msgbutton,Kill,,0,-1"
	"OnTrigger"			"slide_gate_hint_msggate,ShowHint,,0,-1"
	"OnTrigger"			"slide_gate_sfx_timer,PlaySound,,0,-1"
	"OnTrigger"			"slide_gate_sfx_timer,PlaySound,,10,-1"
	"OnTrigger"			"slide_gate_sfx_timer,PlaySound,,20,-1"
	"OnTrigger"			"slide_gate_sfx_gateopen,PlaySound,,30,-1"
	"OnTrigger"			"slide_gate_hint_msggate,Kill,,30,-1"
	"OnTrigger" 			"slide_gate_prop_button,StopGlowing,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,TURN_ON,0,1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,idleon,0.2,1"
	"OnTrigger" 			"slide_gate_prop_gate,SetAnimation,Open,30,1"
	"OnTrigger"			"slide_gate_block_navgate,UnBlockNav,,30,-1"
	"OnTrigger"			"slide_gate_block_navgate,kill,,31,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"slide_gate_block_navgate,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"64 5 64"
	"origin" 			"775 1053 79"
	"targetname" 			"slide_gate_block_navgate"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"836 1039 45"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_mill/freightelevatorbutton01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"slide_gate_prop_button"
	"glowrange" 			"500"
	"glowstate"			"2"
}
{
	"solid" 			"6"
	"origin" 			"776 998 16"
	"angles" 			"0 0 0"
	"model"	 			"models/props_mill/elevator01_cagedoor.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"slide_gate_prop_gate"
}
filter:
{
	"hammerid"			"3736727"
}
{
	"hammerid"			"3736697"
}
add:
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 			"doors/sugarcane_lift_gate_open_01.wav"
	"targetname" 			"slide_gate_sfx_gateopen"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"SourceEntityName" 		"slide_gate_prop_gate"
}
{
	"classname" 			"ambient_generic"
	"message" 			"animation/10_sec_half_beeps.wav"
	"targetname" 			"slide_gate_sfx_timer"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"SourceEntityName" 		"slide_gate_prop_button"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"slide_gate_hint_msgbutton"
	"hint_target" 			"slide_gate_prop_button"
	"hint_caption"			"Pressionem o botão para abrir a porta"
	"hint_range" 			"500"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 		"icon_button"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"836 1039 45"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"slide_gate_hint_msggate"
	"hint_target" 			"slide_gate_prop_gate"
	"hint_caption"			"A porta abrirá em 30 segundos"
	"hint_range" 			"500"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"776 998 16"
}

; =====================================================