; =====================================================
; --- c11m4_terminal event:
; --- New route (end saferoom)
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- objetos do cenario
add:
{
	"solid" 			"6"
	"origin" 			"2800 4290 152"
	"angles" 			"0 180 0"
	"model"		 		"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2800 4704 152"
	"angles" 			"0 180 0"
	"model"	 			"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2800 5122 152"
	"angles" 			"0 180 0"
	"model"	 			"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2800 5542 152"
	"angles" 			"0 180 0"
	"model"	 			"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2800 5949 152"
	"angles" 			"0 180 0"
	"model"	 			"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2982 4110 152"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2800 6365 152"
	"angles" 			"0 180 0"
	"model"	 			"models/props_street/police_barricade_368in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"new_route_block_navfence,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"190 5 64"
	"origin" 			"2982 4109 215"
	"targetname" 			"new_route_block_navfence"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"5 1240 64"
	"origin" 			"2799 5329 215"
	"targetname" 			"new_route_block_navfence"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
    	"classname" 			"env_physics_blocker"
    	"maxs" 				"190 5 128"
    	"mins" 				"-190 -5 -128"
	"origin" 			"2982 4109 279"
    	"initialstate" 			"1"
    	"BlockType" 			"0"
}

; =====================================================
