; =====================================================
; --- c1m2_streets event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"3501 44 546"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"3190 2158 296"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"6922310"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================
; =====================================================
; --- c1m2_streets event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- telhado do "help! need food"
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*67"
		"hammerid" 		"7879604"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*68"
		"hammerid" 		"7879606"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"2875 1292 480"
	"angles" 			"-5 90 0"
	"model"	 			"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"2873 1163 584"
	"angles" 			"-5 90 0"
	"model"			 	"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
