; =====================================================
; --- c2m2_fairgrounds event:
; --- Wood barricade
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
{
	"classname" 			"script_trigger_once"
	"targetname"			"wood_barricade_trigger_event"
	"filtername"			"wood_barricade_filter_surv"
	"spawnflags"			"1"
	"extent"				"5 128 64"
	"origin" 				"505 -256 63"
	"StartDisabled"			"0"
	"OnTrigger" 			"wood_barricade_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"wood_barricade_template_msg,ForceSpawn,,0,-1"
}
; --- relays
{
	"targetname" 			"wood_barricade_relay_event"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger" 			"wood_barricade_prop_gascan,Break,,0,-1"
	"OnTrigger" 			"wood_barricade_prop_barricade1,Kill,,0,-1"
	"OnTrigger" 			"wood_barricade_prop_barricade2,Enable,,0,-1"
	"OnTrigger" 			"wood_barricade_prop_barricade2,Kill,,30,-1"
	"OnTrigger" 			"wood_barricade_prop_barricade3,Enable,,30,-1"
	"OnTrigger" 			"wood_barricade_prop_barricade3,Kill,,60,-1"
	"OnTrigger" 			"wood_barricade_prop_barricade4,Enable,,60,-1"
	"OnTrigger" 			"wood_barricade_vfx_explosion,Explode,,0,-1"
	"OnTrigger" 			"wood_barricade_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"wood_barricade_vfx_barricadefire,Start,,0,-1"
	"OnTrigger" 			"wood_barricade_vfx_barricadefire,Stop,,60,-1"
	"OnTrigger" 			"wood_barricade_vfx_fire,Start,,0,-1"
	"OnTrigger" 			"wood_barricade_vfx_fire,Stop,,60,-1"
	"OnTrigger" 			"wood_barricade_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"wood_barricade_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"wood_barricade_hurt_area,Enable,,0,-1"
	"OnTrigger" 			"wood_barricade_hurt_area,Disable,,60,-1"
	"OnTrigger" 			"wood_barricade_block_nav,UnblockNav,,60,-1"
	"OnTrigger" 			"wood_barricade_block_nav,Kill,,61,-1"
	"OnTrigger" 			"wood_barricade_sfx_fire,PlaySound,,0,-1"
	"OnTrigger" 			"wood_barricade_sfx_fire,Fadeout,1,60,-1"
	"OnTrigger" 			"wood_barricade_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"wood_barricade_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger" 			"wood_barricade_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger" 			"wood_barricade_hint_msg,kill,,0,-1"	
	"OnTrigger" 			"@director,ForcePanicEvent,,3,-1" ;note: disable if run car_show event
	"OnTrigger"				"wood_barricade_vfx_explosion,explode,,0,-1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"wood_barricade_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"wood_barricade_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 64 64"
	"origin" 				"-2821 -1984 -65"
	"targetname" 			"wood_barricade_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow"			"0"
}
; --- area de dano
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"				"128 64 64"
	"origin" 				"-2826 -1985 -65"
	"filtername"			"wood_barricade_filter_surv"
	"targetname" 			"wood_barricade_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 				"2"
}
; --- objetos do cenario
{
	"origin" 				"-2795 -1994 -128"
	"angles" 				"0 125 0"
	"targetname" 			"wood_barricade_filter_gascan"
	"spawnflags" 			"8"
	"model" 				"models/props_unique/wooden_barricade_gascans.mdl"
	"classname" 			"prop_physics"
	"OnIgnite" 				"wood_barricade_prop_gascan,Break,,0,-1"
	"OnBreak" 				"wood_barricade_relay_event,Trigger,,0,-1"
}
{
	"solid" 				"6"
	"origin" 				"-2826 -1985 -128"
	"angles" 				"0 90 0"
	"model"	 				"models/props_unique/wooden_barricade.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
	"StartDisabled" 		"0"
	"targetname" 			"wood_barricade_prop_barricade1"

}
{
	"solid" 				"6"
	"origin" 				"-2826 -1985 -128"
	"angles" 				"0 90 0"
	"model"	 				"models/props_unique/wooden_barricade_break1.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname" 			"wood_barricade_prop_barricade2"
}
{
	"solid" 				"6"
	"origin" 				"-2826 -1985 -128"
	"angles" 				"0 90 0"
	"model"		 			"models/props_unique/wooden_barricade_break2.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname" 			"wood_barricade_prop_barricade3"
}
{
	"solid" 				"0"
	"origin" 				"-2826 -1985 -128"
	"angles" 				"0 90 0"
	"model"	 				"models/props_unique/wooden_barricade_break3.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname" 			"wood_barricade_prop_barricade4"
}
; --- efeitos visuais
{
	"classname" 			"env_shake"
	"origin" 				"-2826 -1985 -128"
	"targetname" 			"wood_barricade_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"wood_barricade_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"wood_barricade_vfx_fire"
	"origin" 				"-2826 -1985 -128"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"env_fire_large_smoke"
	"targetname" 			"wood_barricade_vfx_barricadefire"
	"origin" 				"-2826 -1985 -128"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"100"
	"rendermode" 			"5"
	"targetname" 			"wood_barricade_vfx_explosion"
	"origin" 				"-2826 -1985 -128"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"wood_barricade_sfx_explosion"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 				"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"wood_barricade_sfx_fire"
	"origin" 				"-2826 -1985 -128"
	"health" 				"10"
	"spawnflags" 			"48"
	"radius"				"2000"
}
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"wood_barricade_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}
; --- templates
{
	"Template01" 			"wood_barricade_hint_msg"
	"targetname" 			"wood_barricade_template_msg"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"wood_barricade_hint_msg"
	"hint_target" 			"wood_barricade_hint_target"
	"hint_caption"			"Atirem nos galões e destruam a barricada"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-2790 -1985 -64"
	"hint_forcecaption"		"1"
}
{
	"origin" 				"-2790 -1985 -64"
	"targetname" 			"wood_barricade_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================