; =====================================================
; --- c3m2_swamp event:
; --- Aircraft crash tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"extent"			"5 550 64"
	"origin" 			"7289 2397 31"
	"StartDisabled"			"0"
	"targetname" 			"aircraft_tank_trigger_event"
	"filtername" 			"aircraft_tank_filter_surv"
	"spawnflags" 			"1"
	"OnTrigger"			"aircraft_tank_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"aircraft_tank_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"aircraft_tank_relay_event"
	"OnTrigger" 			"aircraft_tank_prop_plane,Enable,,0,-1"
	"OnTrigger" 			"aircraft_tank_train_plane,StartForward,,0,-1"
	"OnTrigger" 			"aircraft_tank_sfx_plane,PlaySound,,0,-1"
	"OnTrigger" 			"aircraft_tank_sfx_plane,Fadeout,1,5,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"aircraft_tank_relay_impact"
	"OnTrigger"			"aircraft_tank_relay_impact,Kill,,0,-1"
	"OnTrigger" 			"aircraft_tank_sfx_crash,PlaySound,,0,-1"
	"OnTrigger" 			"aircraft_tank_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"aircraft_tank_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"aircraft_tank_vfx_fire1,start,,0,-1"
	"OnTrigger" 			"aircraft_tank_vfx_fireplane,start,,0.5,-1"
	"OnTrigger" 			"aircraft_tank_sfx_plane,Fadeout,1,0,-1"
	"OnTrigger"			"aircraft_tank_vfx_explosion1,explode,,0,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"aircraft_tank_relay_tank"
	"OnTrigger"			"aircraft_tank_relay_tank,Kill,,0,-1"
	"OnTrigger"			"aircraft_tank_prop_plane,Disable,,0,-1"
	"OnTrigger" 			"aircraft_tank_sfx_explode,PlaySound,,0,-1"
	"OnTrigger" 			"aircraft_tank_sfx_fire,PlaySound,,0,-1"
	"OnTrigger" 			"aircraft_tank_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"aircraft_tank_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"aircraft_tank_vfx_fire2,start,,0,-1"
	"OnTrigger" 			"aircraft_tank_prop_debris,Enable,,0,-1"
	"OnTrigger" 			"aircraft_tank_trigger_hurt1,Enable,,0,-1"
	"OnTrigger" 			"aircraft_tank_trigger_hurt1,Kill,,60,-1"
	"OnTrigger" 			"aircraft_tank_trigger_hurt2,Enable,,60,-1"
	"OnTrigger" 			"aircraft_tank_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
	"OnTrigger"			"aircraft_tank_vfx_explosion2,explode,,0,-1"
}
; --- area de dano
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"origin" 			"8438 304 185"
	"filtername"			"aircraft_tank_filter_surv"
	"targetname" 			"aircraft_tank_trigger_hurt1"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
	"extent"			"200 300 64"
}
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"origin" 			"8438 304 185"
	"filtername"			"aircraft_tank_filter_surv"
	"targetname" 			"aircraft_tank_trigger_hurt2"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
	"extent"			"25 25 64"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"aircraft_tank_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- base
{
	"wheels" 			"170"
	"velocitytype" 			"2"
	"targetname" 			"aircraft_tank_train_plane"
	"target" 			"aircraft_tank_track_start"
	"startspeed" 			"0"
	"speed" 			"0"
	"startspeed" 			"1000"
	"origin" 			"6805 5009 933"
	"orientationtype" 		"1"
	"disableshadows" 		"1"
	"bank" 				"5"
	"classname" 			"func_tracktrain"
	"spawnflags" 			"512"
}
; --- track
{
	"origin" 			"6805 5009 933"
	"targetname" 			"aircraft_tank_track_start"
	"target" 			"aircraft_tank_track_target1"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"8188 1735 115"
	"targetname" 			"aircraft_tank_track_target1"
	"target" 			"aircraft_tank_track_target2"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass" 			"aircraft_tank_relay_impact,Trigger,,0,-1"

}
{
	"origin" 			"8437 404 115"
	"targetname" 			"aircraft_tank_track_target2"
	"target" 			"aircraft_tank_track_end"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass" 			"aircraft_tank_relay_tank,Trigger,,0,-1"

}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"6805 5009 933"
	"angles" 			"0 0 0"
	"model"	 			"models/lighthouse/b_airplane01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"aircraft_tank_prop_plane"
	"parentname"			"aircraft_tank_train_plane"
	"StartDisabled" 		"1"
	"DefaultAnim"			"propspin01"
}
{
	"solid" "6"
	"origin" 			"8436 402 115"
	"angles"	 		"0 -80 0"
	"model"	 			"models/props_vehicles/airplane_piperwreck.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname"			"aircraft_tank_prop_debris"
}
{
	"solid" "6"
	"origin" 			"6805 5009 933"
	"angles" 			"0 0 0"
	"model"	 			"models/props_vehicles/airplane_piperwreckglass.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname"			"aircraft_tank_prop_debris"
}
{
	"solid" "6"
	"origin" 			"8586 333 116"
	"angles" 			"0 -105 0"
	"model"	 			"models/props_vehicles/airplane_piperwing.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname"			"aircraft_tank_prop_debris"
}
{
	"solid" 			"6"
	"origin" 			"8456 260 120"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_debris/burnt_building_debrispile_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname"			"aircraft_tank_prop_debris"
}
{
	"solid" 			"6"
	"origin" 			"8430 279 120"
	"angles" 			"0 0 0"
	"model"	 			"models/props_debris/burnt_building_debrispile_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname"			"aircraft_tank_prop_debris"
}
{
	"solid" 			"6"
	"origin" 			"8461 281 157"
	"angles" 			"0 -80 0"
	"model"	 			"models/deadbodies/dead_pilot.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"StartDisabled" 		"1"
	"targetname"			"aircraft_tank_prop_debris"
}
; --- efeitos sonoros
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"animation/plane_flyover.wav"
	"spawnflags" 			"49"
	"targetname" 			"aircraft_tank_sfx_plane"
}
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"animation/planedoorblast.wav"
	"spawnflags" 			"49"
	"targetname" 			"aircraft_tank_sfx_crash"
}
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"animation/gas_station_explosion.wav"
	"spawnflags" 			"49"
	"targetname" 			"aircraft_tank_sfx_explode"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"aircraft_tank_sfx_fire"
	"origin" 			"8437 304 120"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"aircraft_tank_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 		"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 			"8188 1735 115"
	"targetname" 			"aircraft_tank_vfx_shake"
	"spawnflags" 			"1"
	"radius" 			"3000"
	"frequency" 			"250"
	"duration" 			"2"
	"amplitude" 			"4"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"aircraft_tank_vfx_fire1"
	"origin" 			"6805 5009 933"
	"parentname"			"aircraft_tank_prop_plane"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"aircraft_tank_vfx_fireplane"
	"origin" 			"6805 5009 933"
	"parentname"			"aircraft_tank_prop_plane"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"aircraft_tank_vfx_fire2"
	"origin" 			"8551 517 120"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"fire_tanker"
	"targetname" 			"aircraft_tank_vfx_fire2"
	"origin" 			"8437 304 120"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"fire_tanker"
	"targetname" 			"aircraft_tank_vfx_fire2"
	"origin" 			"8461 241 130"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"env_fire_large_smoke"
	"targetname" 			"aircraft_tank_vfx_fire2"
	"origin" 			"8437 304 120"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"100"
	"rendermode" 			"5"
	"targetname" 			"aircraft_tank_vfx_explosion1"
	"origin" 			"8188 1735 115"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"aircraft_tank_vfx_explosion2"
	"origin" 			"8551 517 120"
	"ignoredClass"			"1"
}
; --- zombie spawn
{
	"origin" 			"8448 333 185"
	"targetname" 			"aircraft_tank_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 			"0 -90 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"aircraft_tank_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}

; =====================================================