; =====================================================
; --- c11m5_runway event:
; --- Slowmotion plane crash
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- relays
modify:
{
    match:
    {
		"hammerid" 			"4257566"
    }
    insert:
    {
		"OnTrigger" 		"slowmotion_planecrash_vfx_slowmotion,Start,,23,-1"
		"OnTrigger" 		"slowmotion_planecrash_vfx_slowmotion,Stop,,24.5,-1"
		"OnTrigger" 		"slowmotion_planecrash_sfx_heart,PlaySound,,23,-1"
		"OnTrigger" 		"slowmotion_planecrash_sfx_heart,FadeOut,1,24.5,-1"
	}
}
; --- efeitos visuais
add:
{
	"classname" 			"func_timescale"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
	"targetname" 			"slowmotion_planecrash_vfx_slowmotion"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"slowmotion_planecrash_sfx_heart"
}

; =====================================================