; =====================================================
; --- c11m5_runway event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-5504 10209 60"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -60 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-5441 10337 60"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-4526 9952 -128"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================