; =====================================================
; --- c11m1_greenhouse event:
; --- Alarm hotel
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- relays
add:
{
	"classname"				"logic_auto"
	"OnMapSpawn"			"alarm_hotel_vfx_redlight,TurnOff,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"alarm_hotel_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"				"alarm_hotel_relay_event,kill,,0,-1"
	"OnTrigger" 			"alarm_hotel_prop_redlight,Skin,1,0,-1"
	"OnTrigger" 			"alarm_hotel_prop_redlight,Skin,0,60,-1"
	"OnTrigger"				"alarm_hotel_vfx_redlight,TurnOn,,0,-1"
	"OnTrigger"				"alarm_hotel_vfx_redlight,TurnOff,,60,-1"
	"OnTrigger"				"alarm_hotel_sfx_alarm,PlaySound,,0,-1"
	"OnTrigger"				"alarm_hotel_sfx_alarm,FadeOut,1,60,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
	"OnTrigger" 			"@director,BeginScript,c1_mall_onslaught,3,-1" ;c1m3 script alarm event
	"OnTrigger" 			"@director,EndScript,c1_mall_onslaught,60,-1" ;c1m3 script alarm event
}
; --- porta
{
	"origin" 				"4552 2520 100"
	"targetname" 			"hotelL"
	"speed" 				"200"
	"spawnpos" 				"0"
	"spawnflags" 			"524288"
	"returndelay" 			"-1"
	"opendir" 				"2"
	"model" 				"models/props_doors/doormainmetal01.mdl"
	"forceclosed" 			"0"
	"distance" 				"90"
	"disableshadows" 		"1"
	"angles" 				"0 180 0"
	"slavename" 			"hotelR"
	"classname" 			"prop_door_rotating"
	"OnFullyOpen" 			"alarm_hotel_relay_event,Trigger,,0,-1"
}
{
	"origin" 				"4552 2408 100"
	"targetname" 			"hotelR"
	"speed" 				"200"
	"spawnpos" 				"0"
	"spawnflags" 			"524288"
	"returndelay" 			"-1"
	"opendir" 				"1"
	"model" 				"models/props_doors/doormainmetal01.mdl"
	"forceclosed" 			"0"
	"distance" 				"90"
	"disableshadows" 		"1"
	"angles" 				"0 0 0"
	"slavename" 			"hotelL"
	"classname" 			"prop_door_rotating"
	"OnFullyOpen" 			"alarm_hotel_relay_event,Trigger,,0,-1"
}
filter:
{
	"hammerid"				"6922827"
}
{
	"hammerid"				"6922832"
}
{
	"hammerid"				"6922298"
}
{
	"hammerid"				"6922301"
}
add:
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"ambient/alarms/alarm1.wav"
	"radius" 				"10000"
	"spawnflags" 			"48"
	"origin" 				"4705 2557 379"
	"targetname" 			"alarm_hotel_sfx_alarm"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"255 0 0 0"
	"distance" 				"200"
	"origin" 				"4705 2557 359"
	"style" 				"1"
	"targetname" 			"alarm_hotel_vfx_redlight"
}
; --- objetos do cenario
{
	"classname"				"prop_dynamic"
	"solid" 				"0"
	"origin" 				"4705 2557 379"
	"angles" 				"0 0 0"
	"model"					"models/props/de_nuke/light_red2.mdl"
	"disableshadows" 		"1"
	"skin" 					"0"
	"targetname" 			"alarm_hotel_prop_redlight"
}
{
	"solid" 				"6"
	"origin" 				"4559 2578 48"
	"angles" 				"0 0 0"
	"model"	 				"models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"4559 2350 48"
	"angles" 				"0 0 0"
	"model"	 				"models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"4559 2524 177"
	"angles" 				"0 0 90"
	"model"	 				"models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c11m1_greenhouse event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"3501 44 546"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"3190 2158 296"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"6922310"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================
; =====================================================
; --- c11m1_greenhouse event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- telhado do "help! need food"
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"7879604"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"7879606"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"2875 1292 480"
	"angles" 				"-5 90 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"2873 1163 584"
	"angles" 				"-5 90 0"
	"model"			 		"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on the greenhouse rafters
{
	"classname" "env_physics_blocker"
	"origin" "6022 -632 934"
	"mins" "-2 -408 -82"
	"maxs" "2 408 82"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "6083 -990 848"
	"angles" "0 90 0"
	"model" "models/props_urban/fence001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "6084 -989 934"
	"mins" "-64 -3 -82"
	"maxs" "64 3 82"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "6083 -752 848"
	"angles" "0 90 0"
	"model" "models/props_urban/fence001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "6084 -751 934"
	"mins" "-64 -2 -82"
	"maxs" "64 2 82"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "6083 -514 848"
	"angles" "0 90 0"
	"model" "models/props_urban/fence001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "6084 -513 934"
	"mins" "-64 -2 -82"
	"maxs" "64 2 82"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "6083 -276 848"
	"angles" "0 90 0"
	"model" "models/props_urban/fence001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "6084 -275 934"
	"mins" "-64 -3 -82"
	"maxs" "64 3 82"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting on the greenhouse roof
{
	"classname" "env_physics_blocker"
	"origin" "5178 -632 1288"
	"mins" "-58 -440 -440"
	"maxs" "58 440 440"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4906 -794 1288"
	"mins" "-214 -174 -440"
	"maxs" "214 174 440"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the satellite dish roof
{
	"classname" "env_physics_blocker"
	"origin" "4880 552 1200"
	"mins" "-112 -152 -528"
	"maxs" "112 152 528"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting punched onto the AC unit by the ladder
{
	"classname" "env_physics_blocker"
	"origin" "3295 600 1280"
	"mins" "-29 -60 -448"
	"maxs" "29 60 448"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on a ledge by the one way drop
{
	"classname" "env_physics_blocker"
	"origin" "3108 1404 811"
	"mins" "-284 -4 -245"
	"maxs" "284 4 245"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Clipping on greenhouse roof supports above the saferoom area
{
	"classname" "env_physics_blocker"
	"origin" "6648 -395 1085"
	"mins" "-360 -2 -5"
	"maxs" "360 2 5"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "6648 -633 1085"
	"mins" "-360 -2 -5"
	"maxs" "360 2 5"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "6648 -752 1010"
	"mins" "-360 -2 -5"
	"maxs" "360 2 5"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Clipping on broken water tower
{
	"classname" "env_physics_blocker"
	"origin" "4032 -916 1108"
	"mins" "-160 -156 -92"
	"maxs" "160 156 92"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "4237 -808 1084"
	"mins" "-45 -48 -68"
	"maxs" "45 48 68"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Clipping on electrical box above ladder by the one way drop, replaces TLS clip
{
	"classname" "env_physics_blocker"
	"origin" "3328 1125 463"
	"angles" "20 0 0"
	"mins" "-4 -9 -13"
	"maxs" "4 9 13"
	"boxmins" "-4 -9 -13"
	"boxmaxs" "4 9 13"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Clipping on trash bags below ladder by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "4376 2682 24"
	"mins" "-23 -20 -8"
	"maxs" "23 20 8"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4377 2682 40"
	"mins" "-18 -16 -8"
	"maxs" "18 16 8"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on right-side window by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "4554 2350 53"
	"mins" "-7 -23 -5"
	"maxs" "7 23 5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4543 2350 52"
	"mins" "-1 -24 -3"
	"maxs" "1 24 3"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4554 2327.9 115"
	"angles" "0 45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4550 2327.9 115"
	"angles" "0 -45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4554 2372.1 115"
	"angles" "0 -45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4550 2372.1 115"
	"angles" "0 45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on left-side window by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "4554 2578 53"
	"mins" "-7 -23 -5"
	"maxs" "7 23 5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4543 2578 52"
	"mins" "-1 -24 -3"
	"maxs" "1 24 3"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4554 2555.9 115"
	"angles" "0 45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4550 2555.9 115"
	"angles" "0 -45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4554 2600.1 115"
	"angles" "0 -45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4550 2600.1 115"
	"angles" "0 45 0"
	"mins" "-1 -2 -61"
	"maxs" "1 2 61"
	"boxmins" "-1 -2 -61"
	"boxmaxs" "1 2 61"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix the lamp in the apartment from falling off the table
modify:
{
	match:
	{
		"targetname" "lamp3"
	}
	replace:
	{
		"spawnflags" "257"
	}
}

; =====================================================
