; =====================================================
; --- c12m3_bridge event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- objetos aleatórios
; -----------------------------------------------------
add:
{
	"solid" 				"0"
	"origin" 				"305 -11798 -31"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"305 -11798 -11"
	"style" 				"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid"                 "6"
	"origin"                "175 -11545 -32"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid"                 "6"
	"origin"                "1974 -12351 200"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid"                 "6"
	"origin"                "5897 -13695 -13"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from jumping up the cliff before the ramp
{
	"classname" "env_physics_blocker"
	"origin" "1889 -10333 127"
	"angles" "0 0 40"
	"mins" "-113 -2 -61"
	"maxs" "113 2 61"
	"boxmins" "-113 -2 -61"
	"boxmaxs" "113 2 61"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from jumping on a platform before the ramp
{
	"classname" "env_physics_blocker"
	"origin" "2310 -9864 864"
	"mins" "-124 -136 -864"
	"maxs" "124 136 864"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2464 -9720 864"
	"mins" "-32 -10 -864"
	"maxs" "32 10 864"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from jumping on a platform on the ramp
{
	"classname" "env_physics_blocker"
	"origin" "3172 -10991 980"
	"angles" "0 -6 0"
	"mins" "-70 -189 -748"
	"maxs" "70 189 748"
	"boxmins" "-70 -189 -748"
	"boxmaxs" "70 189 748"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from jumping from the train to the cliff by the event
{
	"classname" "env_physics_blocker"
	"origin" "6470 -14229 291"
	"mins" "-448.5 -157.5 -361.5"
	"maxs" "448.5 157.5 361.5"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Prevent infected from going out of bounds around the outside of the first area
{
	"classname" "env_physics_blocker"
	"origin" "-592 -9744 632"
	"mins" "-80 -1040 -504"
	"maxs" "80 1040 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-264 -9322 632"
	"mins" "-248 -528 -504"
	"maxs" "248 528 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "72 -9352 632"
	"mins" "-72 -40 -504"
	"maxs" "72 40 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2024 -8992 632"
	"mins" "-2040 -288 -504"
	"maxs" "2040 288 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3568 -11816 632"
	"mins" "-496 -168 -504"
	"maxs" "496 168 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2240 -12364 632"
	"mins" "-128 -100 -504"
	"maxs" "128 100 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2744 -12188 788"
	"mins" "-296 -52 -660"
	"maxs" "296 52 660"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2888 -12080 788"
	"mins" "-152 -56 -660"
	"maxs" "152 56 660"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1504 -12440 496"
	"mins" "-32 -24 -16"
	"maxs" "32 24 16"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "336 -12268 988"
	"mins" "-1008 -196 -476"
	"maxs" "1008 196 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-144 -11844 988"
	"mins" "-528 -228 -476"
	"maxs" "528 228 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "784 -12012 988"
	"mins" "-400 -60 -476"
	"maxs" "400 60 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "640 -11892 988"
	"mins" "-256 -60 -476"
	"maxs" "256 60 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "496 -11772 988"
	"mins" "-112 -60 -476"
	"maxs" "112 60 476"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Prevent infected from going out of bounds around the outside of the second area
{
	"classname" "env_physics_blocker"
	"origin" "2136 -13488 952"
	"mins" "-216 -992 -392"
	"maxs" "216 992 392"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3512 -14792 920"
	"mins" "-376 -104 -424"
	"maxs" "376 104 424"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10224 -14624 920"
	"mins" "-1008 -272 -424"
	"maxs" "1008 272 424"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10992 -12800 800"
	"mins" "-240 -1536 -544"
	"maxs" "240 1536 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10524 -9072 800"
	"mins" "-708 -2192 -544"
	"maxs" "708 2192 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "6912 -8560 800"
	"mins" "-768 -1680 -544"
	"maxs" "768 1680 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "6528 -9976 1536"
	"angles" "0 50 0"
	"mins" "-1008 -8 -192"
	"maxs" "1008 8 192"
	"boxmins" "-1008 -8 -192"
	"boxmaxs" "1008 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4992 -11368 1536"
	"angles" "0 35 0"
	"mins" "-1088 -8 -192"
	"maxs" "1088 8 192"
	"boxmins" "-1088 -8 -192"
	"boxmaxs" "1088 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3592 -12152 1536"
	"angles" "0 16 0"
	"mins" "-504 -8 -192"
	"maxs" "504 8 192"
	"boxmins" "-504 -8 -192"
	"boxmaxs" "504 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3088 -12280 1536"
	"mins" "-16 -8 -192"
	"maxs" "16 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5636 -10752 436"
	"mins" "-1540 -512 -180"
	"maxs" "1540 512 180"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5412 -11416 436"
	"mins" "-588 -152 -180"
	"maxs" "588 152 180"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5028 -11640 536"
	"mins" "-372 -240 -280"
	"maxs" "372 240 280"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4316 -11740 576"
	"mins" "-340 -340 -320"
	"maxs" "340 340 320"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2884 -12364 544"
	"mins" "-156 -76 -288"
	"maxs" "156 76 288"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2572 -12416 552"
	"mins" "-156 -104 -296"
	"maxs" "156 104 296"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2536 -12304 800"
	"mins" "-136 -32 -544"
	"maxs" "136 32 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2492 -12368 800"
	"mins" "-92 -32 -544"
	"maxs" "92 32 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2448 -12432 800"
	"mins" "-48 -32 -544"
	"maxs" "48 32 544"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Prevent a perma-stuck spot in the back of the train tunnel
{
	"classname" "env_physics_blocker"
	"origin" "1216 -13440 32"
	"mins" "-42 -8 -96"
	"maxs" "42 8 96"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1251 -13495 -52"
	"mins" "-60 -46.5 -12.5"
	"maxs" "60 46.5 12.5"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block a stuck spot on cliff rocks below the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "7591 -12648 -12"
	"mins" "-23 -29 -44"
	"maxs" "23 29 44"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Improve visual collision of rock cliff by the ramp
{
	"classname" "prop_dynamic"
	"origin" "2155 -10750 116"
	"angles" "-15 165 0"
	"model" "models/props_wasteland/rock_cliff01.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Solidify a non-solid tree by the bridge
{
	"classname" "prop_dynamic"
	"origin" "5553 -13119 -83"
	"angles" "0 15 0"
	"model" "models/props_foliage/trees_cluster01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
; --- Make the top section of the collapsed bridge block LOS
{
	"classname" "logic_auto"
	"OnMapSpawn" "los_collapsed_bridge_top_before,AddOutput,mins -51 -500 -0.05,0,-1"
	"OnMapSpawn" "los_collapsed_bridge_top_before,AddOutput,maxs 51 500 0.05,0,-1"
	"OnMapSpawn" "los_collapsed_bridge_top_before,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "los_collapsed_bridge_top_after,AddOutput,mins -51 -166 -0.05,0,-1"
	"OnMapSpawn" "los_collapsed_bridge_top_after,AddOutput,maxs 51 166 0.05,0,-1"
	"OnMapSpawn" "los_collapsed_bridge_top_after,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "5933 -12812 271"
	"targetname" "los_collapsed_bridge_top_before"
}
{
	"classname" "func_brush"
	"origin" "5933 -12473 271"
	"targetname" "los_collapsed_bridge_top_after"
}
modify:
{
	match:
	{
		"targetname" "boxcar_path2"
	}
	insert:
	{
		"OnPass" "los_collapsed_bridge_top_before,Kill,,0,-1"
	}
}

; =====================================================
