; =====================================================
; --- c13m4_cutthroatcreek event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-1322 4779 468"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-3920 -7800 371"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-1230 4684 468"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -45 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c13m4_cutthroatcreek event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- cachoeiras
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"2938644"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"2013420"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
{
	"solid" 				"0"
	"origin" 				"-2154 -1758 -448"
	"angles" 				"5 180 0"
	"model"	 				"models/props_highway/billboard_ladder.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"-3864 -5599 202"
	"angles" 				"-5 90 0"
	"model"	 				"models/props/cs_militia/ladderwood.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-2055 -1814 -280"
	"angles" 				"0 65 30"
	"model"	 				"models/props_vehicles/cara_95sedan_wrecked.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-2055 -1814 -280"
	"angles" 				"0 65 30"
	"model"	 				"models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Solidify trash bags
{
	"classname" "prop_dynamic"
	"origin" "-836 2341 -103"
	"angles" "0 179.413 0"
	"model" "models/props_junk/trashcluster01b.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "-1209 4012 -108"
	"angles" "0 41 0"
	"model" "models/props_junk/trashcluster01b.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "-940 4270 -112"
	"angles" "0 44.5 0"
	"model" "models/props_junk/trashcluster01b.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
; =====================================================


