; =====================================================
; --- c6m2_bedlam event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"1184 928 19"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"183 2752 -117"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"1407 4873 -160"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"5979 5445 -1064"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"792 5139 -536"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"9773 5421 -1040"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on signs in the pool room
{
	"classname" "env_physics_blocker"
	"origin" "976 576 160"
	"mins" "-20 -1 -32"
	"maxs" "20 1 32"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "894 579 132"
	"mins" "-47 -3 -60"
	"maxs" "47 3 60"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the AC units on the street before the jazz club
{
	"classname" "env_physics_blocker"
	"origin" "-49.5 3710.5 456"
	"mins" "-60.5 -30.5 -312"
	"maxs" "60.5 30.5 312"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-172 3695 392"
	"mins" "-48 -23 -376"
	"maxs" "48 23 376"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-128 4577 496"
	"mins" "-60 -31 -272"
	"maxs" "60 31 272"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the barricade in the corner of the street before the jazz club
{
	"classname" "env_physics_blocker"
	"origin" "-209.27 4589.73 408"
	"angles" "0 135 0"
	"mins" "-19.5 -48 -360"
	"maxs" "19.5 48 360"
	"boxmins" "-19.5 -48 -360"
	"boxmaxs" "19.5 48 360"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the red awning at the Jones & Sons building exit
{
	"classname" "env_physics_blocker"
	"origin" "984 3684 215"
	"mins" "-48 -19.5 -221.5"
	"maxs" "48 19.5 221.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from climbing on the props by the bus stop outside the jazz club
{
	"classname" "env_physics_blocker"
	"origin" "86 4595 287"
	"mins" "-64 -11 -319.5"
	"maxs" "64 11 319.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "217 4590 223"
	"mins" "-24 -8 -385.1"
	"maxs" "24 8 385.1"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the food cart outside the jazz club
{
	"classname" "env_physics_blocker"
	"origin" "936 4523 184"
	"mins" "-106 -54.5 -226"
	"maxs" "106 54.5 226"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the electrical box outside the jazz club
{
	"classname" "env_physics_blocker"
	"origin" "1077 4618 262"
	"mins" "-4 -29.5 -319.5"
	"maxs" "4 29.5 319.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block players from getting behind the pipes at the start of the jazz club underground
{
	"classname" "env_physics_blocker"
	"origin" "3011 4862 -279"
	"mins" "-71.5 -319 -94"
	"maxs" "71.5 319 94"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Prevent players from blocking the gates in the sewers
{
	"classname" "env_physics_blocker"
	"origin" "2545 5702 -992"
	"angles" "0 1 0"
	"mins" "-4 -44 -72"
	"maxs" "4 44 72"
	"boxmins" "-4 -44 -72"
	"boxmaxs" "4 44 72"
	"initialstate" "1"
	"BlockType" "0"
	"targetname" "player_gate_blocker1"
	"parentname" "minifinale_gate1"
}
{
	"classname" "env_physics_blocker"
	"origin" "5186 5445 -992"
	"angles" "0 1 0"
	"mins" "-4 -44 -72"
	"maxs" "4 44 72"
	"boxmins" "-4 -44 -72"
	"boxmaxs" "4 44 72"
	"initialstate" "1"
	"BlockType" "0"
	"targetname" "player_gate_blocker2"
	"parentname" "minifinale_gate2"
}
modify:
{
	match:
	{
		"targetname" "minifinale_gate1"
	}
	insert:
	{
		"OnFullyOpen" "player_gate_blocker1,Kill,,0,-1"
	}
	replace:
	{
		"spawnflags" "6"
	}
}
{
	match:
	{
		"targetname" "minifinale_gate2"
	}
	insert:
	{
		"OnFullyOpen" "player_gate_blocker2,Kill,,0,-1"
	}
	replace:
	{
		"spawnflags" "6"
	}
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Block survivors from going out of bounds behind an alley near the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "2232 -1344 382"
	"mins" "-232 -64 -370"
	"maxs" "232 64 370"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
; --- Remove some barrels that cause a perma-stuck spot in the jazz club underground
filter:
{
	"hammerid" "566242"
}
{
	"hammerid" "566238"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
;; --- Disable jukebox to prevent trolling
;modify:
;{
;	match:
;	{
;		"targetname" "jukebox_button"
;	}
;	replace:
;	{
;		"spawnflags" "33"
;	}
;}
add:
; --- Fix LOS on jukebox in pool room
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_jukebox_pool,AddOutput,mins -11 -18 -32,0,-1"
	"OnMapSpawn" "losfix_jukebox_pool,AddOutput,maxs 11 18 32,0,-1"
	"OnMapSpawn" "losfix_jukebox_pool,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "1457 1200 16"
	"targetname" "losfix_jukebox_pool"
}
{
	"classname" "env_physics_blocker"
	"origin" "1457 1200 16"
	"mins" "-11.1 -18.1 -32.1"
	"maxs" "11.1 18.1 32.1"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix gate by the bar lacking proper collisions
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_bar_fence1,AddOutput,mins -5 -0.5 -47.5,0,-1"
	"OnMapSpawn" "losfix_bar_fence1,AddOutput,maxs 5 0.5 47.5,0,-1"
	"OnMapSpawn" "losfix_bar_fence1,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_bar_fence2,AddOutput,mins -5 -0.5 -47.5,0,-1"
	"OnMapSpawn" "losfix_bar_fence2,AddOutput,maxs 5 0.5 47.5,0,-1"
	"OnMapSpawn" "losfix_bar_fence2,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_bar_fence3,AddOutput,mins -32 -0.5 -1,0,-1"
	"OnMapSpawn" "losfix_bar_fence3,AddOutput,maxs 32 0.5 1,0,-1"
	"OnMapSpawn" "losfix_bar_fence3,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "437 1943.5 -16.5"
	"targetname" "losfix_bar_fence1"
}
{
	"classname" "func_brush"
	"origin" "491.5 1943.5 -16.5"
	"targetname" "losfix_bar_fence2"
}
{
	"classname" "func_brush"
	"origin" "464 1943.5 32"
	"targetname" "losfix_bar_fence3"
}
; --- Fix right end of jazz club awning having no collision
{
	"classname" "prop_dynamic"
	"origin" "1793 4680 192"
	"angles" "0 180 0"
	"model" "models/props_waterfront/awning_system_64.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
filter:
; --- Remove a set of elevator doors after the jazz club to open up a room for spawns
{
	"hammerid" "566623"
}
; --- Remove some of the breakable walls in the room on the left under the jazz club
{
	"hammerid" "565850"
}
{
	"hammerid" "565846"
}
{
	"hammerid" "565860"
}
; --- Clipping on debris piles at the drop into the sewer
add:
{
	"classname" "env_physics_blocker"
	"origin" "675 4866 -1184"
	"mins" "-78 -46.5 -8"
	"maxs" "78 46.5 8"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "675 4866 -1168"
	"mins" "-72 -40.5 -8"
	"maxs" "72 40.5 8"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "634 4867 -1156"
	"mins" "-17.5 -28.5 -4"
	"maxs" "17.5 28.5 4"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on non-solid debris pile for consistency with water movement speed
{
	"classname" "env_physics_blocker"
	"origin" "678 5316 -1185"
	"mins" "-118 -120 -7"
	"maxs" "118 120 7"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add collision to non-solid section of pipe in the sewer
{
	"classname" "env_physics_blocker"
	"origin" "4768 4748 -1076"
	"mins" "-27 -436.5 -6"
	"maxs" "27 436.5 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Remove non-static traffic barrels
filter:
{
	"classname" "prop_physics"
	"model" "models/props_fairgrounds/traffic_barrel.mdl"
}

; =====================================================
