; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Disable jukebox to prevent trolling
;modify:
;{
;	match:
;	{
;		"targetname" "InstanceAuto1-jukebox_button"
;	}
;	replace:
;	{
;		"spawnflags" "33"
;	}
;}
; --- Add missing glass to vehicles
add:
{
	"classname" "prop_dynamic"
	"origin" "1279.3 3009.6 124.008"
	"angles" "-0.560039 183.491 0.967657"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Solidify awning on store at the top of the ramp
{
	"classname" "prop_dynamic"
	"origin" "607.7 1759.75 296.467"
	"angles" "0 180.0 0"
	"model" "models/props_street/awning_department_store.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}

; =====================================================
