; =====================================================
; --- c2m4_barns event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- triggers que impedem o plugin fortnite emotes de funcionar
; --- https://forums.alliedmods.net/showthread.php?t=318981
; -----------------------------------------------------
filter:
{
	"hammerid" 				"2232420"
}
; -----------------------------------------------------
; --- saferoom inicial
; --- props by https://github.com/SirPlease/L4D2-Competitive-Rework/
; -----------------------------------------------------
add:
; --- Objetos do cenário
{
	"solid" 				"0"
	"origin" 				"2562 3550 -191"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"2873 3484 -188"
	"angles" 				"0 90 0"
	"model" 				"models/props_urban/garbage_can002.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3047 3259 -182"
	"angles" 				"0 90 0"
	"model" 				"models/props_junk/trashcluster01a.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3290 3789 -188"
	"angles" 				"0 224.5 0"
	"model" 				"models/props/cs_militia/boxes_garage_lower.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3344 3789 -188"
	"angles" 				"0 0 0"
	"model" 				"models/props/de_nuke/crate_small.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3329 3873 -188"
	"angles" 				"0 0 0"
	"model" 				"models/props/de_nuke/crate_extralarge.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3250 3851 -188"
	"angles" 				"0 176.5 0"
	"model" 				"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
	"skin" 					"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3264 3853 -188"
	"angles" 				"0 176.5 0"
	"model" 				"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
	"skin" 					"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3353 3559 -129"
	"angles" 				"-6.5 180 90"
	"model" 				"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
	"skin" 					"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3339 3588 -188"
	"angles" 				"0 178.5 0"
	"model" 				"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
	"skin" 					"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3325 3585 -188"
	"angles" 				"0 180 0"
	"model" 				"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
	"skin" 					"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 				"3116.37 3860.39 -187.75"
	"angles" 				"0 180 0"
	"model" 				"models/props_urban/wood_railing001_128.mdl"
	"solid" 				"6"
	"disableshadows" 		"1"
	"lightingorigin" 		"start_railing_lighting"
}
; --- blocos invisiveis
{
	"classname" 			"env_physics_blocker"
	"origin" 				"3257 3852 -163"
	"angles" 				"0 -3.5 0"
	"mins" 					"-8 -65 -24"
	"maxs" 					"8 65 24"
	"boxmins" 				"-8 -65 -24"
	"boxmaxs" 				"8 65 24"
	"initialstate" 			"1"
	"BlockType" 			"0"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 				"3332 3585 -164"
	"mins" 					"-8 -64 -24"
	"maxs" 					"9 64 24"
	"initialstate" 			"1"
	"BlockType" 			"0"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"2562 3550 -171"
	"style" 				"1"
}
; --- Fix do alvo de luz
{
	"classname" 			"info_target"
	"origin" 				"3116 3732 -188"
	"targetname" 			"start_railing_lighting"
}
. --- area do teleporte
{
	"classname" 			"logic_auto"
	"OnMapSpawn"			"teleport_spawn_trigger_area1,AddOutput,mins -46 -46 -63,0,-1"
	"OnMapSpawn" 			"teleport_spawn_trigger_area1,AddOutput,maxs 46 46 63,0,-1"
	"OnMapSpawn" 			"teleport_spawn_trigger_area1,AddOutput,solid 2,0,-1"
	"OnMapSpawn" 			"teleport_spawn_trigger_area2,AddOutput,mins -30 -30 -30,0,-1"
	"OnMapSpawn" 			"teleport_spawn_trigger_area2,AddOutput,maxs 30 30 30,0,-1"
	"OnMapSpawn" 			"teleport_spawn_trigger_area2,AddOutput,solid 2,0,-1"
}
{
	"classname" 			"trigger_teleport"
	"origin" 				"3329 3873 -124"
	"targetname" 			"teleport_spawn_trigger_area1"
	"filtername" 			"teleport_spawn_filter_surv"
	"spawnflags" 			"1"
	"StartDisabled" 		"0"
	"target" 				"teleport_spawn_target_area"
}
{
	"classname" 			"trigger_teleport"
	"origin" 				"3344 3789 -156"
	"targetname" 			"teleport_spawn_trigger_area2"
	"filtername" 			"teleport_spawn_filter_surv"
	"spawnflags" 			"1"
	"StartDisabled" 		"0"
	"target" 				"teleport_spawn_target_area"
}
; --- alvo do teleporte
{
	"classname" 			"info_teleport_destination"
	"origin" 				"3060 3579 -179"
	"angles" 				"0 180 0"
	"targetname" 			"teleport_spawn_target_area"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"teleport_spawn_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"1717496"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- remover janela do quiosque proximo a porta do celeiro
; -----------------------------------------------------
;remover janela
filter:
{
	"hammerid" 				"1405561"
}
; remover nav block da janela
{
	"hammerid" 				"2048119"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-2729 1277 -43"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -45 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"-1066 540 -191"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 180 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-1083 541 -192"
	"angles" 				"0 180 0"
	"model"	 				"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"1590 1501 -148"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1874 781 -192"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-572 944 -192"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-440 15 -163"
	"model"		 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================
; =====================================================
; --- c2m4_barns event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- telhado do celeiro
; -----------------------------------------------------
filter:
; remover bloqueios de navegação das escadas
{
	"hammerid" 				"2360681"
}
{
	"hammerid" 				"2360392"
}
{
	"hammerid" 				"2360441"
}
; --- objetos do cenario
add:
{
	"origin" 				"-1543.09 -242.915 32"
	"solid" 				"6"
	"model" 				"models/props/de_train/ladderaluminium.mdl"
	"disableshadows" 		"1"
	"angles" 				"-45 180 0"
	"classname" 			"prop_dynamic"
}
{
	"origin" 				"-2440.87 -409.563 -130"
	"solid" 				"6"
	"model" 				"models/props/de_train/ladderaluminium.mdl"
	"disableshadows" 		"1"
	"angles" 				"-45 180 0"
	"classname" 			"prop_dynamic"
}
{
	"origin" 				"-839.09 -242.915 32"
	"solid" 				"6"
	"model" 				"models/props/de_train/ladderaluminium.mdl"
	"disableshadows" 		"1"
	"angles" 				"-45 180 0"
	"classname" 			"prop_dynamic"
}
; -----------------------------------------------------
; --- andaime
; -----------------------------------------------------
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-2784 1247 -153"
	"angles" 				"5 89 0"
	"model"	 				"models/props_c17/metalladder001.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
; --- escada
{
	"classname" 			"func_simpleladder"
	"origin" 				"-4337 -1868 73"
	"angles" 				"0 270 0"
	"model" 				"*66"
	"normal.x" 				"0.00"
	"normal.y" 				"-1.00"
	"normal.z" 				"0.00"
	"team" 					"0"
}

; =====================================================