; =====================================================
; --- c2m4_barns event:
; --- Shortcut for those who are late
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"script_trigger_once"
	"targetname" 			"cut_way_trigger_event"
	"filtername" 			"cut_way_filter_surv"
	"spawnflags" 			"1"
	"extent"				"5 256 64"
	"StartDisabled"			"0"
	"origin" 				"-2185 -270 153"
	"OnTrigger" 			"barn_tank_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"cut_way_relay_gate,Trigger,,0,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"cut_way_relay_gate"
	"OnTrigger" 			"cut_way_relay_gate,Kill,,0,-1"
	"OnTrigger"				"cut_way_door_gate,Open,,0,-1"
	"OnTrigger" 			"cut_way_hint_msg,ShowHint,,0,-1"
	"OnTrigger" 			"cut_way_block_nav,UnblockNav,,0,-1"
	"OnTrigger" 			"cut_way_block_nav,Kill,,0,-1"
	"OnTrigger" 			"cut_way_block_player,Kill,,0,-1"
	"OnTrigger" 			"cut_way_sfx_gate,PlaySound,,0,-1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"cut_way_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"cut_way_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 64 64"
	"origin" 				"-2118 461 -129"
	"targetname" 			"cut_way_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
    "classname" 			"env_physics_blocker"
    "maxs" 					"5 64 64"
    "mins" 					"-5 -64 -64"
	"origin" 				"-2118 461 -129"
    "initialstate" 			"1"
    "BlockType" 			"0"
	"targetname" 			"cut_way_block_player"
}
filter:
{
	"hammerid" 				"2018662"
}
{
	"hammerid" 				"2360439"
}
add:
; --- Objetos do cenario
{
	"origin" 				"-2118.13 397.119 -191.75"
	"solid" 				"6"
	"model" 				"models/props_urban/fence_post002.mdl"
	"disableshadows" 		"1"
	"angles" 				"0 0 0"
	"classname" 			"prop_dynamic"
}
filter:
{
	"hammerid" 				"2060153"
}
{
	"hammerid" 				"587245"
}
add:
; --- porta
{
	"solid" 				"0"
	"origin" 				"-2118 460 -183"
	"angles" 				"0 0 0"
	"model"	 				"models/props_urban/fence_gate001_256.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname"			"cut_way_door_gate"
	"targetname"			"cut_way_prop_gate"
}
{
	"origin" 				"-2118.13 397.119 -182.7"
	"angles" 				"0 0 0"
	"speed" 				"50"
	"spawnpos" 				"0"
	"spawnflags" 			"32768"
	"returndelay" 			"-1"
	"opendir" 				"2"
	"model" 				"models/props_urban/fence_gate_post001.mdl"
	"forceclosed" 			"0"
	"distance" 				"135"
	"disableshadows" 		"1"
	"classname" 			"prop_door_rotating"
	"targetname"			"cut_way_door_gate"
}
; --- efeitos sonoros
{	
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"doors/gate_move1.wav"
	"spawnflags" 			"49"
	"targetname" 			"cut_way_sfx_gate"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"cut_way_hint_msg"
	"hint_target" 			"cut_way_hint_target"
	"hint_caption"			"Os atrasados podem cortar caminho por aqui"
	"hint_range" 			"500"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_door"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-2118 460 -64"
}
{
	"origin" 				"-2118 460 -64"
	"targetname" 			"cut_way_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================