; =====================================================
; --- c5m4_quarter event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"686116"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
; --- objetos do cenario
filter:
{
	"hammerid" 				"2813831"
}
add:
{
	"solid" 				"0"
	"origin" 				"-3311 3077 64"
	"angles" 				"0 180 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"-3311 3077 84"
	"style" 				"1"
}
; -----------------------------------------------------
; --- salas do trator abertas
; -----------------------------------------------------
; --- relays
add:
{
	"classname"				"logic_auto"
	"OnMapSpawn" 			"courtyard_spawn_relay,Trigger,,0,-1"
}
; --- objetos do cenario
filter:
{
	"hammerid" 				"870945"	
}
{
	"hammerid" 				"870961"	
}
; -----------------------------------------------------
; --- ativar carros com alarme
; -----------------------------------------------------
; --- relays
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"relay_caralarm_on-car3_alarm,Trigger,,0,-1"
	"OnMapSpawn" 			"relay_caralarm_on-car2_alarm,Trigger,,0,-1"
	"OnMapSpawn" 			"relay_caralarm_on-car1_alarm,Trigger,,0,-1"
}
filter:
{
	"hammerid" 				"3127218"
}
{
	"hammerid" 				"3506307"
}
{
	"hammerid" 				"3507773"
}
{
	"hammerid" 				"3509736"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-659 283 256"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 180 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"403 -2592 62"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 90 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"406 -2576 62"
	"angles" 				"0 90 0"
	"model"	 				"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-1917 2707 67"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1613 1534 67"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1115 481 273"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-2481 -402 134"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"1478 -3692 64"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"350 -2358 63"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"1614 -3492 64"
	"angles" 				"0 0 0"
	"model"	 				"models/props/de_prodigy/concretebags.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"1332 -3672 64"
	"angles" 				"0 -125 0"
	"model"	 				"models/props/cs_assault/handtruck.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; =====================================================
; =====================================================
; --- c5m4_quarter event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- trator
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"558194"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-1418 815 151"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; -----------------------------------------------------
; --- snooker pub
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"680799"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-1769 -1494 148"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; -----------------------------------------------------
; --- hotel
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"834613"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-1222 2066 156"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; -----------------------------------------------------
; --- beco da primeira rua
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"1637813"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin"				 "-2976 3443 132"
	"angles" 				"-5 -90 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
filter:
; --- escadas
{
	"hammerid"			"1813856"
}

; =====================================================