; =====================================================
; --- c5m4_quarter event:
; --- Scavenger tractor
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
modify:
{	
	match:
	{
		"hammerid" 			"1628615"
	}
	delete:
	{
		"glow" 				"tractor_lever_model"
	}
	insert:
	{
		"OnPressed" 		"tractor_lever_model,StopGlowing,,0,-1"
	}
}
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn"			"tractor_button,Lock,,0,-1"
	"OnMapSpawn" 			"tractor_lever_model,StopGlowing,,0,-1"
	"OnMapSpawn" 			"tractor_gas_prop_gas,TurnGlowsOff,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"targetname" 			"tractor_gas_trigger_event"
	"filtername" 			"tractor_gas_filter_surv"
	"spawnflags" 			"1"
	"extent"				"5 32 64"
	"StartDisabled"			"0"
	"origin" 				"-568 804 480"
	"OnTrigger" 			"tractor_gas_trigger_event,kill,,0,-1"
	"OnTrigger" 			"tractor_gas_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"tractor_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"tractor_gas_relay_event,kill,,0,-1"
	"OnTrigger" 			"tractor_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"tractor_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"tractor_gas_prop_gas,TurnGlowsOn,,0,-1"
	"OnTrigger"				"tractor_gas_hint_msggas,ShowHint,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"tractor_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"tractor_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"tractor_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger" 			"tractor_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnTrigger" 			"tractor_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"				"tractor_gas_hint_msggas,Kill,,0,-1"
	"OnTrigger" 			"tractor_lever_model,StartGlowing,,0,-1"
	"OnTrigger" 			"tractor_button,Unlock,,0,-1"
	"OnTrigger"				"button_proxy,ShowHint,,0,-1"
}
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"tractor_gas_hud_display"
	"max" 					"6"
}
; --- contador
{
	"classname" 			"math_counter"
	"max" 					"6"
	"targetname" 			"tractor_gas_counter_gas"
	"OnHitMax"				"tractor_gas_counter_gas,Kill,,0,-1"	
	"OnHitMax"				"tractor_gas_relay_counter,Trigger,,0,-1"
}
; --- filtro de equipe
{
	"targetname" 			"tractor_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 				"tractor_gas_prop_fuel"
	"origin" 				"-1568 208 135"
	"spawnflags" 			"1"
	"targetname" 			"tractor_gas_target_gas"
	"OnUseFinished" 		"tractor_gas_counter_gas,Add,1,0,-1"
}
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-1564 188 63"
	"angles" 				"0 180 -31"
	"model"	 				"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"tractor_gas_prop_fuel"
	"parentname" 			"float_tracktrain"
}
; --- galões
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"tractor_gas_prop_gas"
	"origin" 				"-1182 98 97"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"tractor_gas_prop_gas"
	"origin" 				"-1007 943 68"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"tractor_gas_prop_gas"
	"origin" 				"-592 943 259"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"tractor_gas_prop_gas"
	"origin" 				"-1424 1003 71"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"tractor_gas_prop_gas"
	"origin" 				"-1711 -335 65"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"tractor_gas_prop_gas"
	"origin" 				"-352 271 68"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"tractor_gas_hint_msggas"
	"hint_target" 			"tractor_gas_target_msggas"
	"hint_caption"			"Abasteçam o trator"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-1536 152 124"
}
{
	"origin" 				"-1568 208 155"
	"targetname" 			"tractor_gas_target_msggas"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"button_proxy" ;don't rename
	"hint_target" 			"tractor_gas_target_msgbutton"
	"hint_caption"			"Liguem a trator"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-1536 152 124"
}
{
	"origin" 				"-1536 152 124"
	"targetname" 			"tractor_gas_target_msgbutton"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 				"1628627"
}

; =====================================================