; =====================================================
; --- c4m2_sugarmill_a event:
; --- Elevator scavenger
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"button_callelevator,Lock,,0,-1"
	"OnMapSpawn" 			"elevator_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnMapSpawn" 			"prop_elevator_callbutton_top,Disable,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"extent"			"196 5 256"
	"origin" 			"-563 -8437 351"
	"targetname" 			"elevator_gas_trigger_event"
	"filtername" 			"elevator_gas_filter_surv"
	"spawnflags" 			"1"
	"StartDisabled"			"0"
	"OnTrigger" 			"elevator_gas_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"elevator_gas_relay_event,Trigger,,0,-1"
}
; --- botoes
{
	"classname"			"logic_auto"
	"OnMapSpawn"			"elevator_gas_button_gen,Lock,,0,-1"
}
{
	"classname" 			"func_button"
	"origin" 			"-1200 -8863 143"
	"spawnflags" 			"1024"
	"targetname" 			"elevator_gas_button_gen"
	"glow" 				"elevator_gas_prop_buttongen"
	"sounds" 			"4"
	"locked_sound"			"11"
	"OnPressed" 			"elevator_gas_button_gen,Kill,,0,-1"
	"OnPressed" 			"elevator_gas_relay_startgen,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"elevator_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"elevator_gas_relay_event,kill,,0,-1"
	"OnTrigger" 			"elevator_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_gas,TurnGlowsOn,,0,-1"
	"OnTrigger"			"elevator_gas_hint_msggen,ShowHint,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"elevator_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"elevator_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"elevator_gas_button_gen,Unlock,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_buttongen,StartGlowing,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger" 			"elevator_gas_hint_msgbutton,ShowHint,,0,-1"
	"OnTrigger" 			"elevator_gas_hint_msggen,kill,,0,-1"
	"OnTrigger" 			"elevator_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"			"elevator_gas_target_gas,kill,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_gas,TurnGlowsOff,,0,-1"

}
{
	"classname" 			"logic_relay"
	"targetname" 			"elevator_gas_relay_startgen"
	"spawnflags" 			"1"
	"OnTrigger" 			"elevator_gas_relay_startgen,Kill,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"button_callelevator,Unlock,,3,-1"
	"OnTrigger" 			"prop_elevator_callbutton_top,Enable,,3,-1"
	"OnTrigger" 			"elevator_gas_prop_fakeelevatorbutton,Kill,,3,-1"
	"OnTrigger" 			"elevator_gas_sfx_smokegen,Start,,3,-1"
	"OnTrigger" 			"elevator_gas_sfx_gen,PlaySound,,0,-1"
	"OnTrigger" 			"elevator_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"elevator_gas_vfx_spark,StartSpark,,3,-1"
	"OnTrigger" 			"event_elevator,ShowHint,,3,-1"
	"OnTrigger" 			"elevator_gas_hint_msgbutton,Kill,,0,-1"
	"OnTrigger" 			"elevator_gas_vfx_genlight,LightOn,,3,-1"
}
modify:
{
	match:
	{
		"hammerid" 		"1303445"
	}
	insert:
	{
		"OnReachedBottom" 	"elevator_gas_sfx_gen,FadeOut,1,30,-1"
		"OnReachedBottom" 	"elevator_gas_sfx_smokegen,Stop,,30,-1"
		"OnReachedBottom" 	"elevator_gas_vfx_spark,StopSpark,,30,-1"
		"OnReachedBottom" 	"elevator_gas_vfx_genlight,LightOff,,30,-1"
	}
}
add:
; --- contador
add:
{
	"classname" 			"math_counter"
	"max" 				"6"
	"targetname" 			"elevator_gas_counter_gas"
	"OnHitMax" 			"elevator_gas_counter_gas,Kill,,0,-1"
	"OnHitMax" 			"elevator_gas_relay_counter,Trigger,,0,-1"
}
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"elevator_gas_hud_display"
	"max" 				"6"
}
add:
; --- filtro de equipe
{
	"targetname" 			"elevator_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 			"elevator_gas_prop_fuel"
	"origin" 			"-1112 -8874 150"
	"spawnflags" 			"1"
	"targetname" 			"elevator_gas_target_gas"
	"OnUseFinished" 		"elevator_gas_counter_gas,Add,1,0,-1"
}
; --- efeitos sonoros 
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"dlc.Generator_start_run_loop"
	"radius" 			"2000"
	"spawnflags" 			"48"
	"targetname" 			"elevator_gas_sfx_gen"
	"SourceEntityName" 		"elevator_gas_prop_gen"
}
; --- efeitos visuais
{
	"origin" 			"-1118 -8886 135"
	"targetname" 			"elevator_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"origin" 			"-1118 -8863 135"
	"targetname" 			"elevator_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"classname" 			"env_spark"
	"origin" 			"-1171 -8880 410"
	"targetname" 			"elevator_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"classname" 			"env_spark"
	"origin" 			"-1255 -9147 862"
	"targetname" 			"elevator_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"classname" 			"env_spark"
	"origin" 			"-1408 -9488 742"
	"targetname" 			"elevator_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"origin" 			"-1181 -8887 193"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 			"25 0 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"elevator_gas_vfx_genlight"
}
{
	"origin" 			"-1172 -8865 323"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 			"25 90 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"elevator_gas_vfx_genlight"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"-1168 -8875 96"
	"angles" 			"0 90 0"
	"model"	 			"models/props_vehicles/radio_generator.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"elevator_gas_prop_gen"
}
{
	"solid" 			"0"
	"origin" 			"-1168 -8879 96"
	"angles" 			"0 90 0"
	"model"	 			"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"elevator_gas_prop_fuel"
}
{
	"solid" 			"0"
	"origin" 			"-1404.08 -9489.11 652.497"
	"angles" 			"0 90 0"
	"model" 			"models/props_mill/freightelevatorbutton01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"elevator_gas_prop_fakeelevatorbutton"
}
{
	"solid" 			"0"
	"origin" 			"-1168 -8875 96"
	"angles" 			"0 180 0"
	"model"	 			"models/props_vehicles/floodlight_generator_switch01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"elevator_gas_prop_buttongen"
}
; --- cabos
{
	"origin" 			"-1171 -8880 410"
	"targetname" 			"elevator_gas_rope_1"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"elevator_gas_rope_2"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"-1255 -9147 862"
	"targetname" 			"elevator_gas_rope_2"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"elevator_gas_rope_3"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"-1408 -9488 742"
	"targetname" 			"elevator_gas_rope_3"
	"classname" 			"keyframe_rope"
}
; --- galões
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"elevator_gas_prop_gas"
	"origin" 			"-1919 -9188 96"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"elevator_gas_prop_gas"
	"origin" 			"-396 -8780 98"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"elevator_gas_prop_gas"
	"origin" 			"-1560 -8952 352"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"elevator_gas_prop_gas"
	"origin" 			"-384 -9316 365"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"elevator_gas_prop_gas"
	"origin" 			"-1919 -8655 618"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"elevator_gas_prop_gas"
	"origin" 			"-380 -8731 626"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"elevator_gas_hint_msggen"
	"hint_target" 			"elevator_gas_target_msggen"
	"hint_caption"			"Abasteçam o gerador para ligar o elevador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-1141 -8875 200"
}
{
	"origin" 			"-1141 -8875 200"
	"targetname" 			"elevator_gas_target_msggen"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"elevator_gas_hint_msgbutton"
	"hint_target" 			"elevator_gas_target_msgbutton"
	"hint_caption"			"Liguem o gerador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_button"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-1141 -8875 200"
}
{
	"origin" 			"-1141 -8875 200"
	"targetname" 			"elevator_gas_target_msgbutton"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"event_elevator" //don't rename//
	"hint_target" 			"elevator_gas_target_msgpanel"
	"hint_caption"			"Chamem o elevador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_button"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-1411.21 -9479 683.993"
}
{
	"origin" 			"-1411.21 -9479 683.993"
	"targetname" 			"elevator_gas_target_msgpanel"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 			"39711"
}

; =====================================================