; =====================================================
; --- c8m3_sewers event:
; --- Scavenger lift
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- ativadores
filter:
{
	"hammerid" 			"5938307"
}
{
	"hammerid" 			"6553305"
}
modify:
{	
	match:
	{
		"hammerid" 		"8066368"
	}
	delete:
	{
		"glow" 			"washer_lift_button_model"
	}
	insert:
	{
		"OnPressed" 		"washer_lift_button_model,StopGlowing,,0,-1"
	}
}
{
	match:
	{
		"hammerid" 		"6553260"
	}
	insert:
	{
		"OnReachedTop" 		"lift_gas_sfx_gen,FadeOut,1,30,-1"
		"OnReachedTop" 		"lift_gas_vfx_smokegen,Stop,,30,-1"
		"OnReachedTop" 		"lift_gas_vfx_spark,StopSpark,,30,-1"
		"OnReachedTop" 		"lift_gas_vfx_genlight,LightOff,,30,-1"
	}
}
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn"			"washer_lift_button2,Lock,,0,-1"
	"OnMapSpawn" 			"lift_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnMapSpawn"			"washer_lift_button_model,Disable,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"targetname" 			"lift_gas_trigger_event"
	"filtername" 			"lift_gas_filter_surv"
	"spawnflags" 			"1"
	"extent"			"330 5 64"
	"StartDisabled"			"0"
	"origin" 			"10849 5947 79"
	"OnTrigger" 			"lift_gas_trigger_event,kill,,0,-1"
	"OnTrigger" 			"lift_gas_relay_event,Trigger,,0,-1"
}
; --- botoes
{
	"classname"			"logic_auto"
	"OnMapSpawn"			"lift_gas_button_gen,Lock,,0,-1"
}
{
	"classname" 			"func_button"
	"origin" 			"10650 6579 56"
	"spawnflags" 			"1024"
	"targetname" 			"lift_gas_button_gen"
	"glow" 				"lift_gas_prop_buttongen"
	"sounds" 			"4"
	"locked_sound"			"11"
	"OnPressed" 			"lift_gas_button_gen,Kill,,0,-1"
	"OnPressed" 			"lift_gas_relay_startgen,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"lift_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"lift_gas_relay_event,kill,,0,-1"
	"OnTrigger" 			"lift_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"lift_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"lift_gas_prop_gas,TurnGlowsOn,,0,-1"
	"OnTrigger"			"lift_gas_hint_msggas,ShowHint,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"lift_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"lift_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"lift_gas_button_gen,Unlock,,0,-1"
	"OnTrigger" 			"lift_gas_prop_buttongen,StartGlowing,,0,-1"
	"OnTrigger" 			"lift_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger" 			"lift_gas_hint_msgbutton,ShowHint,,0,-1"
	"OnTrigger"			"lift_gas_hint_msggas,kill,,0,-1"
	"OnTrigger" 			"lift_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger"			"lift_gas_target_gas,kill,,0,-1"
	"OnTrigger" 			"lift_gas_prop_gas,TurnGlowsOff,,0,-1"

}
{
	"classname" 			"logic_relay"
	"targetname" 			"lift_gas_relay_startgen"
	"spawnflags" 			"1"
	"OnPressed" 			"lift_gas_relay_startgen,Kill,,0,-1"
	"OnTrigger" 			"lift_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"washer_lift_button_model,StartGlowing,,0,-1"
	"OnTrigger" 			"washer_lift_button2,Unlock,,0,-1"
	"OnTrigger" 			"washer_lift_button_model,Enable,,3,-1"
	"OnTrigger" 			"lift_gas_prop_fakeelevatorbutton,Kill,,3,-1"
	"OnTrigger" 			"lift_gas_vfx_smokegen,Start,,3,-1"
	"OnTrigger" 			"lift_gas_sfx_gen,PlaySound,,0,-1"
	"OnTrigger" 			"lift_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"lift_gas_vfx_spark,StartSpark,,3,-1"
	"OnTrigger"			"washer_button_game_event,ShowHint,,3,-1"
	"OnTrigger" 			"lift_gas_hint_msgbutton,Kill,,0,-1"
	"OnTrigger" 			"lift_gas_vfx_genlight,LightOn,,3,-1"
}
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"lift_gas_hud_display"
	"max" 				"6"
}
; --- contador
{
	"classname" 			"math_counter"
	"max" 				"6"
	"targetname" 			"lift_gas_counter_gas"
	"OnHitMax"			"lift_gas_counter_gas,Kill,,0,-1"	
	"OnHitMax"			"lift_gas_relay_counter,Trigger,,0,-1"
}
; --- filtro de equipe
{
	"targetname" 			"lift_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 			"lift_gas_prop_fuel"
	"origin" 			"10697 6515 66"
	"spawnflags" 			"1"
	"targetname" 			"lift_gas_target_gas"
	"OnUseFinished" 		"lift_gas_counter_gas,Add,1,0,-1"
}
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"10656 6551 11"
	"angles" 			"0 45 0"
	"model"	 			"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"lift_gas_prop_fuel"
}
{
	"solid" 			"6"
	"origin" 			"10659 6554 10"
	"angles" 			"0 45 0"
	"model"	 			"models/props_vehicles/radio_generator.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"lift_gas_prop_gen"
}
{
	"solid" 			"0"
	"origin" 			"10659 6554 10"
	"angles" 			"0 135 0"
	"model"	 			"models/props_vehicles/floodlight_generator_switch01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"lift_gas_prop_buttongen"
}
{
	"solid" 			"0"
	"origin" 			"12668 7248 15"
	"angles" 			"0 180 0"
	"model" 			"models/hybridphysx/animated_construction_lift_button.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"lift_gas_prop_fakeelevatorbutton"
}
; --- cabos
{
	"origin" 			"10652 6553 324"
	"targetname" 			"lift_gas_rope_1"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"lift_gas_rope_2"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"11007 6783 538"
	"targetname" 			"lift_gas_rope_2"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"lift_gas_rope_3"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"12487 7359 248"
	"targetname" 			"lift_gas_rope_3"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"lift_gas_rope_4"
	"classname" 			"keyframe_rope"
	"Slack"				"100"
}
{
	"origin" 			"12643 7256 28"
	"targetname" 			"lift_gas_rope_4"
	"classname" 			"keyframe_rope"
}
; --- efeitos sonoros 
{	
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"dlc.Generator_start_run_loop"
	"radius" 			"2000"
	"spawnflags" 			"48"
	"targetname" 			"lift_gas_sfx_gen"
	"SourceEntityName" 		"lift_gas_prop_gen"
}
; --- efeitos visuais
{
	"origin" 			"10685 6510 50"
	"targetname" 			"lift_gas_vfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"origin" 			"10702 6527 50"
	"targetname" 			"lift_gas_vfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"classname" 			"env_spark"
	"origin" 			"10652 6553 324"
	"targetname" 			"lift_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"classname" 			"env_spark"
	"origin" 			"12643 7256 28"
	"targetname" 			"lift_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"			"2"
}
{
	"origin" 			"10662 6564 237"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 			"25 45 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"lift_gas_vfx_genlight"
}
{
	"origin" 			"10641 6554 107"
	"spotlightwidth" 		"10"
	"spotlightlength" 		"1"
	"spawnflags" 			"0"
	"rendercolor" 			"255 0 0"
	"renderamt" 			"8"
	"angles" 			"25 -45 0"
	"classname" 			"beam_spotlight"
	"targetname" 			"lift_gas_vfx_genlight"
}
; --- galões
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"lift_gas_prop_gas"
	"origin" 			"11265 6070 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"lift_gas_prop_gas"
	"origin" 			"11024 7535 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"lift_gas_prop_gas"
	"origin" 			"12687 7535 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"lift_gas_prop_gas"
	"origin" 			"11781 5656 20"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"lift_gas_prop_gas"
	"origin" 			"10545 5970 16"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"lift_gas_prop_gas"
	"origin" 			"12655 5559 160"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"lift_gas_hint_msggas"
	"hint_target" 			"lift_gas_prop_gen"
	"hint_caption"			"Abasteçam o gerador para ligar o andaime"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"10659 6554 10"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"lift_gas_hint_msgbutton"
	"hint_target" 			"lift_gas_prop_gen"
	"hint_caption"			"Liguem o gerador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_button"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"10659 6554 10"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"washer_button_game_event" //don't rename//
	"hint_target" 			"lift_gas_target_msgbutton"
	"hint_caption"			"Liguem o andaime"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_button"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"12639 7324 117"
}
{
	"origin" 			"12639 7324 117"
	"targetname" 			"lift_gas_target_msgbutton"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 			"6553303"
}

; =====================================================
