; =====================================================
; --- c8m3_sewers event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"4045747"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; -----------------------------------------------------
; --- elevator area
; -----------------------------------------------------
add:
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"10905 6702 16"
	"angles" 			"0 -59 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"10905 6702 36"
	"style" 			"1"
}

; -----------------------------------------------------
; --- elevador
; -----------------------------------------------------
add:
; --- blocos invisiveis
{
	"classname" 			"env_physics_blocker"
	"origin" 			"2075 5834 2505"
	"mins" 				"-3 -71 -1"
	"maxs" 				"3 71 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator_1"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 			"2261 5834 2505"
	"mins" 				"-3 -71 -1"
	"maxs" 				"3 71 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator_1"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 			"2168 5902 2505"
	"mins" 				"-90 -3 -1"
	"maxs" 				"90 3 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator_1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"14271 11264 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"12669 6907 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"12750 7408 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"13695 11207 16"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 90 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"13699 11224 16"
	"angles" 			"0 90 0"
	"model"	 			"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
