; =====================================================
; --- c2m4_barns event:
; --- Barn Tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"targetname" 			"barn_tank_trigger_event"
	"filtername" 			"barn_tank_filter_surv"
	"spawnflags" 			"1"
	"extent"			"5 64 64"
	"StartDisabled"			"0"
	"origin" 			"624 1993 -127"
	"OnTrigger" 			"barn_tank_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"barn_tank_relay_event,Trigger,,0,-1"
}
; --- botao
{
	"use_time" 			"10"
	"targetname" 			"barn_tank_button_door"
	"spawnflags" 			"1024"
	"origin" 			"-2015 276 -126"
	"glow" 				"barn_tank_prop_door"
	"classname" 			"func_button_timed"
	"sounds" 			"4"
	"locked_sound"			"11"
	"auto_disable"			"1"
	"OnTimeUp"			"barn_tank_button_door,Kill,,0,-1"
	"OnTimeUp"			"barn_tank_relay_tank,Trigger,,0,-1"
}
{
	"use_time" 			"5"
	"targetname" 			"barn_tank_button_backdoor"
	"spawnflags" 			"1024"
	"origin" 			"-273 -32 -126"
	"glow" 				"barn_tank_prop_door"
	"classname" 			"func_button_timed"
	"sounds" 			"4"
	"locked_sound"			"11"
	"auto_disable"			"1"
	"OnTimeUp"			"barn_tank_button_backdoor,Kill,,0,-1"
	"OnTimeUp"			"barn_tank_relay_backdoor,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"barn_tank_relay_event"
	"OnTrigger" 			"barn_tank_relay_event,Kill,,0,-1"
	"OnTrigger" 			"barn_tank_hint_msgdoor,ShowHint,,0,-1"
	"OnTrigger"			"barn_tank_timer_sound,Enable,,0,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"barn_tank_relay_tank"
	"OnTrigger" 			"barn_tank_hint_msgbackdoor,ShowHint,,0,-1"
	"OnTrigger" 			"barn_tank_relay_tank,Kill,,0,-1"
	"OnTrigger"			"barn_tank_move_door,Open,,0,-1"
	"OnTrigger"			"barn_tank_prop_door,Kill,,0,-1"
	"OnTrigger"			"barn_tank_timer_sound,Kill,,0,-1"
	"OnTrigger" 			"barn_tank_hint_msgdoor,Kill,,0,-1"
	"OnTrigger" 			"barn_tank_block_nav1,UnblockNav,,0,-1"
	"OnTrigger" 			"barn_tank_block_nav1,Kill,,1,-1"
	"OnTrigger" 			"barn_tank_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"barn_tank_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"barn_tank_vfx_shakespawn,StartShake,,0,-1"
	"OnTrigger" 			"barn_tank_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"barn_tank_sfx_heart,FadeOut,1,1.5,-1"
	"OnTrigger" 			"barn_tank_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"@director,ForcePanicEvent,,3,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"barn_tank_relay_backdoor"
	"OnTrigger" 			"barn_tank_relay_backdoor,Kill,,0,-1"
	"OnTrigger"			"barn_tank_move_backdoor,Open,,0,-1"
	"OnTrigger" 			"barn_tank_block_nav2,UnblockNav,,0,-1"
	"OnTrigger" 			"barn_tank_block_nav2,Kill,,1,-1"
	"OnTrigger" 			"barn_tank_hint_msgbackdoor,Kill,,0,-1"
	"OnTrigger" 			"@director,ForcePanicEvent,,3,-1"

}
; --- porta
{
	"model" 			"*150"
	"targetname" 			"barn_tank_move_door"
	"speed" 			"100"
	"movedistance" 			"128"
	"movedir" 			"0 0 0"
	"blockdamage" 			"1"
	"classname" 			"func_movelinear"
	"origin" 			"-2015 266.5 -126"
	"stopsound" 			"Doors.FullClose10"
	"startsound" 			"Doors.Elevator.Open"
}
{
	"model" 			"*151"
	"targetname" 			"barn_tank_move_backdoor"
	"speed" 			"100"
	"movedistance" 			"65"
	"movedir" 			"0 -90 0"
	"blockdamage" 			"1"
	"classname" 			"func_movelinear"
	"origin" 			"-259 -32.5 -136.7"
	"stopsound" 			"Doors.FullClose10"
	"startsound" 			"Doors.Elevator.Open"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"barn_tank_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- objetos do cenario
filter:
; --- porta fechada da entrada do celeiro "hammerid" "2360763"
; --- porta fechada do fundo do celeiro "hammerid" "2360768"
; --- remover porta aberta do celeiro
{
	"hammerid" 			"2016719"
}
add:
{
	"solid" 			"0"
	"origin" 			"-2015 266 -192"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_urban/fence_cover001_128.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"parentname" 			"barn_tank_move_door"
	"targetname" 			"barn_tank_prop_door"
	"glowrange" 			"2000"
	"glowstate"			"2"
	"rendermode"			"10"
}
; --- temporizador
{
	"UseRandomTime" 		"1"
	"UpperRandomBound" 		"5"
	"targetname" 			"barn_tank_timer_sound"
	"StartDisabled" 		"1"
	"spawnflags" 			"0"
	"LowerRandomBound" 		"1"
	"classname" 			"logic_timer"
	"OnTimer" 			"barn_tank_random_sound,PickRandom,,0,-1"
}
; --- randomizador
{
	"targetname" 			"barn_tank_random_sound"
	"classname" 			"logic_case"
	"OnCase01" 			"barn_tank_sfx_tank1,PlaySound,,0,-1"
	"OnCase02" 			"barn_tank_sfx_tank2,PlaySound,,0,-1"
	"OnCase03" 			"barn_tank_sfx_tank3,PlaySound,,0,-1"
	"OnCase04" 			"barn_tank_sfx_tank4,PlaySound,,0,-1"
	"OnCase05" 			"barn_tank_sfx_tank5,PlaySound,,0,-1"
	"OnCase06" 			"barn_tank_sfx_tank6,PlaySound,,0,-1"
	"OnCase07" 			"barn_tank_sfx_tank7,PlaySound,,0,-1"
	"OnCase08" 			"barn_tank_sfx_tank8,PlaySound,,0,-1"
	"OnCase09" 			"barn_tank_sfx_tank9,PlaySound,,0,-1"
	"OnCase10" 			"barn_tank_sfx_tank10,PlaySound,,0,-1"
	"OnCase05" 			"barn_tank_vfx_shaketank,StartShake,,0,-1"
	"OnCase09" 			"barn_tank_vfx_shaketank,StartShake,,0,-1"
	"OnCase10" 			"barn_tank_vfx_shaketank,StartShake,,0,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"barn_tank_block_nav1,BlockNav,,1,-1"
	"OnMapSpawn" 			"barn_tank_block_nav2,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"64 5 64"
	"origin" 			"-2015 260 -128"
	"targetname" 			"barn_tank_block_nav1"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"5 32 64"
	"origin" 			"-260 -31 -128"
	"targetname" 			"barn_tank_block_nav2"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
; --- zombie spawn
{
	"origin" 			"-2063 249 -190"
	"targetname" 			"barn_tank_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 			"0 90 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"barn_tank_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"@director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"barn_tank_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"c
	"blendDeltaMultiplier" 		"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_vfx_shakespawn"
	"spawnflags" 			"1"
	"radius" 			"3000"
	"frequency" 			"250"
	"duration" 			"2"
	"amplitude" 			"4"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_vfx_shaketank"
	"spawnflags" 			"0"
	"radius" 			"2000"
	"frequency" 			"100"
	"duration" 			"1"
	"amplitude" 			"4"
	"classname" 			"env_shake"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"saferoom_tank_sfx_heart"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank1"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Breathe"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank2"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Growl"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank3"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.StartLedgeClimb"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank4"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Alert"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank5"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Thud"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank6"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Voice"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank7"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Yell"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank8"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Attack"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank9"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Thud"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2063 249 -191"
	"targetname" 			"barn_tank_sfx_tank10"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Thud"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"barn_tank_hint_msgdoor"
	"hint_target" 			"barn_tank_hint_targetdoor"
	"hint_caption"			"Abram a porta do celeiro e lutem contra o Tank"
	"hint_range" 			"4000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_alert_red"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-2012 284 -20"
}
{
	"origin" 			"-2012 284 -20"
	"targetname" 			"barn_tank_hint_targetdoor"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"barn_tank_hint_msgbackdoor"
	"hint_target" 			"barn_tank_hint_targetbackdoor"
	"hint_caption"			"Destranquem a porta para continuarem"
	"hint_range" 			"1000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_alert_red"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-273 -32 -126"
}
{
	"origin" 			"-273 -32 -126"
	"targetname" 			"barn_tank_hint_targetbackdoor"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================