; =====================================================
; --- c8m5_rooftop event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"6512 8648 6176"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- remover bloqueio no finale
; -----------------------------------------------------
filter:
{
	;rooftop_opening_clip
	"hammerid" 			"4404063"
}
{
	;rooftop_playerclip_template
	"hammerid" 			"4404084"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"7159 8409 6094"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"6653 8862 6176"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================