; =====================================================
; --- c5m3_cemetery event:
; --- Metal fence Barricade
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"metal_barricade_breakable_barrels,addoutput,maxs 30 30 50,0,-1"
	"OnMapSpawn" 			"metal_barricade_breakable_barrels,addoutput,mins -30 -30 0,0,-1"
	"OnMapSpawn" 			"metal_barricade_breakable_barrels,addoutput,solid 2,0,-1"
}
{
	"classname" 			"func_breakable"
	"health" 				"2000"
	"material" 				"2"
	"origin" 				"4265 6085 -2"
	"targetname" 			"metal_barricade_breakable_barrels"
	"OnBreak"				"metal_barricade_breakable_barrels,kill,,0,-1"
	"OnBreak"				"wood_barricade_relay_explosion,Trigger,,0,-1"
	"OnHealthChanged"		"wood_barricade_relay_fire,Trigger,,0,-1"
}
; --- relays
{
	"targetname" 			"wood_barricade_relay_fire"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"				"wood_barricade_relay_fire,kill,,0,-1"
	"OnTrigger"				"metal_barricade_vfx_fire,Start,,0,-1"
	"OnTrigger"				"metal_barricade_hint_msg1,Kill,,0,-1"
	"OnTrigger"				"metal_barricade_hint_msg2,ShowHint,,0,-1"
}
{
	"targetname" 			"wood_barricade_relay_explosion"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"				"wood_barricade_relay_explosion,kill,,0,-1"
	"OnTrigger"				"metal_barricade_prop_barrels,kill,,0,-1"
	"OnTrigger"				"metal_barricade_prop_barricade,kill,,0,-1"
	"OnTrigger"				"metal_barricade_prop_debris,Enable,,0,-1"
	"OnTrigger"				"metal_barricade_vfx_fire,Stop,,0,-1"
	"OnTrigger"				"metal_barricade_vfx_explosion,Start,,0,-1"
	"OnTrigger"				"metal_barricade_vfx_explode,explode,,0,-1"
	"OnTrigger"				"metal_barricade_vfx_impact,Impact,,0,-1"
	"OnTrigger" 			"metal_barricade_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"metal_barricade_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"metal_barricade_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"metal_barricade_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"metal_barricade_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger"				"metal_barricade_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger"				"metal_barricade_block_nav1,UnBlockNav,,0,-1"
	"OnTrigger"				"metal_barricade_block_nav1,Kill,,0,-1"
	"OnTrigger"				"metal_barricade_hint_msg2,Kill,,0,-1"
	"OnTrigger" 			"cable01_4,Break,,0,-1"
	"OnTrigger" 			"cable02_4,Break,,0,-1"
	"OnTrigger" 			"cable03_4,Break,,0,-1"
	"OnTrigger" 			"cable04_4,Break,,0,-1"
	"OnTrigger" 			"metal_barricade_vfx_sparks1,StartSpark,,0,-1"
	"OnTrigger" 			"metal_barricade_vfx_sparks1,StopSpark,,3,-1"
	"OnTrigger" 			"metal_barricade_vfx_sparks2,StartSpark,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"metal_barricade_block_nav1,BlockNav,,1,-1"
	"OnMapSpawn" 			"metal_barricade_block_nav2,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 76 64"
	"origin" 				"4237 6095 63"
	"targetname" 			"metal_barricade_block_nav1"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 128 64"
	"origin" 				"4475 5754 63"
	"targetname" 			"metal_barricade_block_nav2"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"metal_barricade_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"4265 6085 -2"
	"angles" 				"0 180 0"
	"model"	 				"models/props/de_train/pallet_barrels.mdl"
	"classname"				"prop_dynamic"
	"targetname"			"metal_barricade_prop_barrels"
	"disableshadows"		"1"
}
{
	"solid" 				"6"
	"origin" 				"4419 6127 3"
	"angles" 				"0 210 0"
	"model" 				"models/props_vehicles/suv_2001.mdl"
	"classname" 			"prop_physics"
	"spawnflags" 			"256"
	"targetname"			"metal_barricade_prop_car"
	"disableshadows"		"1"
	"rendercolor" 			"128 64 32"
}
{
	"solid" 				"6"
	"origin" 				"4419 6127 3"
	"angles" 				"0 210 0"
	"model" 				"models/props_vehicles/suv_2001_glass.mdl"
	"classname"				"prop_dynamic"
	"parentname"			"metal_barricade_prop_car"
	"disableshadows"		"1"
}
{
	"solid" 				"6"
	"origin" 				"4232 6050 0"
	"angles" 				"0 2 0"
	"model"	 				"models/props_fortifications/barricade001_64_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_barricade"
}
{
	"solid" 				"6"
	"origin" 				"4236 6122 0"
	"angles" 				"0 -9 0"
	"model"	 				"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_barricade"
}
{
	"solid"			 		"6"
	"origin" 				"4217 6139 0"
	"angles" 				"0 -7 0"
	"model"	 				"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_barricade"
}
{
	"solid" 				"6"
	"origin" 				"4209 6037 0"
	"angles" 				"0 -3 0"
	"model"	 				"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_barricade"
}
{
	"solid" 				"6"
	"origin" 				"4231 6119 144"
	"angles" 				"0 -9 0"
	"model"	 				"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_barricade"
}
{
	"solid" 				"0"
	"origin" 				"4239 6084 6"
	"angles" 				"0 0 0"
	"model"	 				"models/props_debris/concrete_debris128pile001a.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_debris"
	"StartDisabled" 		"1"
}
{
	"solid"					"0"
	"origin" 				"4160 6090 5"
	"angles" 				"-86 -60 0"
	"model"	 				"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_debris"
	"StartDisabled" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"4161 6026 3"
	"angles" 				"-90 45 0"
	"model"	 				"models/props_fortifications/barricade001_64_reference.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"metal_barricade_prop_debris"
	"StartDisabled" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"4472 5703 -4"
	"angles" 				"0 0 0"
	"model"	 				"models/props_urban/fence002_256.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 				"6"
	"origin" 				"4472 5830 -4"
	"angles" 				"0 0 0"
	"model"	 				"models/props_urban/fence_post002.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"metal_barricade_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"4265 6085 -2"
	"targetname" 			"metal_barricade_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"10000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"explosion_huge"
	"targetname" 			"metal_barricade_vfx_explosion"
	"origin" 				"4265 6085 -2"
	"angles" 				"0 180 0"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"env_fire_large_smoke"
	"targetname" 			"metal_barricade_vfx_fire"
	"origin" 				"4265 6085 25"
}
{
	"origin" 				"4265 6085 -2"
	"targetname" 			"metal_barricade_vfx_explode"
	"rendermode" 			"5"
	"iMagnitude" 			"200"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"classname" 			"env_explosion"
}
{
	"classname" 			"env_physimpact"
	"angles" 				"-45 0 0"
	"magnitude" 			"1000"
	"spawnflags" 			"5"
	"targetname" 			"metal_barricade_vfx_impact"
	"origin" 				"4419 6127 3"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4365 5890 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4376 5872 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4402 5805 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4413 5785 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4125 4966 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4102 4966 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4033 4978 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks1"
	"TrailLength" 			"3"
	"origin" 				"4010 4978 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks2"
	"TrailLength" 			"3"
	"origin" 				"3739 6151 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks2"
	"TrailLength" 			"3"
	"origin" 				"3738 6173 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks2"
	"TrailLength" 			"3"
	"origin" 				"3748 6242 426"
}
{
	"classname" 			"env_spark"
	"Magnitude" 			"2"
	"MaxDelay" 				"3"
	"spawnflags" 			"128"
	"targetname" 			"metal_barricade_vfx_sparks2"
	"TrailLength" 			"3"
	"origin" 				"3748 6265 426"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"metal_barricade_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"metal_barricade_sfx_explosion"
	"health" 				"10"
	"spawnflags" 			"49"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"metal_barricade_hint_msg1"
	"hint_target" 			"metal_barricade_hint_target"
	"hint_caption"			"Atirem nos barris para destruirem a barricada"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_alert_red"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"4265 6085 70"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"metal_barricade_hint_msg2"
	"hint_target" 			"metal_barricade_hint_target"
	"hint_caption"			"Continuem atirando nos barris para destruirem a barricada"
	"hint_range" 			"1000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_alert_red"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"4265 6085 70"
}
{
	"origin" 				"4265 6085 70"
	"targetname" 			"metal_barricade_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================