; =====================================================
; --- c4m5_milltown_escape event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- area de escape
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"2008777"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"2008771"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"1730202"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"-6359 7890 160"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"-6344 7959 159"
	"angles" 				"-5 0 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
{
	"solid" 				"0"
	"origin" 				"-6304 7782 226"
	"angles" 				"0 180 0"
	"model"	 				"models/props/cs_office/ladder1.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c4m5_milltown_escape event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-5793 7308 292"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-5686 7481 292"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 45 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; ---  ativar carros com alarme
; -----------------------------------------------------
; --- relays
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"relay_caralarm_on-car5,Trigger,,0,-1"
}
filter:
{
	"hammerid" 				"2855238"
}
; -----------------------------------------------------
; --- props aleatorios
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"-3407 7847 120"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"-3407 7847 140"
	"style" 				"1"
}

; =====================================================