; =====================================================
; --- c2m1_highway event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- riacho
; -----------------------------------------------------
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"targetname"			"ladder_river_trigger_hint"
	"filtername"			"ladder_river_filter_surv"
	"spawnflags"			"1"
	"extent"				"5 256 96"
	"origin" 				"2778 2877 -952"
	"StartDisabled"			"0"
	"OnTrigger" 			"ladder_river_trigger_hint,Kill,,0,-1"
	"OnTrigger" 			"ladder_river_template_hint,ForceSpawn,,0,-1"
}
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"950830"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"1120 2027 -1670"
	"angles" 				"0 103 0"
	"model"	 				"models/props_highway/billboard_ladder.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
	"targetname"			"ladder_river_prop_ladder"
}
; --- area do teleporte
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"ladder_river_area_trigger,addoutput,mins 0 0 0,0,-1"
	"OnMapSpawn" 			"ladder_river_area_trigger,addoutput,maxs 300 10 100,0,-1"
	"OnMapSpawn" 			"ladder_river_area_trigger,addoutput,solid 2,0,-1"
}
{
	"classname" 			"trigger_teleport"
	"targetname"			"ladder_river_area_trigger"
	"filtername"			"ladder_river_filter_surv"
	"target"				"ladder_river_area_target"
	"origin" 				"1021 2052 -1215"
	"spawnflags"			"1"
	"StartDisabled"			"0"
}
; --- destino do teleporte
{
	"classname" 			"info_teleport_destination"
	"targetname"			"ladder_river_area_target"
	"origin" 				"1120 2100 -1215"
	"angles"				"0 90 0"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"ladder_river_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- templates
{
	"Template01" 			"ladder_river_hint_msg"
	"targetname" 			"ladder_river_template_hint"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"ladder_river_hint_msg"
	"hint_target" 			"ladder_river_hint_target"
	"hint_caption"			"Podem retornar ao topo por aqui"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_tip"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"1133 1967 -1600"
	"hint_forcecaption"		"1"

}
{
	"origin" 				"1133 1967 -1600"
	"targetname" 			"ladder_river_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
; -----------------------------------------------------
; --- onibus proximo a ponte
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		"hammerid" 			"950577"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"4234 7748 -640"
	"angles" 				"-5 -135 0"
	"model"	 				"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c2m1_highway event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
{
	"solid" 				"0"
	"origin" 				"9543 7972 -516"
	"angles" 				"0 57 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"classname" 			"light_dynamic"
	"_light" 				"231 223 192 0"
	"distance" 				"200"
	"origin" 				"9543 7972 -496"
	"style" 				"1"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"801110"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"2318 5199 -767"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"2427 5299 -768"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"4788 7879 -704"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-967 -767 -1049"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"1119 2309 -1207"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1170 2062 -1761"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"9490 7989 -517"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; ---  ativar carros com alarme
; -----------------------------------------------------
; --- relays
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"carkillsurvival2-relay_caralarm_on,Trigger,,0,-1"
    "OnMapSpawn" 			"carkillsurvival-relay_caralarm_on,Trigger,,0,-1"
    "OnMapSpawn" 			"InstanceAuto12-relay_caralarm_on,Trigger,,0,-1"
}
filter:
{
	"hammerid" 				"3565183"
}
{
	"hammerid" 				"3566649"
}
{
	"hammerid" 				"3573663"
}

; =====================================================