; =====================================================
; --- c10m1_caves event:
; --- Slide door + Tank spawn
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"func_button"
	"origin" 				"-12731 -5511 -216"
	"spawnflags" 			"1024"
	"targetname" 			"slide_gate_button_event"
	"glow" 					"slide_gate_prop_button"
	"sounds" 				"4"
	"locked_sound"			"11"
	"OnPressed"				"slide_gate_button_event,Kill,,0,-1"
	"OnPressed"				"slide_gate_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"slide_gate_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"				"slide_gate_relay_event,Kill,,0,-1"
	"OnTrigger"				"slide_gate_hint_msg,Kill,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,StopGlowing,,0,-1"
	"OnTrigger"				"slide_gate_linear_door,Open,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,TURN_ON,0,1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,idleon,0.2,1"
	"OnTrigger" 			"slide_gate_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"slide_gate_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"slide_gate_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"slide_gate_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"slide_gate_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger"				"slide_gate_block_navgate,UnBlockNav,,0,-1"
	"OnTrigger"				"slide_gate_block_navgate,kill,,1,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"slide_gate_block_navgate,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 64 64"
	"origin" 				"-12725 -5602 -193"
	"targetname" 			"slide_gate_block_navgate"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
; --- porta
{
	"model" 				"*5"
	"targetname" 			"slide_gate_linear_door"
	"speed" 				"50"
	"movedistance" 			"96"
	"movedir" 				"-90 0 0"
	"blockdamage" 			"1"
	"classname" 			"func_movelinear"
	"origin" 				"-12725 -5602 -1256"
	"stopsound" 			"Doors.FullClose10"
	"startsound" 			"Doors.Elevator.Open"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-12725 -5602 -256"
	"angles" 				"0 180 0"
	"model"	 				"models/props_doors/roll-up_door_full.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"slide_gate_prop_door"
	"parentname" 			"slide_gate_linear_door"
}
{
	"solid" 				"0"
	"origin" 				"-12721 -5511 -216"
	"angles" 				"0 180 0"
	"model"	 				"models/props_mill/freightelevatorbutton01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"slide_gate_prop_button"
	"glowrange" 			"1000"
	"glowstate"				"2"
}
; --- zombie spawn
{
	"origin" 				"-12625 -5628 -253"
	"targetname" 			"slide_gate_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 180 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"slide_gate_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"slide_gate_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"slide_gate_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"slide_gate_hint_msg"
	"hint_target" 			"slide_gate_prop_button"
	"hint_caption"			"Pressionem o botão para abrir a porta"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-12731 -5511 -216"
}	

; =====================================================