; =====================================================
; --- c1m4_atrium event:
; --- Elevator teleport bug players
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- teleport player to trigger_finale area
; -----------------------------------------------------
; --- relays
modify:
{
	match:
	{
		"hammerid"			"188744"
	}
	insert:
	{
		"OnPressed" 		"teleport_finale_area_trigger,Enable,,0,-1"
		"OnPressed" 		"teleport_finale_hint_msg,ShowHint,,0,-1"
	}	
}
add:
; --- area do teleporte
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"teleport_finale_area_trigger,addoutput,mins 0 0 0,0,-1"
	"OnMapSpawn" 			"teleport_finale_area_trigger,addoutput,maxs 1400 850 100,0,-1"
	"OnMapSpawn" 			"teleport_finale_area_trigger,addoutput,solid 2,0,-1"
}
{
	"classname" 			"trigger_teleport"
	"targetname"			"teleport_finale_area_trigger"
	"filtername"			"teleport_finale_filter_surv"
	"target"				"teleport_finale_area_target"
	"origin" 				"-3198 -5340 536"
	"spawnflags"			"1"
	"StartDisabled"			"1"
}
; --- destino do teleporte
{
	"classname" 			"info_teleport_destination"
	"targetname"			"teleport_finale_area_target"
	"origin" 				"-3107 -4355 536"
	"angles"				"0 135 0"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"teleport_finale_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"teleport_finale_hint_msg"
	"hint_target" 			"teleport_finale_hint_target"
	"hint_caption"			"Você não pode mais sair da área do resgate"
	"hint_range" 			"200"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-3034 -4483 586"
}
{
	"origin" 				"-3034 -4483 586"
	"targetname" 			"teleport_finale_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
; -----------------------------------------------------
; --- teleport players on 3st floor to 1st floor
; -----------------------------------------------------
; --- relays
modify:
{
	match:
	{
		"hammerid"			"387943"
	}
	insert:
	{
		"OnReachedBottom" 	"teleport_elevator_area_trigger,Enable,,0,-1"
		"OnReachedBottom" 	"teleport_elevator_hint_msg,ShowHint,,0,-1"
	}	
}
; --- area do teleporte
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"teleport_elevator_area_trigger,addoutput,mins 0 0 0,0,-1"
	"OnMapSpawn" 			"teleport_elevator_area_trigger,addoutput,maxs 10 150 100,0,-1"
	"OnMapSpawn" 			"teleport_elevator_area_trigger,addoutput,solid 2,0,-1"
}
{
	"classname" 			"trigger_teleport"
	"targetname"			"teleport_elevator_area_trigger"
	"filtername"			"teleport_elevator_filter_surv"
	"target"				"teleport_elevator_area_target"
	"origin" 				"-3919 -3476 536"
	"spawnflags"			"1"
	"StartDisabled"			"1"
}
; --- destino do teleporte
{
	"classname" 			"info_teleport_destination"
	"targetname"			"teleport_elevator_area_target"
	"origin" 				"-4063 -3411 4"
	"angles"				"0 0 0"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"teleport_elevator_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"teleport_elevator_hint_msg"
	"hint_target" 			"teleport_elevator_hint_target"
	"hint_caption"			"Teleporte para a área do resgate"
	"hint_range" 			"200"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-3915 -3404 586"
}
{
	"origin" 				"-3915 -3404 586"
	"targetname" 			"teleport_elevator_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================