; =====================================================
; --- c2m5_concert event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- triggers que impedem o plugin fortnite emotes de funcionar
; --- https://forums.alliedmods.net/showthread.php?t=318981
; -----------------------------------------------------
filter:
{
	"hammerid" 				"2235652"
}
{
	"hammerid" 				"2299069"
}
; -----------------------------------------------------
; --- Porta do estadio sempre aberta
; -----------------------------------------------------
filter:
{
	"hammerid"			 	"2098933"
}
{
	"hammerid" 				"2099530"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
{
	"origin" 				"-2673 2505 191"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 45 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"-2270 3446 -143"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -90 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"classname"				"logic_auto"
	"OnMapSpawn" 			"item_spawn_set1_template,ForceSpawn,,0,-1"
	"OnMapSpawn" 			"item_spawn_set2_template,ForceSpawn,,0,-1"
}

; =====================================================