; =====================================================
; --- c3m3_shantytown event:
; --- F18 bomber
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
add:
; --- ativadores
{
	"classname" 			"script_trigger_once"
	"targetname" 			"f18_bomber_trigger_event"
	"filtername" 			"f18_bomber_filter_surv"
	"spawnflags" 			"1"
	"extent"			"1000 1000 100"
	"StartDisabled"			"0"
	"origin" 			"-314 -3923 90"
	"OnTrigger" 			"f18_bomber_trigger_event,kill,,0,-1"
	"OnTrigger" 			"f18_bomber_relay_jets,Trigger,,0,-1"
	"OnTrigger" 			"f18_bomber_relay_explosion,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"f18_bomber_relay_jets"
	"OnTrigger" 			"f18_bomber_prop_jet1,Enable,,0,-1"
	"OnTrigger" 			"f18_bomber_prop_jet2,Enable,,2,-1"
	"OnTrigger" 			"f18_bomber_prop_jet1,SetAnimation,flyby4,0,-1"
	"OnTrigger" 			"f18_bomber_prop_jet2,SetAnimation,flyby4,2,-1"
	"OnTrigger" 			"f18_bomber_prop_jet1,Disable,,10,-1"
	"OnTrigger" 			"f18_bomber_prop_jet2,Disable,,12,-1"
	"OnTrigger" 			"f18_bomber_sfx_jet1,PlaySound,,3,-1"
	"OnTrigger" 			"f18_bomber_sfx_jet2,PlaySound,,5,-1"
	"OnTrigger" 			"f18_bomber_sfx_rumble,PlaySound,,7,-1"
	"OnTrigger" 			"f18_bomber_vfx_shake,StartShake,,3.5,-1"
	"OnTrigger" 			"f18_bomber_vfx_shake,StartShake,,5.5,-1"
	"OnTrigger" 			"f18_bomber_relay_jets,Kill,,0,-1"
}
{
	"targetname" 			"f18_bomber_relay_explosion"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger" 			"f18_bomber_relay_explosion,Kill,,0,-1"
	"OnTrigger" 			"bridge_button,Press,,3,-1"
	"OnTrigger" 			"f18_bomber_vfx_explosion5,Explode,,0,-1"
	"OnTrigger" 			"f18_bomber_vfx_explosion2,Explode,,0.3,-1"
	"OnTrigger" 			"f18_bomber_vfx_explosion6,Explode,,0.5,-1"
	"OnTrigger" 			"f18_bomber_vfx_explosion3,Explode,,1,-1"
	"OnTrigger" 			"f18_bomber_vfx_explosion4,Explode,,1.3,-1"
	"OnTrigger" 			"f18_bomber_vfx_explosion1,Explode,,1.5,-1"
	"OnTrigger" 			"f18_bomber_vfx_fire5,Start,,0,-1"
	"OnTrigger" 			"f18_bomber_vfx_fire2,Start,,0.3,-1"
	"OnTrigger" 			"f18_bomber_vfx_fire6,Start,,0.5,-1"
	"OnTrigger" 			"f18_bomber_vfx_fire3,Start,,1,-1"
	"OnTrigger" 			"f18_bomber_vfx_fire4,Start,,1.3,-1"
	"OnTrigger" 			"f18_bomber_vfx_fire1,Start,,1.5,-1"
	"OnTrigger" 			"f18_bomber_sfx_explode1,PlaySound,,0,-1"
	"OnTrigger" 			"f18_bomber_sfx_explode2,PlaySound,,0.3,-1"
	"OnTrigger" 			"f18_bomber_sfx_explode3,PlaySound,,0.5,-1"
	"OnTrigger" 			"f18_bomber_sfx_explode1,PlaySound,,1,-1"
	"OnTrigger" 			"f18_bomber_sfx_explode2,PlaySound,,1.3,-1"
	"OnTrigger" 			"f18_bomber_sfx_explode3,PlaySound,,1.5,-1"
	"OnTrigger" 			"f18_bomber_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"f18_bomber_sfx_heart,Fadeout,1,3,-1"
	"OnTrigger" 			"f18_bomber_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"f18_bomber_vfx_slowmotion,Stop,,3,-1"
	"OnTrigger" 			"f18_bomber_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"f18_bomber_vfx_shake,StartShake,,1,-1"
	"OnTrigger" 			"f18_bomber_hurt_area,Enable,,0,-1"
	"OnTrigger" 			"f18_bomber_hurt_area,kill,,60,-1"
	"OnTrigger" 			"f18_bomber_sfx_fire,PlaySound,,0,-1"
	"OnTrigger" 			"f18_bomber_sfx_fire,Fadeout,1,60,-1"
}
modify:
{
	match:
	{
		"hammerid" "1667911"
	}
	replace:
    	{
		"speed" "100"
    	}
}
{
	match:
	{
		"hammerid" "1668391"
	}
	delete:
	{
		"glow" "handle_minifinale_button"
	}
}
add:
; --- filtro de equipe
{
	"targetname" 			"f18_bomber_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- area de dano
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"			"128 128 64"
	"origin" 			"1431 -3364 62"
	"filtername"			"f18_bomber_filter_surv"
	"targetname" 			"f18_bomber_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
}
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"			"128 128 64"
	"origin" 			"749 -3546 10"
	"filtername"			"f18_bomber_filter_surv"
	"targetname" 			"f18_bomber_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
}
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"			"128 128 64"
	"origin" 			"661 -4082 110"
	"filtername"			"f18_bomber_filter_surv"
	"targetname" 			"f18_bomber_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
}
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"			"128 128 64"
	"origin" 			"20 -4223 110"
	"filtername"			"f18_bomber_filter_surv"
	"targetname" 			"f18_bomber_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
}
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"			"128 128 64"
	"origin" 			"-508 -4086 78"
	"filtername"			"f18_bomber_filter_surv"
	"targetname" 			"f18_bomber_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
}
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"extent"			"128 128 64"
	"origin" 			"-701 -3366 61"
	"filtername"			"f18_bomber_filter_surv"
	"targetname" 			"f18_bomber_hurt_area"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 			"2"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"-250 -3850 1100"
	"angles" 			"0 -45 0"
	"model"	 			"models/f18/f18.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"classname"			"prop_dynamic"
	"StartDisabled" 		"1"
	"targetname" 			"f18_bomber_prop_jet1"
}
{
	"solid" 			"6"
	"origin" 			"-150 -3850 1100"
	"angles" 			"0 -45 0"
	"model"	 			"models/f18/f18.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"classname"			"prop_dynamic"
	"StartDisabled" 		"1"
	"targetname" 			"f18_bomber_prop_jet2"
}
; --- efeitos visuais
{
	"classname" 			"env_shake"
	"origin" 			"-525 -3043 -4"
	"targetname" 			"f18_bomber_vfx_shake"
	"spawnflags" 			"1"
	"radius" 			"3000"
	"frequency" 			"250"
	"duration" 			"2"
	"amplitude" 			"4"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"f18_bomber_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 		"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"f18_bomber_vfx_explosion1"
	"origin" 			"1431 -3364 112"
	"ignoredClass"			"1"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"f18_bomber_vfx_explosion2"
	"origin" 			"749 -3546 60"
	"ignoredClass"			"1"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"f18_bomber_vfx_explosion3"
	"origin" 			"661 -4082 160"
	"ignoredClass"			"1"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"f18_bomber_vfx_explosion4"
	"origin" 			"20 -4223 160"
	"ignoredClass"			"1"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"f18_bomber_vfx_explosion5"
	"origin" 			"-508 -4086 128"
	"ignoredClass"			"1"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"f18_bomber_vfx_explosion6"
	"origin" 			"-755 -3442 111"
	"ignoredClass"			"1"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"f18_bomber_vfx_fire1"
	"origin" 			"1431 -3364 62"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"f18_bomber_vfx_fire2"
	"origin" 			"749 -3546 10"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"f18_bomber_vfx_fire3"
	"origin" 			"661 -4082 110"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"f18_bomber_vfx_fire4"
	"origin" 			"20 -4223 110"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"f18_bomber_vfx_fire5"
	"origin" 			"-508 -4086 78"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"f18_bomber_vfx_fire6"
	"origin" 			"-701 -3366 61"
}
; --- efeitos sonoros
{
	"targetname" 			"f18_bomber_sfx_jet1"
	"spawnflags" 			"49"
	"message" 			"bridge.jetflyby01"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"targetname" 			"f18_bomber_sfx_jet2"
	"spawnflags" 			"49"
	"message" 			"bridge.jetflyby02"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"targetname" 			"f18_bomber_sfx_rumble"
	"spawnflags" 			"49"
	"message" 			"ambient/overhead/plane2.wav"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"f18_bomber_sfx_heart"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"spawnflags" 			"49"
	"targetname" 			"f18_bomber_sfx_explode1"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"weapons/hegrenade/explode5.wav"
	"spawnflags" 			"49"
	"targetname" 			"f18_bomber_sfx_explode2"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"weapons/hegrenade/explode4.wav"
	"spawnflags" 			"49"
	"targetname" 			"f18_bomber_sfx_explode3"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"f18_bomber_sfx_fire"
	"origin" 			"1431 -3364 62"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"f18_bomber_sfx_fire"
	"origin" 			"749 -3546 10"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"f18_bomber_sfx_fire"
	"origin" 			"661 -4082 110"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"f18_bomber_sfx_fire"
	"origin" 			"20 -4223 110"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"f18_bomber_sfx_fire"
	"origin" 			"-508 -4086 78"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}
{
	"classname" 			"ambient_generic"
	"message" 			"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"f18_bomber_sfx_fire"
	"origin" 			"-701 -3366 61"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
}

; =====================================================