; =====================================================
; --- c5m1_waterfront event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- cerca verde
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"461056"
	}
	replace:
	{
		"team" 				"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"-2566 -1271 -292"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}

; =====================================================
; =====================================================
; --- c5m1_waterfront event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"1295520"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- props aleatorios
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 				"0"
	"origin" 				"-477 152 -371"
	"angles" 				"0 -59 0"
	"model"	 				"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"-477 152 -351"
	"style" 			"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-585 122 -371"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1597 -2006 -332"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-2668 -1257 -335"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-2741 -402 -324"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================