; =====================================================
; --- c5m1_waterfront event:
; --- Alarm restaurant
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
add:
; --- relays
{
	"classname"				"logic_auto"
	"OnMapSpawn"			"alarm_restaurant_vfx_redlight,TurnOff,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"alarm_restaurant_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"				"alarm_restaurant_relay_event,kill,,0,-1"
	"OnTrigger" 			"alarm_restaurant_prop_redlight,Skin,1,0,-1"
	"OnTrigger" 			"alarm_restaurant_prop_redlight,Skin,0,60,-1"
	"OnTrigger"				"alarm_restaurant_vfx_redlight,TurnOn,,0,-1"
	"OnTrigger"				"alarm_restaurant_vfx_redlight,TurnOff,,60,-1"
	"OnTrigger"				"alarm_restaurant_sfx_alarm,PlaySound,,0,-1"
	"OnTrigger"				"alarm_restaurant_sfx_alarm,FadeOut,1,60,-1"
	"OnTrigger" 			"director,BeginScript,c1_mall_onslaught,3,-1" ;c1m3 script alarm event
	"OnTrigger" 			"director,EndScript,c1_mall_onslaught,60,-1" ;c1m3 script alarm event
}
; --- porta
{
	"origin" 				"-2376 -569 -368"
	"targetname" 			"door_restaurant_alley"
	"speed" 				"200"
	"spawnpos" 				"0"
	"spawnflags" 			"524288"
	"returndelay" 			"-1"
	"opendir" 				"2"
	"model" 				"models/props_downtown/metal_door_112.mdl"
	"forceclosed" 			"0"
	"distance" 				"90"
	"disableshadows" 		"1"
	"angles" 				"0 270 0"
	"classname" 			"prop_door_rotating"
	"rendercolor" 			"255 128 128"
	"OnFullyOpen" 			"alarm_restaurant_relay_event,Trigger,,0,-1"
}
filter:
{	
	"hammerid" 				"466543"
}
add:
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"ambient/alarms/alarm1.wav"
	"radius" 				"10000"
	"spawnflags" 			"48"
	"origin" 				"-2372 -157 -248"
	"targetname" 			"alarm_restaurant_sfx_alarm"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 				"255 0 0 0"
	"distance" 				"200"
	"origin" 				"-2391 -596 -263"
	"style" 				"1"
	"targetname" 			"alarm_restaurant_vfx_redlight"
}
{
	"classname" 			"light_dynamic"
	"_light" 				"255 0 0 0"
	"distance" 				"200"
	"origin" 				"-2551 -195 -248"
	"style" 				"1"
	"targetname" 			"alarm_restaurant_vfx_redlight"
}
; --- objetos do cenario
{
	"classname"				"prop_dynamic"
	"solid" 				"0"
	"origin" 				"-2376 -569 -320"
	"angles" 				"0 -90 0"
	"parentname" 			"door_restaurant_alley"
	"model"					"models/props_doors/emergency_exit_sign.mdl"
	"disableshadows" 		"1"
}
{
	"classname"				"prop_dynamic"
	"solid" 				"0"
	"origin" 				"-2391 -576 -263"
	"angles" 				"90 90 0"
	"model"					"models/props/de_nuke/light_red2.mdl"
	"disableshadows" 		"1"
	"skin" 					"0"
	"targetname" 			"alarm_restaurant_prop_redlight"
}
{
	"classname"				"prop_dynamic"
	"solid" 				"0"
	"origin" 				"-2571 -195 -248"
	"angles" 				"90 180 0"
	"model"					"models/props/de_nuke/light_red2.mdl"
	"disableshadows" 		"1"
	"skin" 					"0"
	"targetname" 			"alarm_restaurant_prop_redlight"
}
{
	"solid" 				"0"
	"origin" 				"-2372 -137 -248"
	"angles" 				"0 -90 0"
	"model"	 				"models/props_lab/powerbox03a.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================