; =====================================================
; --- LOBBY EXPLOSION BY SKY - CYBERZOIO EDIT.
; --- https://github.com/CyberZoio
; --- Sky.cfg by: Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky/tree/master
; =====================================================
; --- explosao no hall de entrada - evento saferoom final
add:
; --- spawn dos gatilhos do evento
{
	"classname" "logic_auto"
	; --- gatilho explosao
	"OnMapSpawn" "sky_firepipeaddoutputmins 0 0 00-1"
	"OnMapSpawn" "sky_firepipeaddoutputmaxs 0 107 1100-1"
	"OnMapSpawn" "sky_firepipeaddoutputsolid 20-1"
	; --- gatilho dano fogo
	"OnMapSpawn" "sky_fire_hurtaddoutputmins -100 -100 00-1"
	"OnMapSpawn" "sky_fire_hurtaddoutputmaxs 150 150 1300-1"
	"OnMapSpawn" "sky_fire_hurtaddoutputsolid 20-1"
}
; --- gatilho evento
{
	"classname" "trigger_once"
	"targetname" "sky_firepipe"
	"filtername" "sky_filter_survs"
	"spawnflags" "1"
	"startdisabled" "0"
	"origin" "440 4467 1184"
	"OnTrigger" "sky_exp_relay_dead_center,trigger,,0,-1"
}
; --- sequencia evento
{
	"classname" "logic_relay"
	"spawnflags" "0"
	"targetname" "sky_exp_relay_dead_center"
	"OnTrigger" "sky_firepipe_explode,Start,,1,-1"
	"OnTrigger" "sky_firepipe_explosion,Explode,,1,-1"
	"OnTrigger" "sky_fire_hurt,Enable,,1,-1"
	"OnTrigger" "sky_fire_hurt,Disable,,61,-1"
	"OnTrigger" "sky_firepipe_explode_sound,PlaySound,,1,-1"
	"OnTrigger" "sky_fire_sound,PlaySound,,1,-1"
	"OnTrigger" "sky_fire_sound,FadeOut,1,61,-1"
	"OnTrigger" "sky_alarm_sound,PlaySound,,1,-1"
	"OnTrigger" "sky_alarm_sound,FadeOut,1,61,-1"
	"OnTrigger" "sky_heart_sound,PlaySound,,1,-1"
	"OnTrigger" "sky_heart_sound,FadeOut,1,2,-1"
	"OnTrigger" "sky_fire_firepipe,Start,,1,-1"
	"OnTrigger" "sky_fire_firepipe,Stop,,61,-1"
	"OnTrigger" "sky_shake_ground,StartShake,,1,-1"
	"OnTrigger" "sky_hotel_breakable_glass,Break,,1,-1"
	"OnTrigger" "slowmotion,Start,,1,-1"
	"OnTrigger" "slowmotion,Stop,,2.5,-1"
	"OnTrigger" "director,ForcePanicEvent,,2,-1"
}
; --- area dano fogo
{
	"classname" "trigger_hurt"
	"targetname" "sky_fire_hurt"
	"filtername" "sky_filter_survs"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "1190 4971 1184"
	"nodmgforce" "0"
	"damagetype" "8"
	"damagemodel" "0"
	"damage" "5"
}
; --- filtro sobrevivente
{
	"targetname" "sky_filter_survs"
	"classname" "filter_activator_team"
	"filterteam" "2"
	"Negated" "0"
}
; --- camera lenta
{
	"classname" "func_timescale"
	"minBlendRate" "2"
	"desiredTimescale" "0.2"
	"blendDeltaMultiplier" "3.0"
	"acceleration" "0.05"
	"targetname" "slowmotion"
}
; --- tremor tela
{
	"classname" "env_shake"
	"amplitude" "16"
	"duration" "2"
	"frequency" "21.5"
	"radius" "3000"
	"spawnflags" "28"
	"targetname" "sky_shake_ground"
	"origin" "1219 5066 1184"
}
; --- audios
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "weapons/hegrenade/explode5.wav"
	"pitch" "100"
	"pitchstart" "100"
	"spawnflags" "49"
	"targetname" "sky_firepipe_explode_sound"
}
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/nature/fire/fire_small1.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "1500"
	"spawnflags" "48"
	"targetname" "sky_fire_sound"
	"origin" "1219 5066 1184"
}
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "player/heartbeatloop.wav"
	"pitch" "100"
	"pitchstart" "100"
	"spawnflags" "49"
	"targetname" "sky_heart_sound"
}
; --- particulas
{
	"classname" "info_particle_system"
	"effect_name" "gas_explosion_main"
	"targetname" "sky_firepipe_explode"
	"origin" "1219 5066 1184"
}
; --- props moveis
{
	"classname" "prop_physics"
	"angles" "0 2 0"
	"model" "models/props_industrial/brickpallets.mdl"
	"spawnflags" "1"
	"origin" "1296 4831 1220"
	"disableshadows" "1"
}
{
	"classname" "prop_physics"
	"angles" "0 266 0"
	"model" "models/props_industrial/brickpallets.mdl"
	"spawnflags" "1"
	"origin" "1216 4831 1220"
	"disableshadows" "1"
}
{
	"classname" "prop_physics"
	"angles" "0 2 0"
	"model" "models/props_industrial/brickpallets.mdl"
	"spawnflags" "1"
	"origin" "1296 4831 1284"
	"disableshadows" "1"
}
{
	"classname" "prop_physics"
	"angles" "0 266 0"
	"model" "models/props_industrial/brickpallets.mdl"
	"spawnflags" "1"
	"origin" "1216 4831 1284"
	"disableshadows" "1"
}
{
	"origin" "1109 4839 1184"
	"angles" "0 152 0"
	"model"	 "models/props_urban/oil_drum001.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
{
	"origin" "1120 4835 1232"
	"angles" "0 3 0"
	"model"	 "models/props_urban/oil_drum001.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
{
	"origin" "1143 4830 1184"
	"angles" "0 147 0"
	"model"	 "models/props_urban/oil_drum001.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
{
	"origin" "1341 4679 1183"
	"angles" "0 -65 0"
	"model"	 "models/props/cs_assault/handtruck.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
}
{
	"origin" "1207 4745 1184"
	"angles" "0 80 0"
	"model"	 "models/props_interiors/sawhorse.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
{
	"origin" "1106 4779 1184"
	"angles" "0 68 0"
	"model"	 "models/props_interiors/sawhorse.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
{
	"origin" "1158 4659 1195"
	"angles" "0 8 0"
	"model"	 "models/props_junk/wood_pallet001a.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
{
	"origin" "1158 4664 1188"
	"angles" "0 89 0"
	"model"	 "models/props_junk/wood_pallet001a.mdl"
	"classname"	"prop_physics"
	"disableshadows" "1"
	"spawnflags" "1"
}
; --- props fixos
{
	"solid" "6"
	"origin" "764 4712 1184"
	"angles" "0 91 0"
	"model"	 "models/props_equipment/scaffolding_norails.mdl"
	"classname"	"prop_dynamic"
	"disableshadows" "1"
}
{
	"solid" "6"
	"origin" "1007 4688 1184"
	"angles" "0 55 0"
	"model"	 "models/c1_chargerexit/mall_rampbundle.mdl"
	"classname"	"prop_dynamic"
	"disableshadows" "1"
}
; --- efeito fisico
{
	"classname" "env_explosion"
	"fireballsprite" "sprites/zerogxplode.spr"
	"iMagnitude" "5000"
	"iRadiusOverride" "500"
	"rendermode" "5"
	"spawnflags" "892"
	"targetname" "sky_firepipe_explosion"
	"origin" "1219 5066 1184"
}
; --- vidros a quebrar
modify:
{
    match:
    {
        "hammerid" "4016990"
    }
    insert:
    {
        "targetname" "sky_hotel_breakable_glass"
    }
}
{
    match:
    {
        "hammerid" "4016979"
    }
    insert:
    {
        "targetname" "sky_hotel_breakable_glass"
    }
}
{
    match:
    {
        "hammerid" "4016995"
    }
    insert:
    {
        "targetname" "sky_hotel_breakable_glass"
    }
}
{
    match:
    {
        "hammerid" "4017003"
    }
    insert:
    {
        "targetname" "sky_hotel_breakable_glass"
    }
}
{
    match:
    {
        "hammerid" "4017011"
    }
    insert:
    {
        "targetname" "sky_hotel_breakable_glass"
    }
}

; =====================================================

