; =====================================================
; --- c2m3_coaster event:
; --- Coaster scavenger
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"minifinale_button,Lock,,0,-1"
	"OnMapSpawn" 			"coaster_gas_prop_gas,TurnGlowsOff,,0,-1"
	"OnMapSpawn" 			"minifinale_switch,Disable,,0,-1"
}
{
	"classname" 			"script_trigger_once"
	"extent"				"5 64 64"
	"origin" 				"-760 1919 63"
	"targetname" 			"coaster_gas_trigger_event"
	"filtername" 			"coaster_gas_filter_surv"
	"spawnflags" 			"1"
	"StartDisabled"			"0"
	"OnTrigger" 			"coaster_gas_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"coaster_gas_relay_event,Trigger,,0,-1"
}
; --- botoes
{
	"classname"				"logic_auto"
	"OnMapSpawn"			"coaster_gas_button_gen,Lock,,0,-1"
}
{
	"classname" 			"func_button"
	"origin" 				"-3175 2159 45"
	"spawnflags" 			"1024"
	"targetname" 			"coaster_gas_button_gen"
	"glow" 					"coaster_gas_prop_buttongen"
	"sounds" 				"4"
	"locked_sound"			"11"
	"OnPressed" 			"coaster_gas_button_gen,Kill,,0,-1"
	"OnPressed" 			"coaster_gas_relay_startgen,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"coaster_gas_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"coaster_gas_hud_display,TurnOn,,0,-1"
	"OnTrigger" 			"coaster_gas_prop_fuel,startglowing,,0,-1"
	"OnTrigger" 			"coaster_gas_prop_gas,TurnGlowsOn,,0,-1"
	"OnTrigger"				"coaster_gas_hint_msggen,ShowHint,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"coaster_gas_relay_counter"
	"spawnflags" 			"1"
	"OnTrigger" 			"coaster_gas_relay_counter,Kill,,0,-1"
	"OnTrigger" 			"coaster_gas_button_gen,Unlock,,0,-1"
	"OnTrigger" 			"coaster_gas_prop_buttongen,StartGlowing,,0,-1"
	"OnTrigger" 			"coaster_gas_prop_fuel,StopGlowing,,0,-1"
	"OnTrigger" 			"coaster_gas_hint_msgbutton,ShowHint,,0,-1"
	"OnTrigger" 			"coaster_gas_hint_msggen,kill,,0,-1"
	"OnTrigger" 			"coaster_gas_hud_display,TurnOff,,0,-1"
	"OnTrigger" 			"coaster_gas_target_gas,Kill,,0,-1"
	"OnTrigger" 			"coaster_gas_prop_gas,TurnGlowsOff,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"coaster_gas_relay_startgen"
	"spawnflags" 			"1"
	"OnTrigger" 			"coaster_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"minifinale_button,Unlock,,3,-1"
	"OnTrigger" 			"minifinale_switch,Enable,,3,-1"
	"OnTrigger" 			"coaster_gas_prop_fakecoasterpanel,Kill,,3,-1"
	"OnTrigger" 			"coaster_gas_sfx_smokegen,Start,,3,-1"
	"OnTrigger" 			"coaster_gas_sfx_gen,PlaySound,,0,-1"
	"OnTrigger" 			"coaster_gas_prop_buttongen,StopGlowing,,0,-1"
	"OnTrigger" 			"coaster_gas_vfx_spark,StartSpark,,3,-1"
	"OnTrigger" 			"instructor_onslaught_start,ShowHint,,3,-1"
	"OnTrigger" 			"coaster_gas_hint_msgbutton,Kill,,0,-1"
}
modify:
{
	match:
	{
		"hammerid"			"536066"
	}
	insert:
	{
		"OnPressed" 		"coaster_gas_sfx_gen,FadeOut,1,30,-1"
		"OnPressed" 		"coaster_gas_sfx_smokegen,Stop,,30,-1"
		"OnPressed" 		"coaster_gas_vfx_spark,StopSpark,,30,-1"
	}
}
add:
; --- contador
add:
{
	"classname" 			"math_counter"
	"max" 					"6"
	"targetname" 			"coaster_gas_counter_gas"
	"OnHitMax" 				"coaster_gas_counter_gas,Kill,,0,-1"
	"OnHitMax" 				"coaster_gas_relay_counter,Trigger,,0,-1"
}
; --- display
{
	"classname" 			"game_scavenge_progress_display"
	"targetname" 			"coaster_gas_hud_display"
	"max" 					"6"
}
add:
; --- filtro de equipe
{
	"targetname" 			"coaster_gas_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- alvo gas
{
	"classname" 			"point_prop_use_target"
	"nozzle" 				"coaster_gas_prop_fuel"
	"origin" 				"-3184 2209 50"
	"spawnflags" 			"1"
	"targetname" 			"coaster_gas_target_gas"
	"OnUseFinished" 		"coaster_gas_counter_gas,Add,1,0,-1"
}
; --- efeitos sonoros 
{	
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"dlc.Generator_start_run_loop"
	"radius" 				"2000"
	"spawnflags" 			"48"
	"targetname" 			"coaster_gas_sfx_gen"
	"SourceEntityName" 		"coaster_gas_prop_gen"
}
; --- efeitos visuais
{
	"origin" 				"-3213 2228 40"
	"targetname" 			"coaster_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"origin" 				"-3228 2213 40"
	"targetname" 			"coaster_gas_sfx_smokegen"
	"start_active" 			"0"
	"effect_name" 			"smoke_small_black"
	"classname" 			"info_particle_system"
}
{
	"classname" 			"env_spark"
	"origin" 				"-2918 1632 27"
	"targetname" 			"coaster_gas_vfx_spark"
	"TrailLength" 			"1"
	"Magnitude" 			"1"
	"spawnflags" 			"128"
	"MaxDelay"				"2"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-3186 2186 0"
	"angles" 				"0 -135 0"
	"model"	 				"models/props_vehicles/floodlight_generator_nolight_static.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"coaster_gas_prop_gen"
}
{
	"solid" 				"0"
	"origin" 				"-3232 2156 39"
	"angles" 				"0 135 36"
	"model"	 				"models/props_vehicles/radio_generator_fillup.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"coaster_gas_prop_fuel"
}
{
	"solid" 				"0"
	"origin" 				"-3272 2206 2"
	"angles" 				"1 0 0"
	"model"	 				"models/props_vehicles/airport_fuel_truck_hose.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 				"0"
	"origin" 				"-2956 1658 26"
	"angles" 				"0 90 0"
	"model" 				"models/props_unique/generator_switch_01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"coaster_gas_prop_fakecoasterpanel"
}
{
	"solid" 				"0"
	"origin" 				"-3186 2186 0"
	"angles" 				"0 -45 0"
	"model"	 				"models/props_vehicles/floodlight_generator_switch01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"coaster_gas_prop_buttongen"
}
; --- galões
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"coaster_gas_prop_gas"
	"origin" 				"-800 2528 0"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"coaster_gas_prop_gas"
	"origin" 				"-545 687 4"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"coaster_gas_prop_gas"
	"origin" 				"-1695 1503 4"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"coaster_gas_prop_gas"
	"origin" 				"-2086 2591 0"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"coaster_gas_prop_gas"
	"origin" 				"-2722 2158 0"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
{
	"solid" 				"6"
	"classname" 			"weapon_scavenge_item_spawn"
	"targetname" 			"coaster_gas_prop_gas"
	"origin" 				"-3152 2949 0"
	"spawnflags"			"2"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"coaster_gas_hint_msggen"
	"hint_target" 			"coaster_gas_target_msggen"
	"hint_caption"			"Abasteçam o gerador para ligar a montanha-russa"
	"hint_range" 			"4000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_info"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-3186 2186 75"
}
{
	"origin" 				"-3186 2186 75"
	"targetname" 			"coaster_gas_target_msggen"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"coaster_gas_hint_msgbutton"
	"hint_target" 			"coaster_gas_target_msgbutton"
	"hint_caption"			"Liguem o gerador"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-3179 2161 75"
}
{
	"origin" 				"-3179 2161 75"
	"targetname" 			"coaster_gas_target_msgbutton"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"instructor_onslaught_start" ;don't rename
	"hint_target" 			"coaster_gas_target_msgpanel"
	"hint_caption"			"Liguem a montanha-russa para começar o passeio"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-2956 1658 75"
}
{
	"origin" 				"-2956 1658 75"
	"targetname" 			"coaster_gas_target_msgpanel"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
filter:
{
	"hammerid" 				"570562"
}

; =====================================================