; =====================================================
; --- c2m3_coaster event:
; --- Slide door + Tank spawn
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"targetname"			"slide_gate_trigger_event"
	"filtername"			"slide_gate_filter_surv"
	"spawnflags"			"1"
	"extent"				"5 32 32"
	"origin" 				"1729 4031 31"
	"StartDisabled"			"0"
	"OnTrigger" 			"slide_gate_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"slide_gate_template_hint,ForceSpawn,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,StartGlowing,,0,-1"
}
; --- botões
{
	"classname" 			"func_button"
	"origin" 				"906 4567 25"
	"spawnflags" 			"1024"
	"targetname" 			"slide_gate_button_event"
	"glow" 					"slide_gate_prop_button"
	"sounds" 				"4"
	"locked_sound"			"11"
	"OnPressed"				"slide_gate_button_event,Kill,,0,-1"
	"OnPressed"				"slide_gate_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"slide_gate_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"				"slide_gate_relay_event,Kill,,0,-1"
	"OnTrigger"				"slide_gate_hint_msg,Kill,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,StopGlowing,,0,-1"
	"OnTrigger"				"slide_gate_linear_door,Open,,0,-1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,TURN_ON,0,1"
	"OnTrigger" 			"slide_gate_prop_button,SetAnimation,idleon,0.2,1"
	"OnTrigger" 			"slide_gate_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"slide_gate_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"slide_gate_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"slide_gate_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"slide_gate_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger"				"slide_gate_block_navgate,UnBlockNav,,0,-1"
	"OnTrigger"				"slide_gate_block_navgate,kill,,1,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"slide_gate_block_navgate,BlockNav,,1,-1"
	"OnMapSpawn" 			"slide_gate_block_navfence,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 64 64"
	"origin" 				"887 4480 23"
	"targetname" 			"slide_gate_block_navgate"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"5 128 64"
	"origin" 				"1965 3295 23"
	"targetname" 			"slide_gate_block_navfence"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
; --- porta
{
	"model" 				"*1"
	"targetname" 			"slide_gate_linear_door"
	"speed" 				"50"
	"movedistance" 			"93"
	"movedir" 				"-90 0 0"
	"blockdamage" 			"1"
	"classname" 			"func_movelinear"
	"origin" 				"896 4567 25"
	"stopsound" 			"Doors.FullClose10"
	"startsound" 			"Doors.Elevator.Open"
}
; --- filtro de dano
{
	"targetname" 			"slide_gate_filter_dmg"
	"Negated" 				"Allow entities that match criteria"
	"damagetype" 			"0"
	"classname" 			"filter_damage_type"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"slide_gate_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"894 4520 -24"
	"angles" 				"0 180 0"
	"model"	 				"models/props_interiors/door_sliding_breakable01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname"			"slide_gate_linear_door"
	"damagefilter" 			"slide_gate_filter_dmg"
	"targetname" 			"slide_gate_prop_door"
}
{
	"solid" 				"6"
	"origin" 				"894 4440 -24"
	"angles" 				"0 0 0"
	"model"	 				"models/props_interiors/door_sliding_breakable01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname"			"slide_gate_linear_door"
	"damagefilter" 			"slide_gate_filter_dmg"
	"targetname" 			"slide_gate_prop_door"
}
{
	"solid" 				"0"
	"origin" 				"896 4567 25"
	"angles" 				"0 0 0"
	"model"	 				"models/props_mill/freightelevatorbutton01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname"			"slide_gate_prop_button"
}
{
	"solid" 			"6"
	"origin" 			"1965 3296 -40"
	"angles" 			"0 -180 0"
	"model"	 			"models/props_exteriors/roadsidefence_512.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- zombie spawn
{
	"origin" 				"667 4479. -38"
	"targetname" 			"slide_gate_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 -90 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"slide_gate_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"slide_gate_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"slide_gate_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}
; --- templates
{
	"Template01" 			"slide_gate_hint_msg"
	"targetname" 			"slide_gate_template_hint"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"slide_gate_hint_msg"
	"hint_target" 			"slide_gate_prop_button"
	"hint_caption"			"Pressionem o botão para abrir a porta"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"906 4567 25"
	"hint_forcecaption"		"1"
}

; =====================================================