; =====================================================
; --- c2m3_coaster event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"2957 2885 -8"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1375 4347 0"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-3070 2372 0"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2303 1237 176"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-535 4139 128"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-583 1760 0"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-3542 1747 160"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}

; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- Objetos do cenario
{
	"classname" 			"prop_dynamic"
	"origin" 			"4305 2048 68"
	"angles" 			"0 0 0"
	"model" 			"models/props_fairgrounds/tol_tunnel_heart.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"4304 2048 -128"
	"angles" 			"0 180 -180"
	"model" 			"models/props_fairgrounds/tol_tunnel_heart.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"lightingorigin" 		"tol_heart_lighting"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"4490 1926 -11"
	"angles" 			"79 90 0"
	"model" 			"models/props_fairgrounds/swan_boat.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"4595 2046 -64"
	"angles" 			"0 184.5 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"4594 2076 0"
	"angles" 			"-12.5 185.5 -90"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
; --- fix do alvo de luz
{
	"classname" 			"info_target"
	"origin" 			"4305 2048 68"
	"targetname" 			"tol_heart_lighting"
}

; -----------------------------------------------------
; --- saferoom final
; --- props by https://github.com/SirPlease/L4D2-Competitive-Rework/
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"1036878"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
add:
; --- Objetos do cenario
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5495 1563 4"
	"angles" 			"0 90 0"
	"model" 			"models/props_urban/garbage_can002.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5321 1339 10"
	"angles" 			"0 90 0"
	"model" 			"models/props_junk/trashcluster01a.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5078 1869 4"
	"angles" 			"0 224.5 0"
	"model" 			"models/props/cs_militia/boxes_garage_lower.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5024 1869 4"
	"angles" 			"0 0 0"
	"model" 			"models/props/de_nuke/crate_small.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5039 1953 4"
	"angles" 			"0 0 0"
	"model" 			"models/props/de_nuke/crate_extralarge.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5118 1931 4"
	"angles" 			"0 176.5 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5104 1933 4"
	"angles" 			"0 176.5 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"	
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5001 1475 4"
	"angles" 			"0 178.5 0"
	"model"				"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5015 1472 4"
	"angles" 			"0 180 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5028 1475 4"
	"angles" 			"0 180 0"
	"model" 			"models/props_fortifications/police_barrier001_128_reference.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"skin" 				"1"
}
{
	"classname" 			"prop_dynamic"
	"origin" 			"-5251.63 1940.39 4.25"
	"angles" 			"0 180 0"
	"model" 			"models/props_urban/wood_railing001_128.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"lightingorigin" 		"end_railing_lighting"
}
; --- fix do alvo de luz
{
	"classname" 			"info_target"
	"origin" 			"-5252 1812 4"
	"targetname" 			"end_railing_lighting"
}

; =====================================================
; =====================================================
; --- c2m3_coaster event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- tunel
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*159"
		"hammerid" 		"1563043"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- Objetos do cenario
filter:
{
	"hammerid" 			"1561818"
}
{
	"hammerid" 			"1563601"
}
add:
{
	"solid" 			"0"
	"origin" 			"-138 3552 -178"
	"angles" 			"0 180 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
; -----------------------------------------------------
; --- montanha russa
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*65"
		"hammerid" 		"417160"
	}
	replace:
	{
		"team" 			"0"
	}
}
add:
{
	"solid" 			"0"
	"origin" 			"-3536 368 45"
	"angles" 			"7 0 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"ladder_coaster_hint_msg"
	"hint_target" 			"ladder_coaster_hint_target"
	"hint_caption"			"Você pode retornar ao topo por aqui"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 		"icon_tip"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-3527 368 500"
}
{
	"origin" 			"-3527 368 500"
	"targetname" 			"ladder_coaster_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================