; =====================================================
; --- c11m3_garage event:
; --- Wood barricade + Tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
modify:
{
	match:
	{
		"hammerid"			"7082739"
	}
	insert:
	{
		"OnBreak" 			"tank_spawn_relay_event,Trigger,,5,-1"
	}
}
add:
; --- relays
{
	"targetname" 			"tank_spawn_relay_event"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"				"tank_spawn_relay_event,Kill,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_fire,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank1,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank2,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_shake,StartShake,,0,-1"
	"OnTrigger"				"tank_spawn_prop_container1,Kill,,0,-1"
	"OnTrigger"				"tank_spawn_prop_container2,DisableCollision,,0.1,-1"
	"OnTrigger"				"tank_spawn_prop_container2,EnableCollision,,3.1,-1"
}
; --- zombie spawn
{
	"origin" 				"-6151 -1723 891"
	"targetname" 			"tank_spawn_zombie_tank1"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 45 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank1,Kill,,0,-1"
	"OnSpawnTank" 			"@director,DisableTankFrustration,,0,-1"
}
{
	"origin" 				"-6420 -1991 891"
	"targetname" 			"tank_spawn_zombie_tank2"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 -135 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank2,Kill,,0,-1"
	"OnSpawnTank" 			"@director,DisableTankFrustration,,0,-1"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin" 				"-6800 -1287 485"
	"angles" 				"0 135 0"
	"model"	 				"models/lighthouse/junkyard_crane_arm.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 				"6"
	"origin" 				"-6286 -1858 882"
	"angles" 				"0 135 0"
	"model"	 				"models/props_equipment/cargo_container04.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"tank_spawn_prop_container2"
}
{
	"solid" 				"6"
	"origin" 				"-6286 -1858 882"
	"angles" 				"0 135 0"
	"model"	 				"models/props_equipment/cargo_container01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"tank_spawn_prop_container1"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 				"-6151 -1723 890"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 				"-6420 -1991 890"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"tank_spawn_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"-6800 -1287 485"
	"targetname" 			"tank_spawn_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
; --- cabos
{
	"origin" 				"-6300 -1848 1377"
	"classname" 			"keyframe_rope"
	"targetname" 			"tank_spawn_rope_crane"
}
{
	"origin" 				"-6376 -2034 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
{
	"origin" 				"-6461 -1948 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
{
	"origin" 				"-6196 -1684 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"classname" 			"keyframe_rope"
	"NextKey" 				"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
{
	"origin" 				"-6112 -1769 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"classname" 			"keyframe_rope"
	"NextKey" 				"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"tank_spawn_sfx_explosion"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"tank_spawn_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}

; =====================================================