; =====================================================
; --- c11m3_garage event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- obra
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		"hammerid" 			"7623554"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"7623204"
	}
	replace:
	{
		"team" 				"0"
	}
}
{
	match:
	{
		"hammerid" 			"7441453"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-6029 -2234 100"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 				"0"
	"origin" 				"-6827 -2078 106"
	"angles" 				"-5 -90 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}

{
	"solid" 				"0"
	"origin" 				"-5410 -2129 300"
	"angles" 				"-5 180 0"
	"model"	 				"models/props/de_train/ladderaluminium.mdl"
	"classname"				"prop_dynamic"
	"disableshadows"		"1"
}

; =====================================================
; =====================================================
; --- c11m3_garage event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-6743 -1937 223"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 90 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
{
	"origin" 				"-5566 -2081 216"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-6429 -2135 221"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-6808 -1267 244"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-4367 1072 16"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-3533 4127 24"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-5795 -1645 221"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-3330 2795 58"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-2267 3614 160"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"4510233"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================