; =====================================================
; --- c8m3_sewers event:
; --- The parachutist + Tank spawn
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"script_trigger_once"
	"targetname" 			"tank_spawn_trigger_event"
	"filtername" 			"tank_spawn_filter_surv"
	"spawnflags" 			"1"
	"extent"				"5 960 64"
	"StartDisabled"			"0"
	"origin" 				"13818 12095 71"
	"OnTrigger" 			"tank_spawn_trigger_event,kill,,0,-1"
	"OnTrigger" 			"tank_spawn_trigger_relay,Trigger,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_flarelight,TurnOff,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"tank_spawn_trigger_relay"
	"spawnflags" 			"1"
	"OnTrigger" 			"tank_spawn_relay_event,kill,,0,-1"
	"OnTrigger" 			"tank_spawn_train_tank,StartForward,,1,-1"
	"OnTrigger" 			"tank_spawn_vfx_fire,Start,,1,-1"
	"OnTrigger"				"tank_spawn_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger"				"tank_spawn_sfx_faketankjump,PlaySound,,1,-1"
	"OnTrigger" 			"tank_spawn_vfx_shake,StartShake,,1,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,PlaySound,,1,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,FadeOut,1,2.5,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Start,,1,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Stop,,2.5,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"tank_spawn_relay_parachute"
	"spawnflags" 			"1"
	"OnTrigger" 			"tank_spawn_relay_parachute,kill,,0,-1"
	"OnTrigger"				"tank_spawn_train_tank,SetSpeedReal,300,0,-1"
	"OnTrigger"				"tank_spawn_prop_parachute,Enable,,0,-1"
	"OnTrigger"				"tank_spawn_timer_soundtank,Enable,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_wind,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_flare,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_flare,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_flarelight,TurnOn,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"tank_spawn_relay_landing"
	"spawnflags" 			"1"
	"OnTrigger" 			"tank_spawn_relay_landing,kill,,0,-1"
	"OnTrigger"				"tank_spawn_prop_faketank,disable,,0,-1"
	"OnTrigger"				"tank_spawn_timer_soundtank,Kill,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_wind,FadeOut,1,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_flare,FadeOut,1,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_flare,Stop,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_flarelight,TurnOff,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- filtro de equipe
{
	"targetname" 			"tank_spawn_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- objetos do cenário
add:
{
	"solid" 				"6"
	"origin" 				"12882 12089 448"
	"angles" 				"0 0 0"
	"model"	 				"models/infected/hulk_dlc3.mdl"
	"targetname" 			"tank_spawn_prop_faketank"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"DefaultAnim"			"Crouch_Idle"
	"parentname" 			"tank_spawn_train_tank"
}
{
	"solid" 				"6"
	"origin" 				"12890 12090 628"
	"angles" 				"0 90 0"
	"model"	 				"models/props_swamp/parachute01.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"parentname" 			"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_prop_parachute"
	"StartDisabled" 		"1"
}
; --- cabos
{
	"origin" 				"12870 12198 639"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"tank_spawn_prop_faketank"
	"classname" 			"keyframe_rope"
	"parentname" 			"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_rope_faketank"
}
{
	"origin" 				"12781 12056 660"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"tank_spawn_prop_faketank"
	"classname" 			"keyframe_rope"
	"parentname" 			"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_rope_faketank"
}
{
	"origin" 				"13001 12119 683"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 				"tank_spawn_prop_faketank"
	"classname" 			"keyframe_rope"
	"parentname" 			"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_rope_faketank"
}
{
	"origin" 				"12944 12016 606"
	"classname" 			"keyframe_rope"
	"NextKey" 				"tank_spawn_prop_faketank"
	"classname" 			"keyframe_rope"
	"parentname" 			"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_rope_faketank"
}
; --- temporizador
{
	"UseRandomTime" 		"1"
	"UpperRandomBound" 		"3"
	"targetname" 			"tank_spawn_timer_soundtank"
	"StartDisabled" 		"1"
	"spawnflags" 			"0"
	"LowerRandomBound" 		"1"
	"classname" 			"logic_timer"
	"OnTimer" 				"tank_spawn_random_soundtank,PickRandom,,0,-1"
}
; --- randomizador
{
	"targetname" 			"tank_spawn_random_soundtank"
	"classname" 			"logic_case"
	"OnCase01" 				"tank_spawn_sfx_faketank1,PlaySound,,0,-1"
	"OnCase02" 				"tank_spawn_sfx_faketank2,PlaySound,,0,-1"
	"OnCase03" 				"tank_spawn_sfx_faketank3,PlaySound,,0,-1"
	"OnCase04" 				"tank_spawn_sfx_faketank4,PlaySound,,0,-1"
	"OnCase05" 				"tank_spawn_sfx_faketank5,PlaySound,,0,-1"
	"OnCase06" 				"tank_spawn_sfx_faketank6,PlaySound,,0,-1"
}
; --- zombie spawn
{
	"origin" 				"13229 11665 198"
	"targetname" 			"tank_spawn_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 -170 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 				"12887 13759 5496"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"flare_boat"
	"targetname" 			"tank_spawn_vfx_flare"
	"origin" 				"12882 12089 428"
	"parentname" 			"tank_spawn_prop_faketank"
}
{
	"classname" 			"light_dynamic"
	"_light" 				"255 0 0 0"
	"distance" 				"300"
	"origin" 				"12882 12089 428"
	"style" 				"33"
	"parentname" 			"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_vfx_flarelight"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"tank_spawn_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"14231 11660 8"
	"targetname" 			"tank_spawn_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 				"player/heartbeatloop.wav"
	"targetname" 			"tank_spawn_sfx_heart"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"targetname" 			"tank_spawn_sfx_flare"
	"spawnflags" 			"49"
	"message" 				"Flaregun.Detonate"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"classname" 			"ambient_generic"
	"message" 				"ambient/wind/windgust_strong.wav"
	"targetname" 			"tank_spawn_sfx_wind"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 				"animation/bridge_destruct_swt_01.wav"
	"targetname" 			"tank_spawn_sfx_explosion"
	"health" 				"10"
	"spawnflags" 			"49"
}
{
	"targetname" 			"tank_spawn_sfx_faketankjump"
	"spawnflags" 			"49"
	"message" 				"player/tank/voice/pain/tank_fire_08.wav"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank1"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.Breathe"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank2"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.Growl"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank3"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.StartLedgeClimb"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank4"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.Alert"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank5"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.Voice"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank6"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.Yell"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
{
	"SourceEntityName" 		"tank_spawn_prop_faketank"
	"targetname" 			"tank_spawn_sfx_faketank7"
	"spawnflags" 			"48"
	"radius" 				"10000"
	"message" 				"HulkZombie.Attack"
	"health" 				"10"
	"classname" 			"ambient_generic"
}
; --- base
{
	"wheels" 				"200"
	"velocitytype" 			"2"
	"targetname" 			"tank_spawn_train_tank"
	"target" 				"tank_spawn_track_targettank"
	"startspeed" 			"1000"
	"speed" 				"0"
	"origin" 				"12882 12089 448"
	"orientationtype" 		"2"
	"disableshadows" 		"1"
	"bank" 					"-5"
	"classname" 			"func_tracktrain"
	"spawnflags" 			"512"
}
; --- trilho
{
	"origin" 				"12624 13903 5496"
	"targetname" 			"tank_spawn_track_targettank"
	"target" 				"tank_spawn_track_target0"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 				"12928 13630 5496"
	"targetname" 			"tank_spawn_track_target0"
	"target" 				"tank_spawn_track_target1"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 				"13266 13065 1500"
	"targetname" 			"tank_spawn_track_target1"
	"target" 				"tank_spawn_track_target2"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass"				"tank_spawn_relay_parachute,Trigger,,0,-1"
}
{
	"origin" 				"13629 12959 1279"
	"targetname" 			"tank_spawn_track_target2"
	"target" 				"tank_spawn_track_target3"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass"				"tank_spawn_train_tank,SetSpeedReal,200,0,-1"
}
{
	"origin" 				"13999 12698 1023"
	"targetname" 			"tank_spawn_track_target3"
	"target" 				"tank_spawn_track_target4"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 				"14145 12347 807"
	"targetname" 			"tank_spawn_track_target4"
	"target" 				"tank_spawn_track_target5"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass"				"tank_spawn_train_tank,SetSpeedReal,150,0,-1"
}
{
	"origin" 				"14074 12042 646"
	"targetname" 			"tank_spawn_track_target5"
	"target" 				"tank_spawn_track_target6"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 				"13711 11875 467"
	"targetname" 			"tank_spawn_track_target6"
	"target" 				"tank_spawn_track_target7"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass"				"tank_spawn_train_tank,SetSpeedReal,100,0,-1"
}
{
	"origin" 				"13229 11665 199"
	"targetname" 			"tank_spawn_track_target7"
	"target" 				"tank_spawn_track_target8"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass"				"tank_spawn_relay_landing,Trigger,,0,-1"
}
{
	"origin" 				"12889 11544 -200"
	"targetname" 			"tank_spawn_track_target8"
	"target" 				"tank_spawn_track_target9"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}

; =====================================================