; =====================================================
; --- c8m3_sewers event:
; --- Slowmotion gas explosion
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================

; --- relays
modify:
{
        match:
        {
		"hammerid" 			"5154080"
        }
        insert:
        {
		"OnTrigger" 		"slowmotion_gas_vfx_slowmotion,Start,,0,-1"
		"OnTrigger" 		"slowmotion_gas_vfx_slowmotion,Stop,,1.5,-1"
		"OnTrigger" 		"slowmotion_gas_sfx_heart,PlaySound,,0,-1"
		"OnTrigger" 		"slowmotion_gas_sfx_heart,FadeOut,1,1.5,-1"
	}
}
; --- efeitos visuais
add:
{
	"classname" 			"func_timescale"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
	"targetname" 			"slowmotion_gas_vfx_slowmotion"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"slowmotion_gas_sfx_heart"
}

; =====================================================