; =====================================================
; --- c10m3_ranchhouse event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"2473004"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
{
	"solid" 			"0"
	"origin" 			"-9397 -5423 -63"
	"angles" 			"0 -180 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"-9397 -5423 -43"
	"style" 			"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"-12008 -4508 -64"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-7448 -2543 12"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-4677 -923 -82"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}

; =====================================================