; =====================================================
; --- c1m3_mall event:
; --- Kappels alarm door
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
add:
; --- ativadores
{
	"classname"			"script_trigger_once"
	"extent"			"5 128 64"
	"spawnflags"			"1"
	"StartDisabled"			"0"
	"origin" 			"5264 -2751 343"
	"targetname"			"kappels_alarm_trigger_event"
	"filtername"			"kappels_alarm_filter_surv"
	"OnTrigger"			"kappels_alarm_relay_event,Trigger,,0,-1"
	"OnTrigger"			"kappels_alarm_trigger_event,Kill,,0,-1"
}
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"kappels_alarm_relay_lightgreen,Trigger,,0,-1"
}
; --- relays 
{
	"classname" 			"logic_relay"
	"targetname"			"kappels_alarm_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"			"kappels_alarm_hint_msg,kill,,0,-1"
	"OnTrigger"			"kappels_alarm_vfx_light,color,255 0 0,-1"
	"OnTrigger"			"kappels_alarm_relay_lightgreen,Kill,,0,-1"
	"OnTrigger"			"kappels_alarm_relay_lightred,Trigger,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_sound,Trigger,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_sound,kill,,45,-1"
	"OnTrigger"			"kappels_alarm_relay_lightred,Kill,,45,-1"
	"OnTrigger"			"kappels_alarm_relay_event,Kill,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"2"
	"targetname" 			"kappels_alarm_relay_lightgreen"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOff,,0,-1"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOn,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_lightgreen,Trigger,,1,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"2"
	"targetname" 			"kappels_alarm_relay_lightred"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOff,,0,-1"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOn,,0.25,-1"
	"OnTrigger"			"kappels_alarm_relay_lightred,Trigger,,0.5,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"2"
	"targetname" 			"kappels_alarm_relay_sound"
	"OnTrigger"			"kappels_alarm_sfx_alarm,PlaySound,,0,-1"
	"OnTrigger"			"kappels_alarm_sfx_alarm,StopSound,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_sound,Trigger,,0.5,-1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"kappels_alarm_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5275 -2872 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5265 -2745 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5265 -2617 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5265 -2494 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5276 -2376 346"
	"radius"			"3000"
}
; --- efeitos visuais
{
	"origin" 			"5275 -2872 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2750 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"

}
{
	"origin" 			"5265 -2745 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2622 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2617 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2494 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2490 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5276 -2376 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"kappels_alarm_hint_msg"
	"hint_target" 			"kappels_alarm_hint_target"
	"hint_caption"			"Atenção!!!"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 		"icon_alert_red"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"5300 -2748 346"
}
{
	"origin" 			"5300 -2748 346"
	"targetname" 			"kappels_alarm_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================
