; =====================================================
; --- c1m3_mall event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- pre evento
; -----------------------------------------------------
;escadas
modify:
{
	match:
	{
		;"model" 		"*160"
		"hammerid" 		"1313401"
	}
	replace:
	{
		"team" 			"0"
	}
}
;objetos de cenario
add:
{
	"solid" 			"0"
	"origin" 			"1603 -1031 219"
	"angles" 			"6 0 0"
	"model"	 			"models/props_c17/metalladder001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
; --- c1m3_mall event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- objetos de cenario
{
	"solid" 			"6"
	"origin" 			"7002 -1503 24"
	"angles" 			"0 0 0"
	"model"	 			"models/props_crates/static_crate_40.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"7003 -1504 63"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"6511 -1433 59"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"6329 -1687 24"
	"angles" 			"0 70 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"6329 -1687 44"
	"style" 			"1"
}
{
	"classname" 			"light_dynamic"
	"_light" 			"255 245 145 0"
	"distance" 			"200"
	"origin" 			"7003 -1504 78"
}
{
	"classname" 			"light_dynamic"
	"_light" 			"255 245 145  0"
	"distance" 			"200"
	"origin" 			"6511 -1433 74"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
add:
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"final_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"5 404 64"
	"origin" 			"-705 -4352 343"
	"targetname" 			"final_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"

}
; --- objetos de cenario
{
	"solid" 			"6"
	"origin" 			"-706 -4192 280"
	"angles" 			"0 180 0"
	"model"	 			"models/props_exteriors/roadsidefence_512.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"

}
{
	"solid" 			"6"
	"origin" 			"-706 -4705 280"
	"angles" 			"0 180 0"
	"model"	 			"models/props_exteriors/roadsidefence_512.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"0"
	"origin" 			"-2219 -4611 571"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
filter:
{
	"hammerid"			"661525"
}
{
	"hammerid"			"661514"
}
; --- efeitos visuais
add:
{
	"classname" 			"light_dynamic"
	"_light" 			"255 245 145 0"
	"distance" 			"200"
	"origin" 			"-2219 -4611 586"
}
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"221102"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; -----------------------------------------------------
; --- ativas escadas rolantes
; -----------------------------------------------------
;relays
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"escalator_lower_01*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_lower_02*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_01*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_02*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_lower_03*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_lower_04*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_03*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_04*,FireUser1,,0,-1"
}
filter:
{
	"hammerid"			"253927"
}

; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"1792 -1089 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"769 -2628 0"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1184 -2489 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1608 -3294 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1343 -3523 536"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1242 -5167 536"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-401 -5330 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-623 -4201 536"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"4828 -2761 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}

; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-1875 -3988 536"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -20 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; --- objetos do cenario
filter:
{
	"hammerid"			"661656"
}

; =====================================================
