; =====================================================
; --- c11m2_offices event:
; --- New route (parking)
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
add:
; --- objetos do cenario
{
	"solid" 			"6"
	"origin"	 		"-2685 4175 152"
	"angles" 			"0 90 0"
	"model"	 			"models/props_street/police_barricade_496in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2588 4159 152"
	"angles" 			"0 89 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2691 4160 152"
	"angles" 			"0 89 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2792 4160 152"
	"angles" 			"0 89 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

{
	"solid" 			"6"
	"origin" 			"-2480 4156 152"
	"angles" 			"0 85 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2378 4138 152"
	"angles" 			"0 76 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2346 4209 152"
	"angles" 			"0 60 0"
	"model"	 			"models/props_vehicles/van.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2346 4209 152"
	"angles" 			"0 60 0"
	"model"	 			"models/props_vehicles/van_glass.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2332 4146 158"
	"angles" 			"-10 60 5"
	"model"	 			"models/props_street/police_barricade2.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2252 4136 161"
	"angles" 			"45 0 0"
	"model"	 			"models/props_street/police_barricade.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2280 4097 152"
	"angles" 			"0 58 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2893 4152 152"
	"angles" 			"0 100 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"new_route_block_navfence,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"400 5 64"
	"origin" 			"-2545 4176 215"
	"targetname" 			"new_route_block_navfence"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
    	"classname" 			"env_physics_blocker"
    	"maxs" 				"64 32 64"
    	"mins" 				"-64 -32 -64"
	"origin" 			"-2230 4137 216"
    	"initialstate" 			"1"
    	"BlockType" 			"0"
}

; =====================================================
