; =====================================================
; --- c1m1_hotel event:
; --- Call right elevator
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
; --- ativadores
add:
{
	"classname" 			"func_button"
	"origin" 				"2048 5685.9 2516.17"
	"spawnflags" 			"1024"
	"targetname" 			"call_right_elevator_button_event"
	"glow" 					"call_right_elevator_prop_buttom"
	"sounds" 				"32"
	"OnPressed" 			"call_right_elevator_relay_event,Trigger,,0,-1"
	"OnPressed" 			"call_right_elevator_button_event,Kill,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"call_right_elevator_relay_event"
	"spawnflags" 			"1"
	"OnTrigger" 			"call_right_elevator_hint_msg,Kill,0,0,-1"
	"OnTrigger" 			"call_right_elevator_prop_buttom,StopGlowing,,0,-1"
	"OnTrigger" 			"call_right_elevator_prop_buttom,Skin,1,0,-1"
	"OnTrigger" 			"call_right_elevator_prop_buttom,Skin,0,24,-1"
	"OnTrigger" 			"call_right_elevator_prop_arrow,Skin,1,0,-1"
	"OnTrigger" 			"call_right_elevator_prop_arrow,Skin,0,24,-1"
	"OnTrigger" 			"elevator_movement_sound,PlaySound,,2,-1"
	"OnTrigger" 			"elevator_movement_sound,StopSound,,20,-1"
	"OnTrigger" 			"sound_elevator_arrived,PlaySound,,24,-1"
	"OnTrigger" 			"sound_elevator_arrived,StopSound,,30,-1"
	"OnTrigger" 			"elevator_stop_sound,PlaySound,,22,-1"
	"OnTrigger" 			"elevator_1_door1,Open,,25,-1"
	"OnTrigger" 			"elevator_1_door2,Open,,25,-1"
	"OnTrigger" 			"call_right_elevator_block_nav,UnblockNav,,25,-1"
	"OnTrigger" 			"call_right_elevator_block_nav,Kill,,26,-1"
	"OnTrigger" 			"call_right_elevator_relay_event,Kill,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
filter:
{
	"hammerid" 				"1227763"
}
; --- objetos do cenario
add:
{
	"origin" 				"2048 5695.9 2516.17"
	"targetname" 			"call_right_elevator_prop_buttom"
	"solid" 				"0"
	"model" 				"models/props_equipment/elevator_buttons.mdl"
	"disableshadows" 		"1"
	"angles" 				"0 270 0"
	"classname" 			"prop_dynamic"
	"glowrange" 			"500"
	"glowstate"				"2"
}
filter:
{
	"hammerid" 				"329945"
}
{
	"hammerid" 				"703659"
}
modify:
{
	match:
	{
		"hammerid" 			"330225"
	}
	replace:
	{
		"targetname" 		"call_right_elevator_prop_arrow"
	}
}
; --- bloqueios
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"call_right_elevator_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"				"64 5 64"
	"origin" 				"2169 5706 2527"
	"targetname" 			"call_right_elevator_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"0"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"call_right_elevator_hint_msg"
	"hint_target" 			"call_right_elevator_prop_buttom"
	"hint_caption"			"Chamem o elevador"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_button"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"2048 5685.9 2516.17"
}

; =====================================================