; =====================================================
; --- c11m1_greenhouse event:
; --- Alarm hotel
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- relays
{
	"classname"			"logic_auto"
	"OnMapSpawn"			"alarm_hotel_vfx_redlight,TurnOff,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"alarm_hotel_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"			"alarm_hotel_relay_event,kill,,0,-1"
	"OnTrigger" 			"alarm_hotel_prop_redlight,Skin,1,0,-1"
	"OnTrigger" 			"alarm_hotel_prop_redlight,Skin,0,60,-1"
	"OnTrigger"			"alarm_hotel_vfx_redlight,TurnOn,,0,-1"
	"OnTrigger"			"alarm_hotel_vfx_redlight,TurnOff,,60,-1"
	"OnTrigger"			"alarm_hotel_sfx_alarm,PlaySound,,0,-1"
	"OnTrigger"			"alarm_hotel_sfx_alarm,FadeOut,1,60,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
	"OnTrigger" 			"@director,BeginScript,c1_mall_onslaught,3,-1" //c1m3 script alarm event
	"OnTrigger" 			"@director,EndScript,c1_mall_onslaught,60,-1" //c1m3 script alarm event
}
; --- porta
{
	"origin" 			"4552 2520 100"
	"targetname" 			"hotelL"
	"speed" 			"200"
	"spawnpos" 			"0"
	"spawnflags" 			"524288"
	"returndelay" 			"-1"
	"opendir" 			"2"
	"model" 			"models/props_doors/doormainmetal01.mdl"
	"forceclosed" 			"0"
	"distance" 			"90"
	"disableshadows" 		"1"
	"angles" 			"0 180 0"
	"slavename" 			"hotelR"
	"classname" 			"prop_door_rotating"
	"OnFullyOpen" 			"alarm_hotel_relay_event,Trigger,,0,-1"
}
{
	"origin" 			"4552 2408 100"
	"targetname" 			"hotelR"
	"speed" 			"200"
	"spawnpos" 			"0"
	"spawnflags" 			"524288"
	"returndelay" 			"-1"
	"opendir" 			"1"
	"model" 			"models/props_doors/doormainmetal01.mdl"
	"forceclosed" 			"0"
	"distance" 			"90"
	"disableshadows" 		"1"
	"angles" 			"0 0 0"
	"slavename" 			"hotelL"
	"classname" 			"prop_door_rotating"
	"OnFullyOpen" 			"alarm_hotel_relay_event,Trigger,,0,-1"
}
filter:
{
	"hammerid"			"6922827"
}
{
	"hammerid"			"6922832"
}
{
	"hammerid"			"6922298"
}
{
	"hammerid"			"6922301"
}
add:
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/alarms/alarm1.wav"
	"radius" 			"10000"
	"spawnflags" 			"48"
	"origin" 			"4705 2557 379"
	"targetname" 			"alarm_hotel_sfx_alarm"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"255 0 0 0"
	"distance" 			"200"
	"origin" 			"4705 2557 359"
	"style" 			"1"
	"targetname" 			"alarm_hotel_vfx_redlight"
}
; --- objetos do cenario
{
	"classname"			"prop_dynamic"
	"solid" 			"0"
	"origin" 			"4705 2557 379"
	"angles" 			"0 0 0"
	"model"				"models/props/de_nuke/light_red2.mdl"
	"disableshadows" 		"1"
	"skin" 				"0"
	"targetname" 			"alarm_hotel_prop_redlight"
}
{
	"solid" 			"6"
	"origin" 			"4559 2578 48"
	"angles" 			"0 0 0"
	"model"	 			"models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"4559 2350 48"
	"angles" 			"0 0 0"
	"model"	 			"models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"4559 2524 177"
	"angles" 			"0 0 90"
	"model"	 			"models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c1m2_streets event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"3501 44 546"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"3190 2158 296"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"6922310"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================
; =====================================================
; --- c1m2_streets event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- telhado do "help! need food"
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*67"
		"hammerid" 		"7879604"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*68"
		"hammerid" 		"7879606"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"2875 1292 480"
	"angles" 			"-5 90 0"
	"model"	 			"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"2873 1163 584"
	"angles" 			"-5 90 0"
	"model"			 	"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
