; =====================================================
; --- c11m2_offices event:
; --- Wood barricade + Tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
modify:
{
	match:
	{
		"hammerid"		"7082739"
	}
	insert:
	{
		"OnBreak" 		"tank_spawn_relay_event,Trigger,,5,-1"
	}
}
add:
; --- relays
{
	"targetname" 			"tank_spawn_relay_event"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"			"tank_spawn_relay_event,Kill,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_fire,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank1,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank2,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_shake,StartShake,,0,-1"
	"OnTrigger"			"tank_spawn_prop_container1,Kill,,0,-1"
	"OnTrigger"			"tank_spawn_prop_container2,DisableCollision,,0.1,-1"
	"OnTrigger"			"tank_spawn_prop_container2,EnableCollision,,3.1,-1"
}
; --- zombie spawn
{
	"origin" 			"-6151 -1723 891"
	"targetname" 			"tank_spawn_zombie_tank1"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 			"0 45 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank1,Kill,,0,-1"
	"OnSpawnTank" 			"@director,DisableTankFrustration,,0,-1"
}
{
	"origin" 			"-6420 -1991 891"
	"targetname" 			"tank_spawn_zombie_tank2"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 			"0 -135 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank2,Kill,,0,-1"
	"OnSpawnTank" 			"@director,DisableTankFrustration,,0,-1"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"-6800 -1287 485"
	"angles" 			"0 135 0"
	"model"	 			"models/lighthouse/junkyard_crane_arm.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"-6286 -1858 882"
	"angles" 			"0 135 0"
	"model"	 			"models/props_equipment/cargo_container04.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"tank_spawn_prop_container2"
}
{
	"solid" 			"6"
	"origin" 			"-6286 -1858 882"
	"angles" 			"0 135 0"
	"model"	 			"models/props_equipment/cargo_container01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
	"targetname"			"tank_spawn_prop_container1"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 			"-6151 -1723 890"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 			"-6420 -1991 890"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"tank_spawn_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 		"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 			"-6800 -1287 485"
	"targetname" 			"tank_spawn_vfx_shake"
	"spawnflags" 			"1"
	"radius" 			"3000"
	"frequency" 			"250"
	"duration" 			"2"
	"amplitude" 			"4"
}
; --- cabos
{
	"origin" "-6300 -1848 1377"
	"classname" 			"keyframe_rope"
	"targetname" 			"tank_spawn_rope_crane"
}
{
	"origin" "-6376 -2034 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
{
	"origin" "-6461 -1948 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"NextKey" 			"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
{
	"origin" "-6196 -1684 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"classname" 			"keyframe_rope"
	"NextKey" 			"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
{
	"origin" "-6112 -1769 1010"
	"RopeMaterial" 			"cable/cable.vmt"
	"classname" 			"keyframe_rope"
	"NextKey" 			"tank_spawn_rope_crane"
	"classname" 			"keyframe_rope"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 			"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"tank_spawn_sfx_explosion"
	"health" 			"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 			"player/heartbeatloop.wav"
	"targetname" 			"tank_spawn_sfx_heart"
	"health" 			"10"
	"spawnflags" 			"49"
}

; =====================================================
; =====================================================
; --- c11m2_offices event:
; --- New route (parking)
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
add:
; --- objetos do cenario
{
	"solid" 			"6"
	"origin"	 		"-2685 4175 152"
	"angles" 			"0 90 0"
	"model"	 			"models/props_street/police_barricade_496in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2588 4159 152"
	"angles" 			"0 89 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2691 4160 152"
	"angles" 			"0 89 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2792 4160 152"
	"angles" 			"0 89 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

{
	"solid" 			"6"
	"origin" 			"-2480 4156 152"
	"angles" 			"0 85 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2378 4138 152"
	"angles" 			"0 76 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2346 4209 152"
	"angles" 			"0 60 0"
	"model"	 			"models/props_vehicles/van.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2346 4209 152"
	"angles" 			"0 60 0"
	"model"	 			"models/props_vehicles/van_glass.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2332 4146 158"
	"angles" 			"-10 60 5"
	"model"	 			"models/props_street/police_barricade2.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2252 4136 161"
	"angles" 			"45 0 0"
	"model"	 			"models/props_street/police_barricade.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2280 4097 152"
	"angles" 			"0 58 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2893 4152 152"
	"angles" 			"0 100 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"new_route_block_navfence,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"400 5 64"
	"origin" 			"-2545 4176 215"
	"targetname" 			"new_route_block_navfence"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
    	"classname" 			"env_physics_blocker"
    	"maxs" 				"64 32 64"
    	"mins" 				"-64 -32 -64"
	"origin" 			"-2230 4137 216"
    	"initialstate" 			"1"
    	"BlockType" 			"0"
}

; =====================================================
; =====================================================
; --- c11m3_garage event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- obra
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		;"model" 		"*185"
		"hammerid" 		"7623554"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*184"
		"hammerid" 		"7623204"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*182"
		"hammerid" 		"7441453"
	}
	replace:
	{
		"team" 			"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"-6029 -2234 100"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"0"
	"origin" 			"-6827 -2078 106"
	"angles" 			"-5 -90 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}

{
	"solid" 			"0"
	"origin" 			"-5410 -2129 300"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}

; =====================================================
; =====================================================
; --- c8m1_apartment event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-6743 -1937 223"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 90 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
{
	"origin" 			"-5566 -2081 216"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 135 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"-6429 -2135 221"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-6808 -1267 244"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-4367 1072 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-3533 4127 24"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-5795 -1645 221"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-3330 2795 58"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2267 3614 160"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"4510233"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; =====================================================
