; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Prevent infected from going out of bounds around the edges of the map
{
	"classname" "env_physics_blocker"
	"origin" "-12173 -14739 -28"
	"angles" "0 15 0"
	"mins" "-50 -1225 -90"
	"maxs" "50 1225 90"
	"boxmins" "-50 -1225 -90"
	"boxmaxs" "50 1225 90"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-12915 -12256 -31"
	"angles" "0 30 0"
	"mins" "-58 -113 -90"
	"maxs" "58 113 90"
	"boxmins" "-58 -113 -90"
	"boxmaxs" "58 113 90"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-13270 -11326 -28"
	"angles" "0 15 0"
	"mins" "-50 -851 -90"
	"maxs" "50 851 90"
	"boxmins" "-50 -851 -90"
	"boxmaxs" "50 851 90"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Prevent infected from going out of bounds behind tree cards near the end of the map
{
	"classname" "env_physics_blocker"
	"origin" "-8450 -10408 996"
	"mins" "-194 -20 -484"
	"maxs" "194 20 484"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8030 -10442 996"
	"angles" "0 -10 0"
	"mins" "-230 -18 -484"
	"maxs" "230 18 484"
	"boxmins" "-230 -18 -484"
	"boxmaxs" "230 18 484"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================

; =====================================================

