;EVENTS COMING SOON!!!

; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on some pipes in the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "-7880 -6369 164"
	"mins" "-120 -7 -28"
	"maxs" "120 7 28"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8394 -6890 144"
	"mins" "-389 -7 -48"
	"maxs" "389 7 48"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8394 -7227 144"
	"mins" "-389 -7 -48"
	"maxs" "389 7 48"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the metal support beams by the silos after the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "-8264 -7302 252"
	"mins" "-248 -6 -68"
	"maxs" "248 6 68"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7208 -7302 252"
	"mins" "-424 -6 -68"
	"maxs" "424 6 68"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the fence at the back of the train yard
{
	"classname" "env_physics_blocker"
	"origin" "-8870 -8529 1156"
	"mins" "-10 -128 -1036"
	"maxs" "10 128 1036"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from jumping on debris to get back up the first one way drop train in the tunnel
{
	"classname" "env_physics_blocker"
	"origin" "-5785 -8604 26"
	"mins" "-7 -44 -14"
	"maxs" "7 44 14"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-5774.5 -8552 16"
	"mins" "-7 -8 -24"
	"maxs" "7 8 24"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from walking along the pipe to skip the ladder by the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-2093 -8921 163"
	"angles" "0 -45 0"
	"mins" "-387 -8 -125"
	"maxs" "387 8 125"
	"boxmins" "-387 -8 -125"
	"boxmaxs" "387 8 125"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from skipping the ladder by the end saferoom by jumping on the debris pile
{
	"classname" "env_physics_blocker"
	"origin" "-2319 -9280 -7"
	"mins" "-44 -27 -57"
	"maxs" "44 27 57"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Block players from going out of bounds in the far corner of the map by the gravel pile
{
	"classname" "env_physics_blocker"
	"origin" "-10412 -4479 96"
	"mins" "-596 -95 -176"
	"maxs" "596 95 176"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Prevent a stuck spot on top of a crashed train in the tunnel by forcing players to crouch, replacing TLS clip
{
	"classname" "logic_auto"
	"OnMapSpawn" "duckqol_train_crash_stuck,AddOutput,mins -23 -49 -37,0,-1"
	"OnMapSpawn" "duckqol_train_crash_stuck,AddOutput,maxs 23 49 37,0,-1"
	"OnMapSpawn" "duckqol_train_crash_stuck,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_playermovement"
	"origin" "-5441 -8165 251"
	"targetname" "duckqol_train_crash_stuck"
	"spawnflags" "2049"
}
; --- Block a stuck spot behind the train before the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-1450 -10297 -12"
	"mins" "-40 -47 -52"
	"maxs" "40 47 52"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
filter:
; --- Remove fallen filing cabinet in office
{
	"hammerid" "1095964"
}
; --- Remove 2 pallets from pile in the train yard
{
	"hammerid" "1283793"
}
{
	"hammerid" "1283789"
}
add:
; --- Ramps for infected to walk from the awning into the 2 large windows without jumping
{
	"classname" "env_physics_blocker"
	"origin" "-7435 -8069 168"
	"mins" "-97 -5 -6"
	"maxs" "97 5 6"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6995 -8069 168"
	"mins" "-63 -5 -6"
	"maxs" "63 5 6"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Fence to indicate invisible wall between trains on the right side tunnel
{
	"classname" "prop_dynamic"
	"origin" "-6282 -8819 -65"
	"angles" "0 0 0"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Clipping to stop players getting stuck on a ramp on the right side of the tunnel
{
	"classname" "env_physics_blocker"
	"origin" "-4757 -8748 88"
	"mins" "-40.5 -100 -10.5"
	"maxs" "40.5 100 10.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4807 -8805 82"
	"mins" "-11 -11 -11"
	"maxs" "11 11 11"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4808 -8805 74"
	"mins" "-12 -12 -11"
	"maxs" "12 12 11"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
