; =====================================================
; --- c1m3_mall event:
; --- Kappels alarm door
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================

add:
; --- ativadores
{
	"classname"			"script_trigger_once"
	"extent"			"5 128 64"
	"spawnflags"			"1"
	"StartDisabled"			"0"
	"origin" 			"5264 -2751 343"
	"targetname"			"kappels_alarm_trigger_event"
	"filtername"			"kappels_alarm_filter_surv"
	"OnTrigger"			"kappels_alarm_relay_event,Trigger,,0,-1"
	"OnTrigger"			"kappels_alarm_trigger_event,Kill,,0,-1"
}
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"kappels_alarm_relay_lightgreen,Trigger,,0,-1"
}
; --- relays 
{
	"classname" 			"logic_relay"
	"targetname"			"kappels_alarm_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"			"kappels_alarm_hint_msg,kill,,0,-1"
	"OnTrigger"			"kappels_alarm_vfx_light,color,255 0 0,-1"
	"OnTrigger"			"kappels_alarm_relay_lightgreen,Kill,,0,-1"
	"OnTrigger"			"kappels_alarm_relay_lightred,Trigger,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_sound,Trigger,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_sound,kill,,45,-1"
	"OnTrigger"			"kappels_alarm_relay_lightred,Kill,,45,-1"
	"OnTrigger"			"kappels_alarm_relay_event,Kill,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"2"
	"targetname" 			"kappels_alarm_relay_lightgreen"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOff,,0,-1"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOn,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_lightgreen,Trigger,,1,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"2"
	"targetname" 			"kappels_alarm_relay_lightred"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOff,,0,-1"
	"OnTrigger"			"kappels_alarm_vfx_light,LightOn,,0.25,-1"
	"OnTrigger"			"kappels_alarm_relay_lightred,Trigger,,0.5,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"2"
	"targetname" 			"kappels_alarm_relay_sound"
	"OnTrigger"			"kappels_alarm_sfx_alarm,PlaySound,,0,-1"
	"OnTrigger"			"kappels_alarm_sfx_alarm,StopSound,,0.5,-1"
	"OnTrigger"			"kappels_alarm_relay_sound,Trigger,,0.5,-1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"kappels_alarm_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5275 -2872 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5265 -2745 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5265 -2617 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5265 -2494 346"
	"radius"			"3000"
}
{
	"classname" 			"ambient_generic"
	"targetname" 			"kappels_alarm_sfx_alarm"
	"spawnflags" 			"48"
	"message" 			"ambient/alarms/klaxon1.wav"
	"health" 			"10"
	"origin" 			"5276 -2376 346"
	"radius"			"3000"
}
; --- efeitos visuais
{
	"origin" 			"5275 -2872 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2750 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"

}
{
	"origin" 			"5265 -2745 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2622 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2617 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2494 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5265 -2490 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
{
	"origin" 			"5276 -2376 346"
	"spotlightwidth" 		"1"
	"spotlightlength" 		"1"
	"spawnflags" 			"1"
	"rendercolor" 			"0 255 0"
	"angles" 			"0 -90 0"
	"classname" 			"point_spotlight"
	"targetname" 			"kappels_alarm_vfx_light"
	"HaloScale" 			"10"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"kappels_alarm_hint_msg"
	"hint_target" 			"kappels_alarm_hint_target"
	"hint_caption"			"Atenção!!!"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 		"icon_alert_red"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"5300 -2748 346"
}
{
	"origin" 			"5300 -2748 346"
	"targetname" 			"kappels_alarm_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================
; =====================================================
; --- c1m3_mall event:
; --- Saferoom Tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"targetname" 			"saferoom_tank_trigger_event"
	"filtername" 			"saferoom_tank_filter_surv"
	"spawnflags" 			"1"
	"extent"			"64 5 64"
	"origin" 			"-320 -4744 343"
	"StartDisabled"			"0"
	"OnTrigger" 			"saferoom_tank_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"saferoom_tank_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"saferoom_tank_relay_event"
	"OnTrigger" 			"saferoom_tank_relay_event,Kill,,0,-1"
	"OnTrigger" 			"checkpoint_entrance,Close,,0,-1"
	"OnTrigger" 			"saferoom_tank_hint_msg,ShowHint,,0,-1"
	"OnTrigger"			"saferoom_tank_timer_sound,Enable,,0,-1"
}
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"saferoom_tank_relay_tank"
	"OnTrigger" 			"saferoom_tank_relay_tank,Kill,,0,-1"
	"OnTrigger"			"saferoom_tank_timer_sound,Kill,,0,-1"
	"OnTrigger" 			"saferoom_tank_hint_msg,Kill,,0,-1"
	"OnTrigger" 			"saferoom_tank_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"saferoom_tank_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"saferoom_tank_vfx_shakespawn,StartShake,,0,-1"
	"OnTrigger" 			"saferoom_tank_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"saferoom_tank_sfx_heart,FadeOut,1,1.5,-1"
	"OnTrigger" 			"saferoom_tank_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
modify:
{
	match:
	{
		"hammerid" 			"221102"	
	}
	insert:
	{
		"OnOpen"			"saferoom_tank_relay_tank,Trigger,,0,-1"
	}
}
; --- filtro de equipe
add:
{
	"classname" 			"filter_activator_team"
	"targetname" 			"saferoom_tank_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- temporizador
{
	"UseRandomTime" 		"1"
	"UpperRandomBound" 		"5"
	"targetname" 			"saferoom_tank_timer_sound"
	"StartDisabled" 		"1"
	"spawnflags" 			"0"
	"LowerRandomBound" 		"1"
	"classname" 			"logic_timer"
	"OnTimer" 			"saferoom_tank_random_sound,PickRandom,,0,-1"
}
; --- randomizador
{
	"targetname" 			"saferoom_tank_random_sound"
	"classname" 			"logic_case"
	"OnCase01" 			"saferoom_tank_sfx_tank1,PlaySound,,0,-1"
	"OnCase02" 			"saferoom_tank_sfx_tank2,PlaySound,,0,-1"
	"OnCase03" 			"saferoom_tank_sfx_tank3,PlaySound,,0,-1"
	"OnCase04" 			"saferoom_tank_sfx_tank4,PlaySound,,0,-1"
	"OnCase05" 			"saferoom_tank_sfx_tank5,PlaySound,,0,-1"
	"OnCase06" 			"saferoom_tank_sfx_tank6,PlaySound,,0,-1"
	"OnCase07" 			"saferoom_tank_sfx_tank7,PlaySound,,0,-1"
	"OnCase08" 			"saferoom_tank_sfx_tank8,PlaySound,,0,-1"
	"OnCase09" 			"saferoom_tank_sfx_tank9,PlaySound,,0,-1"
	"OnCase10" 			"saferoom_tank_sfx_tank10,PlaySound,,0,-1"
	"OnCase05" 			"saferoom_tank_vfx_shaketank,StartShake,,0,-1"
	"OnCase09" 			"saferoom_tank_vfx_shaketank,StartShake,,0,-1"
	"OnCase10" 			"saferoom_tank_vfx_shaketank,StartShake,,0,-1"
}
; --- zombie spawn
{
	"origin" 			"-2053 -4595 537"
	"targetname" 			"saferoom_tank_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 			"0 90 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"saferoom_tank_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"saferoom_tank_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"c
	"blendDeltaMultiplier" 		"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_vfx_shakespawn"
	"spawnflags" 			"1"
	"radius" 			"3000"
	"frequency" 			"250"
	"duration" 			"2"
	"amplitude" 			"4"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_vfx_shaketank"
	"spawnflags" 			"0"
	"radius" 			"2000"
	"frequency" 			"100"
	"duration" 			"1"
	"amplitude" 			"4"
	"classname" 			"env_shake"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"saferoom_tank_sfx_heart"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank1"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Breathe"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank2"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Growl"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank3"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.StartLedgeClimb"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank4"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Alert"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank5"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Thud"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank6"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Voice"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank7"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Yell"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank8"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Attack"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank9"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Thud"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
{
	"origin" 			"-2053 -4595 536"
	"targetname" 			"saferoom_tank_sfx_tank10"
	"spawnflags" 			"48"
	"radius" 			"2000"
	"message" 			"HulkZombie.Thud"
	"health" 			"10"
	"classname" 			"ambient_generic"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"saferoom_tank_hint_msg"
	"hint_target" 			"saferoom_tank_hint_target"
	"hint_caption"			"Abram a porta da sala segura e lute contra o Tank"
	"hint_range" 			"3000"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_alert_red"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-2048 -4473 680"
}
{
	"origin" 			"-2048 -4473 680"
	"targetname" 			"saferoom_tank_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================
; =====================================================
; --- c1m3_mall event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- pre evento
; -----------------------------------------------------
;escadas
modify:
{
	match:
	{
		;"model" 		"*160"
		"hammerid" 		"1313401"
	}
	replace:
	{
		"team" 			"0"
	}
}
;objetos de cenario
add:
{
	"solid" 			"0"
	"origin" 			"1603 -1031 219"
	"angles" 			"6 0 0"
	"model"	 			"models/props_c17/metalladder001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
; --- c1m3_mall event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- objetos de cenario
{
	"solid" 			"6"
	"origin" 			"7002 -1503 24"
	"angles" 			"0 0 0"
	"model"	 			"models/props_crates/static_crate_40.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"7003 -1504 63"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"6511 -1433 59"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"6329 -1687 24"
	"angles" 			"0 70 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"6329 -1687 44"
	"style" 			"1"
}
{
	"classname" 			"light_dynamic"
	"_light" 			"255 245 145 0"
	"distance" 			"200"
	"origin" 			"7003 -1504 78"
}
{
	"classname" 			"light_dynamic"
	"_light" 			"255 245 145  0"
	"distance" 			"200"
	"origin" 			"6511 -1433 74"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
add:
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"final_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"5 404 64"
	"origin" 			"-705 -4352 343"
	"targetname" 			"final_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"

}
; --- objetos de cenario
{
	"solid" 			"6"
	"origin" 			"-706 -4192 280"
	"angles" 			"0 180 0"
	"model"	 			"models/props_exteriors/roadsidefence_512.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"

}
{
	"solid" 			"6"
	"origin" 			"-706 -4705 280"
	"angles" 			"0 180 0"
	"model"	 			"models/props_exteriors/roadsidefence_512.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"0"
	"origin" 			"-2219 -4611 571"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
filter:
{
	"hammerid"			"661525"
}
{
	"hammerid"			"661514"
}
; --- efeitos visuais
add:
{
	"classname" 			"light_dynamic"
	"_light" 			"255 245 145 0"
	"distance" 			"200"
	"origin" 			"-2219 -4611 586"
}
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"221102"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; -----------------------------------------------------
; --- ativas escadas rolantes
; -----------------------------------------------------
;relays
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"escalator_lower_01*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_lower_02*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_01*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_02*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_lower_03*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_lower_04*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_03*,FireUser1,,0,-1"
	"OnMapSpawn" 			"escalator_upper_04*,FireUser1,,0,-1"
}
filter:
{
	"hammerid"			"253927"
}

; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"1792 -1089 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"769 -2628 0"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1184 -2489 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1608 -3294 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1343 -3523 536"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1242 -5167 536"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-401 -5330 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-623 -4201 536"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"4828 -2761 280"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}

; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-1875 -3988 536"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -20 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; --- objetos do cenario
filter:
{
	"hammerid"			"661656"
}

; =====================================================
