; =====================================================
; --- c1m4_atrium event:
; --- Elevator teleport bug players
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- teleport player to trigger_finale area
; -----------------------------------------------------
; --- relays
modify:
{
	match:
	{
		"hammerid"		"188744"
	}
	insert:
	{
		"OnPressed" 		"teleport_finale_area_trigger,Enable,,0,-1"
		"OnPressed" 		"teleport_finale_hint_msg,ShowHint,,0,-1"
	}	
}
add:
; --- area do teleporte
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"teleport_finale_area_trigger,addoutput,mins 0 0 0,0,-1"
	"OnMapSpawn" 			"teleport_finale_area_trigger,addoutput,maxs 1400 850 100,0,-1"
	"OnMapSpawn" 			"teleport_finale_area_trigger,addoutput,solid 2,0,-1"
}
{
	"classname" 			"trigger_teleport"
	"targetname"			"teleport_finale_area_trigger"
	"filtername"			"teleport_finale_filter_surv"
	"target"			"teleport_finale_area_target"
	"origin" 			"-3198 -5340 536"
	"spawnflags"			"1"
	"StartDisabled"			"1"
}
; --- destino do teleporte
{
	"classname" 			"info_teleport_destination"
	"targetname"			"teleport_finale_area_target"
	"origin" 			"-3107 -4355 536"
	"angles"			"0 135 0"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"teleport_finale_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"teleport_finale_hint_msg"
	"hint_target" 			"teleport_finale_hint_target"
	"hint_caption"			"Você não pode mais sair da área do resgate"
	"hint_range" 			"200"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-3034 -4483 586"
}
{
	"origin" 			"-3034 -4483 586"
	"targetname" 			"teleport_finale_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}
; -----------------------------------------------------
; --- teleport players on 3o floor to 1o floor
; -----------------------------------------------------
; --- relays
modify:
{
	match:
	{
		"hammerid"		"387943"
	}
	insert:
	{
		"OnReachedBottom" 	"teleport_elevator_area_trigger,Enable,,0,-1"
		"OnReachedBottom" 	"teleport_elevator_hint_msg,ShowHint,,0,-1"
	}	
}
; --- area do teleporte
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"teleport_elevator_area_trigger,addoutput,mins 0 0 0,0,-1"
	"OnMapSpawn" 			"teleport_elevator_area_trigger,addoutput,maxs 10 150 100,0,-1"
	"OnMapSpawn" 			"teleport_elevator_area_trigger,addoutput,solid 2,0,-1"
}
{
	"classname" 			"trigger_teleport"
	"targetname"			"teleport_elevator_area_trigger"
	"filtername"			"teleport_elevator_filter_surv"
	"target"			"teleport_elevator_area_target"
	"origin" 			"-3919 -3476 536"
	"spawnflags"			"1"
	"StartDisabled"			"1"
}
; --- destino do teleporte
{
	"classname" 			"info_teleport_destination"
	"targetname"			"teleport_elevator_area_target"
	"origin" 			"-4063 -3411 4"
	"angles"			"0 0 0"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"teleport_elevator_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"teleport_elevator_hint_msg"
	"hint_target" 			"teleport_elevator_hint_target"
	"hint_caption"			"Teleporte para a área do resgate"
	"hint_range" 			"200"
	"hint_auto_start" 		"0"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"-3915 -3404 586"
}
{
	"origin" 			"-3915 -3404 586"
	"targetname" 			"teleport_elevator_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================
; =====================================================
; --- c1m4_atrium event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"-2219 -4611 571"
	"angles" 			"0 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"255 255 128 0"
	"distance" 			"200"
	"origin" 			"-2219 -4611 586"
}
; -----------------------------------------------------
; --- elevador
; -----------------------------------------------------
add:
; --- objetos do cenario
{
	"classname" 			"prop_dynamic"
	"origin" 			"-4065 -3404 573"
	"angles" 			"0 0 0"
	"model" 			"models/props_urban/elevator_rail001.mdl"
	"solid" 			"6"
	"disableshadows" 		"1"
	"parentname" 			"elevator"
}
; --- blocos invisiveis
{
	"classname" 			"env_physics_blocker"
	"origin" 			"-4065 -3311 574"
	"mins" 				"-71 -3 -1"
	"maxs" 				"71 3 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 			"-4065 -3497 574"
	"mins" 				"-71 -3 -1"
	"maxs" 				"71 3 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 			"-4133 -3404 574"
	"mins" 				"-3 -90 -1"
	"maxs" 				"3 90 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator"
}
; -----------------------------------------------------
; --- arena de resgate
; -----------------------------------------------------
add:
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"-4969 -3147 0"
	"angles" 			"0 135 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"-4969 -3147 20"
	"style" 			"1"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-4491 -2867 536"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -90 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; --- objetos do cenario
filter:
{
	"hammerid"			"299301"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
; --- ammo
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"-3178 -3907 280"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"-5411 -3890 536"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"-5510 -3863 280"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}

; =====================================================
; =====================================================
; --- c1m3_mall event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- elevador
; -----------------------------------------------------

; --- escadas
modify:
{
	match:
	{
		;"model" 		"*143"
		"hammerid" 		"722937"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-3868 -3510 0"
	"angles" 			"0 90 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- bloqueios
{
	"origin" 			"-3867 -3548 463"
    	"mins" 				"-32 -32 5"
    	"maxs" 				"32 32 5"
    	"initialstate" 			"1"
    	"BlockType" 			"1"
    	"classname" 			"env_physics_blocker"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"32 32 5"
	"origin" 			"-3867 -3548 463"
	"targetname" 			"extra_ladder_block_nav1"
	"teamToBlock" 			"2"
	"affectsFlow" 			"0"
}
{
	"classname"			"logic_auto"
	"OnMapSpawn"			"extra_ladder_block_nav1,BlockNav,,1,-1
}

; -----------------------------------------------------
; --- racecar
; -----------------------------------------------------

; --- escadas
modify:
{
	match:
	{
		;"model" 		"*139"
		"hammerid" 		"564310"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-5044 -3510 0"
	"angles" 			"0 90 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"0"
	"origin" 			"-5044 -3510 256"
	"angles" 			"0 90 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- bloqueios
{
	"origin" 			"-5043 -3548 720"
    	"mins" 				"-32 -32 5"
    	"maxs" 				"32 32 5"
    	"initialstate" 			"1"
    	"BlockType" 			"1"
    	"classname" 			"env_physics_blocker"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"32 32 5"
	"origin" 			"-5043 -3548 720"
	"targetname" 			"extra_ladder_block_nav2"
	"teamToBlock" 			"2"
	"affectsFlow" 			"0"
}
{
	"classname"			"logic_auto"
	"OnMapSpawn"			"extra_ladder_block_nav2,BlockNav,,1,-1
}

; =====================================================
