; =====================================================
; --- c2m5_concert event:
; --- Rain + soundscapes
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- randomizador
{
	"classname" 			"logic_case"
	"targetname" 			"weather_ramdom_strike"
	"OnCase01" 			"weather_vfx_strike1,Start,,0,-1"
	"OnCase01"	 		"weather_vfx_strike1,Stop,,3,-1"
	"OnCase02" 			"weather_vfx_strike2,Start,,0,-1"
	"OnCase02"	 		"weather_vfx_strike2,Stop,,3,-1"
	"OnCase03" 			"weather_vfx_strike3,Start,,0,-1"
	"OnCase03"	 		"weather_vfx_strike3,Stop,,3,-1"
	"OnCase04" 			"weather_vfx_strike4,Start,,0,-1"
	"OnCase04"	 		"weather_vfx_strike4,Stop,,3,-1""
	"OnCase05" 			"weather_vfx_strike5,Start,,0,-1"
	"OnCase05"	 		"weather_vfx_strike5,Stop,,3,-1"
	"OnCase06" 			"weather_vfx_strike6,Start,,0,-1"
	"OnCase06"	 		"weather_vfx_strike6,Stop,,3,-1"
	"OnCase07" 			"weather_vfx_strike7,Start,,0,-1"
	"OnCase07"	 		"weather_vfx_strike7,Stop,,3,-1"
	"OnCase07" 			"weather_vfx_strike8,Start,,0,-1"
	"OnCase07"	 		"weather_vfx_strike8,Stop,,3,-1"
}
{
	"classname" 			"logic_case"
	"targetname" 			"weather_ramdom_storm"
	"OnCase01" 			"weather_sfx_storm1,PlaySound,,3,-1"
	"OnCase02" 			"weather_sfx_storm2,PlaySound,,3,-1"
	"OnCase03" 			"weather_sfx_storm3,PlaySound,,3,-1"
	"OnCase04" 			"weather_sfx_storm4,PlaySound,,3,-1"
	"OnCase05" 			"weather_sfx_storm5,PlaySound,,3,-1"
	"OnCase06" 			"weather_sfx_storm6,PlaySound,,3,-1"
	"OnCase07" 			"weather_sfx_storm7,PlaySound,,3,-1"
}
; --- temporizador
{
	"targetname" 			"weather_timer_storm"
	"StartDisabled" 		"0"
	"spawnflags" 			"0"
	"UseRandomTime" 		"1"
	"LowerRandomBound" 		"0"
	"UpperRandomBound" 		"45"
	"classname" 			"logic_timer"
	"OnTimer" 			"weather_ramdom_storm,PickRandom,,0,-1"
	"OnTimer" 			"weather_ramdom_strike,PickRandom,,0,-1"	
}
; --- efeitos visuais
{
	"classname" 			"func_precipitation"
	"targetname" 			"weather_vfx_rain"
    	"preciptype" 			"6"
	"model" 			"*91"
	"rendercolor" 			"31 34 52"
	"minSpeed" 			"25"
	"maxSpeed" 			"35"
	"renderamt" 			"255"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_02"
	"targetname" 			"weather_vfx_strike1"
	"origin" 			"8204 3041 -1228"
	"cpoint1" 			"weather_vfx_striketarget1"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget1"
	"origin" 			"8204 3041 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike2"
	"origin" 			"9113 3137 -1228"
	"cpoint1" 			"weather_vfx_striketarget2"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget2"
	"origin" 			"9113 3137 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike3"
	"origin" 			"8700 2593 -1228"
	"cpoint1" 			"weather_vfx_striketarget3"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget3"
	"origin" 			"8700 2593 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike4"
	"origin" 			"8617 3537 -1228"
	"cpoint1" 			"weather_vfx_striketarget4"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget4"
	"origin" 			"8617 3537 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike5"
	"origin" 			"8914 2676 -1228"
	"cpoint1" 			"weather_vfx_striketarget5"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget5"
	"origin" 			"8914 2676 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike6"
	"origin" 			"8425 3475 -1228"
	"cpoint1" 			"weather_vfx_striketarget6"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget6"
	"origin" 			"8425 3475 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike7"
	"origin" 			"8412 2684 -1228"
	"cpoint1" 			"weather_vfx_striketarget7"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget7"
	"origin" 			"8412 2684 -2228"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"storm_lightning_01"
	"targetname" 			"weather_vfx_strike8"
	"origin" 			"8803 3490 -1228"
	"cpoint1" 			"weather_vfx_striketarget8"
}
{
	"classname" 			"info_particle_target"
	"targetname" 			"weather_vfx_striketarget8"
	"origin" 			"8803 3490 -2228"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_close01.wav"
	"spawnflags" 			"49"
	"targetname" 			"weather_sfx_storm1"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_close02.wav"
	"spawnflags" 			"49"
	"targetname" 			"weather_sfx_storm2"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_close03.wav"
	"spawnflags" 			"49"
	"targetname" 			"weather_sfx_storm3"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_close04.wav"
	"spawnflags" 			"49"
	"targetname" 			"weather_sfx_storm4"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_distant01.wav"
	"spawnflags"	 		"49"
	"targetname" 			"weather_sfx_storm5"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_distant02.wav"
	"spawnflags" 			"49"
	"targetname" 			"weather_sfx_storm6"
}
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/ambience/rainscapes/thunder_distant03.wav"
	"spawnflags" 			"49"
	"targetname" 			"weather_sfx_storm7"
}
modify:
{
	match:
	{
		"targetname" 		"InstanceAuto14-arena.enter"
	}
	replace:
	{
		"soundscape" 		"rain.hardsurface.hard"	
	}
}
{
	match:
	{
		"targetname" 		"InstanceAuto14-underground.entrance"
	}
	replace:
	{
		"soundscape" 		"rain.interiorverb.hard"
	}
}
{
	match:
	{
		"targetname" 		"InstanceAuto14-spawn.exit"
	}
	replace:
	{
		"soundscape" 		"rain.interiorverb.hard"
	}
}
filter:
{
	"targetname" 			"InstanceAuto14-arena.bathroom"
}

; =====================================================
; =====================================================
; --- c2m5_concert event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- triggers que impedem o plugin fortnite emotes de funcionar
; --- https://forums.alliedmods.net/showthread.php?t=318981
; -----------------------------------------------------
filter:
{
	"hammerid" 			"2235652"
}
{
	"hammerid" 			"2299069"
}
; -----------------------------------------------------
; --- Porta do estadio sempre aberta
; -----------------------------------------------------
filter:
{
	"hammerid"		 	"2098933"
}
{
	"hammerid" 			"2099530"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
{
	"origin" 			"-2673 2505 191"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 45 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
{
	"origin" 			"-2270 3446 -143"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -90 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"classname"			"logic_auto"
	"OnMapSpawn" 			"item_spawn_set1_template,ForceSpawn,,0,-1"
	"OnMapSpawn" 			"item_spawn_set2_template,ForceSpawn,,0,-1"
}

; =====================================================