; =====================================================
; --- c1m4_atrium event:
; --- Extra changes in scenery
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"classname"			"logic_auto"
	"OnMapSpawn" 			"mansion_resources_1_template,ForceSpawn,,0,-1"
	"OnMapSpawn" 			"mansion_resources_2_template,ForceSpawn,,0,-1"
	"OnMapSpawn" 			"mansion_resources_3_template,ForceSpawn,,0,-1"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"-1305 -3422 16"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"1376 4177 -19"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
{
	"origin" 			"1312 1420 192"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
{
	"origin" 			"2016 1420 192"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -45 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
{
	"origin" 			"1475 4152 -19"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -90 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c1m2_streets event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- mansão
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*53"
		"hammerid" 		"589010"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*54"
		"hammerid" 		"589026"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*55"
		"hammerid" 		"589050"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*56"
		"hammerid" 		"589114"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*23"
		"hammerid" 		"496774"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*98"
		"hammerid" 		"1347537"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"1407 1338 88"
	"angles" 			"20 90 0"
	"model"	 			"models/props_c17/metalladder001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"

}
{
	"solid" 			"0"
	"origin" 			"1925 1338 88"
	"angles" 			"20 90 0"
	"model"	 			"models/props_c17/metalladder001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"

}
{
	"solid" 			"0"
	"origin" 			"1979 1660 88"
	"angles" 			"20 -90 0"
	"model"	 			"models/props_c17/metalladder001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"

}
{
	"solid" 			"0"
	"origin" 			"1339 1660 88"
	"angles" 			"20 -90 0"
	"model"	 			"models/props_c17/metalladder001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"

}
{
	"solid" 			"0"
	"origin" 			"1138 191 30"
	"angles" 			"0 -2 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

{
	"solid" 			"0"
	"origin" 			"2188 191 30"
	"angles" 			"0 180 0"
	"model"	 			"models/props_highway/billboard_ladder.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
filter:
{
	"hammerid" 			"497812"

}

{
	"hammerid" 			"500242"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on the saferoom roof
{
	"classname" "env_physics_blocker"
	"origin" "-4875 -1455 612"
	"mins" "-5 -65 -540"
	"maxs" "5 65 540"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4869 -1664 612"
	"mins" "-10 -144 -540"
	"maxs" "10 144 540"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-4867 -1872 612"
	"mins" "-12 -65 -540"
	"maxs" "12 65 540"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Prevent SI from getting perma-stuck behind a shrub wall behind some hedges before the finale area
{
	"classname" "env_physics_blocker"
	"origin" "80 -4508 69"
	"mins" "-32 -100 -55"
	"maxs" "32 100 55"
	"initialstate" "1"
	"BlockType" "2"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Remove fence by the first hittable log
filter:
{
	"hammerid" "435179"
}
{
	"targetname" "navblock_coop"
}
{
	"targetname" "navblock_scavenge"
}
; --- Additional clipping around tall mansion ladders to stop players from falling off
add:
{
	"classname" "env_physics_blocker"
	"origin" "1059 -275 384"
	"mins" "-3 -19 -256"
	"maxs" "3 19 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "1101 -317 384"
	"mins" "-19 -3 -256"
	"maxs" "19 3 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "2339 -339 384"
	"mins" "-3 -19 -256"
	"maxs" "3 19 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "2381 -381 384"
	"mins" "-19 -3 -256"
	"maxs" "19 3 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "1059 19 384"
	"mins" "-3 -19 -256"
	"maxs" "3 19 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "1101 61 384"
	"mins" "-19 -3 -256"
	"maxs" "19 3 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "2269 19 384"
	"mins" "-3 -19 -256"
	"maxs" "3 19 256"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "2227 61 384"
	"mins" "-19 -3 -256"
	"maxs" "19 3 256"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Poles in event area to show where fences become blocked off by clips
{
	"classname" "prop_dynamic"
	"origin" "256 1212 256"
	"angles" "0 0 0"
	"model" "models/props_urban/metal_pole001.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3072 1152 256"
	"angles" "0 0 0"
	"model" "models/props_urban/metal_pole001.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Block LOS under floating trees
{
	"classname" "logic_auto"
	; --- Large trees
	"OnMapSpawn" "losfix_swamptree_large_a,AddOutput,mins -48 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_a,AddOutput,maxs 48 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_b,AddOutput,mins -1 -48 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_b,AddOutput,maxs 1 48 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_b,AddOutput,solid 2,0,-1"
	; --- Medium trees
	"OnMapSpawn" "losfix_swamptree_medium_a,AddOutput,mins -28 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_a,AddOutput,maxs 28 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_b,AddOutput,mins -1 -28 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_b,AddOutput,maxs 1 28 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_b,AddOutput,solid 2,0,-1"
	; --- Small trees
	"OnMapSpawn" "losfix_swamptree_small_a,AddOutput,mins -23 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_a,AddOutput,maxs 23 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_b,AddOutput,mins -1 -23 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_b,AddOutput,maxs 1 23 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_b,AddOutput,solid 2,0,-1"
	; --- Very small trees
	"OnMapSpawn" "losfix_swamptree_vsmall_a,AddOutput,mins -19 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_a,AddOutput,maxs 19 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_b,AddOutput,mins -1 -19 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_b,AddOutput,maxs 1 19 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_b,AddOutput,solid 2,0,-1"
}
; --- By saferoom
{
	"classname" "func_brush"
	"origin" "-3642 -1522 -114"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3642 -1522 -114"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-3072 -1080 -116"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3072 -1080 -116"
	"targetname" "losfix_swamptree_large_b"
}
; --- By the escape
{
	"classname" "func_brush"
	"origin" "2107 3571 -68"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "2107 3571 -68"
	"targetname" "losfix_swamptree_medium_b"
}

; =====================================================

