; =====================================================
; --- c2m1_highway event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- area de escape
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*147"
		"hammerid" 		"2008777"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*60"
		"hammerid" 		"2008771"
	}
	replace:
	{
		"team" 			"0"
	}
}
{
	match:
	{
		;"model" 		"*146"
		"hammerid" 		"1730202"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-6359 7890 160"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-6344 7959 159"
	"angles" 			"-5 0 0"
	"model"	 			"models/props/cs_assault/ladderaluminium128.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-6304 7782 226"
	"angles" 			"0 180 0"
	"model"	 			"models/props/cs_office/ladder1.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c4m1_milltown_a event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"-5793 7308 292"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"-5686 7481 292"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 45 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; ---  ativar carros com alarme
; -----------------------------------------------------
; --- relays
add:
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"relay_caralarm_on-car5,Trigger,,0,-1"
}
filter:
{
	"hammerid" 			"2855238"
}
; -----------------------------------------------------
; --- props aleatorios
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-3407 7847 120"
	"angles" 			"0 -59 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"-3407 7847 140"
	"style" 			"1"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from getting on the roof next to burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-6000 8244 794"
	"mins" "-208 -180 -454"
	"maxs" "208 180 454"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6016 8768 706"
	"mins" "-128 -96 -454"
	"maxs" "128 96 454"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Replace angled clip until angled clip bug is fixed (#34)
;{
;	"classname" "env_physics_blocker"
;	"origin" "-5846 8536 818"
;	"angles" "0 7 0"
;	"mins" "-40 -140 -454"
;	"maxs" "40 140 454"
;	"boxmins" "-40 -140 -454"
;	"boxmaxs" "40 140 454"
;	"initialstate" "1"
;	"BlockType" "1"
;}
{
	"classname" "env_physics_blocker"
	"origin" "-5848 8556 794"
	"mins" "-56 -132 -454"
	"maxs" "56 132 454"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Cliping on pickup truck by burger tank to make the jump to the awning possible on standard gravity
{
	"classname" "env_physics_blocker"
	"origin" "-5374 7281 193"
	"angles" "0 -8.5 0"
	"mins" "-24 -30 -3"
	"maxs" "24 30 3"
	"boxmins" "-24 -30 -3"
	"boxmaxs" "24 30 3"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on floating tree by burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-4744 6788 105"
	"mins" "-54 -48 -7"
	"maxs" "54 48 7"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add plywood behind ladder on collapsed fence to fix visibility issues
{
	"classname" "prop_dynamic"
	"origin" "-4092 7460 231"
	"angles" "-90 0 0"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "-3207.95 7448.24 102.297"
	"angles" "0 356.501 0"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; =====================================================
