; =====================================================
; --- c5m1_waterfront event:
; --- Alarm restaurant
; --- Edit by CyberZoio
; --- https://github.com/cyberzoio
; --- 
; --- Create by Sky.cfg:
; --- Electrik, JaneDoe, Visor, vintik
; --- https://github.com/Attano/Sky
; =====================================================
add:
; --- relays
{
	"classname"			"logic_auto"
	"OnMapSpawn"			"alarm_restaurant_vfx_redlight,TurnOff,,0,-1"
}
{
	"classname" 			"logic_relay"
	"targetname" 			"alarm_restaurant_relay_event"
	"spawnflags" 			"1"
	"OnTrigger"			"alarm_restaurant_relay_event,kill,,0,-1"
	"OnTrigger" 			"alarm_restaurant_prop_redlight,Skin,1,0,-1"
	"OnTrigger" 			"alarm_restaurant_prop_redlight,Skin,0,60,-1"
	"OnTrigger"			"alarm_restaurant_vfx_redlight,TurnOn,,0,-1"
	"OnTrigger"			"alarm_restaurant_vfx_redlight,TurnOff,,60,-1"
	"OnTrigger"			"alarm_restaurant_sfx_alarm,PlaySound,,0,-1"
	"OnTrigger"			"alarm_restaurant_sfx_alarm,FadeOut,1,60,-1"
	"OnTrigger" 			"@director,BeginScript,c1_mall_onslaught,3,-1" //c1m3 script alarm event
	"OnTrigger" 			"@director,EndScript,c1_mall_onslaught,60,-1" //c1m3 script alarm event
}
; --- porta
{
	"origin" 			"-2376 -569 -368"
	"targetname" 			"door_restaurant_alley"
	"speed" 			"200"
	"spawnpos" 			"0"
	"spawnflags" 			"524288"
	"returndelay" 			"-1"
	"opendir" 			"2"
	"model" 			"models/props_downtown/metal_door_112.mdl"
	"forceclosed" 			"0"
	"distance" 			"90"
	"disableshadows" 		"1"
	"angles" 			"0 270 0"
	"classname" 			"prop_door_rotating"
	"rendercolor" 			"255 128 128"
	"OnFullyOpen" 			"alarm_restaurant_relay_event,Trigger,,0,-1"
}
filter:
{	
	"hammerid" 			"466543"
}
add:
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 			"10"
	"message" 			"ambient/alarms/alarm1.wav"
	"radius" 			"10000"
	"spawnflags" 			"48"
	"origin" 			"-2372 -157 -248"
	"targetname" 			"alarm_restaurant_sfx_alarm"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"255 0 0 0"
	"distance" 			"200"
	"origin" 			"-2391 -596 -263"
	"style" 			"1"
	"targetname" 			"alarm_restaurant_vfx_redlight"
}
{
	"classname" 			"light_dynamic"
	"_light" 			"255 0 0 0"
	"distance" 			"200"
	"origin" 			"-2551 -195 -248"
	"style" 			"1"
	"targetname" 			"alarm_restaurant_vfx_redlight"
}
; --- objetos do cenario
{
	"classname"			"prop_dynamic"
	"solid" 			"0"
	"origin" 			"-2376 -569 -320"
	"angles" 			"0 -90 0"
	"parentname" 			"door_restaurant_alley"
	"model"				"models/props_doors/emergency_exit_sign.mdl"
	"disableshadows" 		"1"
}
{
	"classname"			"prop_dynamic"
	"solid" 			"0"
	"origin" 			"-2391 -576 -263"
	"angles" 			"90 90 0"
	"model"				"models/props/de_nuke/light_red2.mdl"
	"disableshadows" 		"1"
	"skin" 				"0"
	"targetname" 			"alarm_restaurant_prop_redlight"
}
{
	"classname"			"prop_dynamic"
	"solid" 			"0"
	"origin" 			"-2571 -195 -248"
	"angles" 			"90 180 0"
	"model"				"models/props/de_nuke/light_red2.mdl"
	"disableshadows" 		"1"
	"skin" 				"0"
	"targetname" 			"alarm_restaurant_prop_redlight"
}
{
	"solid" 			"0"
	"origin" 			"-2372 -137 -248"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_lab/powerbox03a.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c5m1_waterfront event:
; --- New route
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- relays
filter:
{
	"hammerid" 			"467670"
}
add:
{
	"classname"			"logic_auto"
	"OnMapSpawn" 			"relay_route_1_unblock,Trigger,,0,-1"
	"OnMapSpawn" 			"relay_route_2_unblock,Trigger,,0,-1"
	"OnMapSpawn" 			"relay_route_2_unblock,Trigger,,0,-1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"new_route_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"5 160 85"
	"origin" 			"-1818 -2208 -296"
	"targetname" 			"new_route_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
{
	"classname" 			"script_nav_blocker"
	"extent"			"160 5 85"
	"origin" 			"-2113 -1222 -292"
	"targetname" 			"new_route_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"-1828 -2102 -377"
	"angles" 			"0 -10 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2222 -1215 -377"
	"angles" 			"0 280 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1828 -2313 -376"
	"angles" 			"0 10 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1836 -2206 -378"
	"angles" 			"0 0 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2118 -1212 -377"
	"angles" 			"0 -95 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2013 -1223 -376"
	"angles" 			"0 260 0"
	"model"	 			"models/props_fortifications/barricade001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1858 -2103 -377"
	"angles" 			"0 0 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1859 -2213 -380"
	"angles" 			"0 0 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1860 -2312 -376"
	"angles" 			"0 0 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin"	 		"-2118 -1192 -377"
	"angles" 			"0 -94 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2228 -1191 -378"
	"angles" 			"0 -83 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2009 -1204 -376"
	"angles" 			"0 -99 0"
	"model"	 			"models/props_fortifications/concrete_barrier001_96_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1833 -2316 -232"
	"angles" 			"0 10 0"
	"model"	 			"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1842 -2208 -234"
	"angles" 			"0 -2 0"
	"model"	 			"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-1832 -2102 -233"
	"angles" 			"0 -11 0"
	"model"	 			"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2012 -1221 -232"
	"angles" 			"0 80 0"
	"model"	 			"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2119 -1209 -233"
	"angles" 			"0 85 0"
	"model"	 			"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2222 -1212 -233"
	"angles" 			"0 99 0"
	"model"	 			"models/props_fortifications/barricade_razorwire001_128_reference.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c5m1_waterfront event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- cerca verde
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		;"model" 		"*1"
		"hammerid" 		"461056"
	}
	replace:
	{
		"team" 			"0"
	}
}
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-2566 -1271 -292"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}

; =====================================================
; =====================================================
; --- c5m1_waterfront event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"1295520"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- props aleatorios
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 			"0"
	"origin" 			"-477 152 -371"
	"angles" 			"0 -59 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"-477 152 -351"
	"style" 			"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"-585 122 -371"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-1597 -2006 -332"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2668 -1257 -335"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-2741 -402 -324"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}

; =====================================================