; =====================================================
; --- c5m5_bridge event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"7734 3683 168"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 5 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 				"6"
	"origin"	 			"7752 3684 168"
	"angles" 				"0 4 0"
	"model"	 				"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-7001 6205 583"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"8420 5842 456"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"3018 6285 494"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-4038 6329 456"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"7735 3592 168"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-7949 6461 456"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-12026 5676 128"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-11994 5905 512"
	"angles" 				"0 21 0"
	"model"	 				"models/props_urban/metal_plate001.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-12180 5691 128"
	"angles" 				"0 0 0"
	"model"	 				"models/props/de_prodigy/concretebags.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}
{
	"solid" 				"6"
	"origin" 				"-12180 5710 128"
	"angles" 				"0 90 0"
	"model"	 				"models/props/cs_assault/handtruck.mdl"
	"classname"				"prop_dynamic"
    "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from reaching an upper bridge section by the blue bus
{
	"classname" "env_physics_blocker"
	"origin" "2429 6331 1922"
	"mins" "-399 -267 -1150"
	"maxs" "399 267 1150"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1901 6582 1922"
	"mins" "-129 -16 -1150"
	"maxs" "129 16 1150"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1923 6404 1922"
	"mins" "-107 -90 -1150"
	"maxs" "107 90 1150"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1945 6220 1922"
	"mins" "-85 -76 -1150"
	"maxs" "85 76 1150"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1773 6104 1922"
	"mins" "-257 -40 -1150"
	"maxs" "257 40 1150"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from jumping over a fence as a shortcut near the helicopter
{
	"classname" "env_physics_blocker"
	"origin" "9131 4553 1272"
	"angles" "0 18 0"
	"mins" "-16 -120 -776"
	"maxs" "16 120 776"
	"boxmins" "-16 -120 -776"
	"boxmaxs" "16 120 776"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "9195 4320 1272"
	"angles" "0 12 0"
	"mins" "-16 -120 -776"
	"maxs" "16 120 776"
	"boxmins" "-16 -120 -776"
	"boxmaxs" "16 120 776"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "9238 4080 1272"
	"angles" "0 8 0"
	"mins" "-16 -120 -776"
	"maxs" "16 120 776"
	"boxmins" "-16 -120 -776"
	"boxmaxs" "16 120 776"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "9273 3799 1272"
	"angles" "0 6 0"
	"mins" "-16 -161 -776"
	"maxs" "16 161 776"
	"boxmins" "-16 -161 -776"
	"boxmaxs" "16 161 776"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Block survivors from getting out of bounds behind the barricades by the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-12026 6224 731"
	"angles" "0 -35 0"
	"mins" "-47 -223 -64"
	"maxs" "47 223 64"
	"boxmins" "-47 -223 -64"
	"boxmaxs" "47 223 64"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-11825 6413 731"
	"angles" "0 -43 0"
	"mins" "-13 -49 -64"
	"maxs" "13 49 64"
	"boxmins" "-13 -49 -64"
	"boxmaxs" "13 49 64"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Clipping on debris piles (near the start) to stop players getting stuck
{
	"classname" "env_physics_blocker"
	"origin" "-8100 6200 462"
	"mins" "-60 -56 -6"
	"maxs" "60 56 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7346 6162 463"
	"mins" "-134 -56 -7"
	"maxs" "134 56 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7329 6152 477"
	"mins" "-86 -44 -7"
	"maxs" "86 44 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6699 6490 463"
	"mins" "-134 -56 -7"
	"maxs" "134 56 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6716 6500 477"
	"mins" "-86 -44 -7"
	"maxs" "86 44 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6410 6421 462"
	"mins" "-60 -56 -6"
	"maxs" "60 56 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add collision to damaged beams on the top of the bridge where tank spawns
{
	"classname" "prop_dynamic"
	"origin" "3580 6209 691"
	"angles" "0 180 0"
	"model" "models/props_highway/beam_damaged_01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "3580 6445 691"
	"angles" "0 180 0"
	"model" "models/props_highway/beam_damaged_01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "3580 6327 691"
	"angles" "0 180 0"
	"model" "models/props_highway/beam_damaged_02.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "4752 6230.29 525.433"
	"angles" "13.4093 355.198 16.3242"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "inst_bridge_destruct-prop_dyn_tilt"
}
{
	"classname" "prop_dynamic"
	"origin" "6343 6269.96 553.501"
	"angles" "-0.0433924 3.65331 15.798"
	"model" "models/props_vehicles/flatnose_truck_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "inst_bridge_destruct-prop_dyn_tilt"
}
; --- Remove fallen barrel by the escape
filter:
{
	"hammerid" "2144027"
}

; =====================================================
