; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from being able to stand on a tree by the train car tank
{
	"classname" "env_physics_blocker"
	"origin" "7697 -317 632"
	"mins" "-22 -16 -392"
	"maxs" "22 16 392"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "7606 -284 632"
	"mins" "-34 -44 -392"
	"maxs" "34 44 392"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "7583 -347 648"
	"mins" "-34 -22 -376"
	"maxs" "34 22 376"
	"initialstate" "1"
	"BlockType" "1"
}


; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Clipping on fence leaning on the cooling tank in saferoom to stop players getting stuck
{
	"classname" "env_physics_blocker"
	"origin" "13848 2329 -4"
	"angles" "0 10 0"
	"mins" "-50 -10 -8"
	"maxs" "50 10 8"
	"boxmins" "-50 -10 -8"
	"boxmaxs" "50 10 8"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on the underpass rocks
{
	"classname" "env_physics_blocker"
	"origin" "11092 -229 -98"
	"mins" "-50 -21 -7"
	"maxs" "50 21 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10959 -181 -68"
	"mins" "-50 -21 -6"
	"maxs" "50 21 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10915 -189 -58"
	"mins" "-13 -10 -4"
	"maxs" "13 10 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10879 -196 -70"
	"mins" "-41 -21 -6"
	"maxs" "41 21 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10828 -274 -109"
	"mins" "-44 -22 -6"
	"maxs" "44 22 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10781 -256 -96"
	"mins" "-11 -16 -6"
	"maxs" "11 16 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10774 -224 -87"
	"mins" "-10 -24 -6"
	"maxs" "10 24 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10784 -189 -73"
	"mins" "-48 -10 -6"
	"maxs" "48 10 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10784 -182 -63"
	"mins" "-40 -10 -4"
	"maxs" "40 10 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10664 -264 -108"
	"mins" "-16 -26 -6"
	"maxs" "16 26 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10648 -287 -112"
	"mins" "-16 -26 -6"
	"maxs" "16 26 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10475 -319 -123"
	"mins" "-69 -7 -6"
	"maxs" "69 7 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10554 -240 -107"
	"mins" "-38 -24 -6"
	"maxs" "38 24 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10420 -212 -94"
	"mins" "-20 -12 -6"
	"maxs" "20 12 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10400 -129 -69"
	"mins" "-40 -12 -6"
	"maxs" "40 12 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10365 -109 -62"
	"mins" "-11 -8 -5"
	"maxs" "11 8 5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10333 -105 -73"
	"mins" "-37 -17 -6"
	"maxs" "37 17 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10304 -77 -67"
	"mins" "-32 -17 -6"
	"maxs" "32 17 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10276 -105 -82"
	"mins" "-20 -17 -6"
	"maxs" "20 17 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10252 -40 -73"
	"mins" "-20 -32	-6"
	"maxs" "20 32 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10249 -28 -67"
	"mins" "-10 -20 -6"
	"maxs" "10 20 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10208 -171 -122"
	"mins" "-16 -35 -6"
	"maxs" "16 35 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10210 -161 -110"
	"mins" "-14 -25 -6"
	"maxs" "14 25 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10179 -116 -90"
	"mins" "-43 -20 -6"
	"maxs" "43 20 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "11033 -179 -68"
	"mins" "-24 -19 -6"
	"maxs" "24 19 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "11029 -174 -58"
	"mins" "-20 -14 -4"
	"maxs" "20 14 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10784 -174 -55"
	"mins" "-32 -10 -4"
	"maxs" "32 10 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10784 -166 -47"
	"mins" "-24 -10 -4"
	"maxs" "24 10 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10940 -196 -64"
	"mins" "-20 -12 -6"
	"maxs" "20 12 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10641 -272 -102"
	"mins" "-17 -24 -4"
	"maxs" "17 24 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10552 -234 -95"
	"mins" "-24 -18 -6"
	"maxs" "24 18 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10572 -277 -109"
	"mins" "-20 -13 -4"
	"maxs" "20 13 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10228 -189 -110"
	"mins" "-20 -12 -6"
	"maxs" "20 12 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10214 -159 -98"
	"mins" "-13 -21 -6"
	"maxs" "13 21 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "12951 2247 -60"
	"angles" "0 33.5 0"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "10659 1637.6 219"
	"angles" "-12.1868 222.739 167.835"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "8492.13 1654.53 190.719"
	"angles" "2.02148 251.631 -177.935"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"parentname" "car_burning"
}

; =====================================================
