; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
; --- Block survivor access to barge until going through the conveyor belt
add:
{
	"classname" "env_physics_blocker"
	"origin" "-5622 -281 67"
	"angles" "0 -175 0"
	"mins" "-645 -4 -133"
	"maxs" "645 4 133"
	"boxmins" "-645 -4 -133"
	"boxmaxs" "645 4 133"
	"initialstate" "1"
	"BlockType" "1"
	"targetname" "barge_exploit_blocker"
}
; --- Trigger to remove blocker
{
	"classname" "logic_auto"
	"OnMapSpawn" "barge_exploit_trigger,AddOutput,mins -56 -10 -75,0,-1"
	"OnMapSpawn" "barge_exploit_trigger,AddOutput,maxs 56 10 75,0,-1"
	"OnMapSpawn" "barge_exploit_trigger,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "-5193 -141 424"
	"targetname" "barge_exploit_trigger"
	"filtername" "filter_survivor"
	"spawnflags" "1"
	"OnTrigger" "barge_exploit_blocker,Kill,,1,1"
}
; --- Block infected from sitting in the end saferoom to stop the round from ending
{
	"classname" "env_physics_blocker"
	"origin" "-11152 3120 336"
	"mins" "-128 -96 -32"
	"maxs" "128 96 32"
	"initialstate" "1"
	"BlockType" "2"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "7525.16 2209.41 165.906"
	"angles" "20.3906 217.705 171.782"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"parentname" "car43"
}
{
	"classname" "prop_dynamic"
	"origin" "765.795 1996 -75.7"
	"angles" "-1.08923 10.8918 13.1158"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"parentname" "car44"
}
{
	"classname" "prop_dynamic"
	"origin" "-10090.6 2016.63 187.531"
	"angles" "2.02148 215.42 -177.891"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"parentname" "car05"
}
; --- Clipping on trees after the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "7372 365 141"
	"mins" "-66 -70 -6"
	"maxs" "66 70 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "8677 1393 127"
	"mins" "-67 -67 -6"
	"maxs" "67 67 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Remove leaning filing cabinet in the car shop
filter:
{
	"hammerid" "638358"
}
; --- Clipping on fallen lamp post before open water section to stop players from getting stuck
add:
{
	"classname" "env_physics_blocker"
	"origin" "2365 1641 136"
	"mins" "-71 -29 -5"
	"maxs" "71 29 5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2312 1648 144"
	"mins" "-16.5 -13.5 -4.5"
	"maxs" "16.5 13.5 4.5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2530 1799 140"
	"angles" "0 53.5001 0"
	"mins" "-193.5 -8 -5"
	"maxs" "193.5 8 5"
	"boxmins" "-193.5 -8 -5"
	"boxmaxs" "193.5 8 5"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2530 1799 134"
	"angles" "0 53.5001 0"
	"mins" "-194.5 -11 -3"
	"maxs" "194.5 11 3"
	"boxmins" "-194.5 -11 -3"
	"boxmaxs" "194.5 11 3"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2643 1952 143"
	"angles" "0 53.5001 0"
	"mins" "-2.5 -10 -5.5"
	"maxs" "2.5 10 5.5"
	"boxmins" "-2.5 -10 -5.5"
	"boxmaxs" "2.5 10 5.5"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
