; =====================================================
; --- c8m1_apartment event:
; --- Tank spawn
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"script_trigger_once"
	"extent"			"384 5 64"
	"origin" 			"1151 4270 74"
	"StartDisabled"			"0"
	"targetname" 			"tank_spawn_trigger_event"
	"filtername" 			"tank_spawn_filter_surv"
	"spawnflags" 			"1"
	"OnTrigger"			"tank_spawn_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"tank_spawn_relay_event,Trigger,,0,-1"
}
; --- relays
{
	"targetname" 			"tank_spawn_relay_event"
	"spawnflags" 			"1"
	"classname" 			"logic_relay"
	"OnTrigger"			"tank_spawn_relay_event,Kill,,0,-1"
	"OnTrigger"			"tank_spawn_prop_door,Break,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_fire,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_zombie_tank,SpawnZombie,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Start,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_slowmotion,Stop,,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_sfx_heart,Fadeout,1,1.5,-1"
	"OnTrigger" 			"tank_spawn_sfx_explosion,PlaySound,,0,-1"
	"OnTrigger" 			"tank_spawn_vfx_shake,StartShake,,0,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,3,-1"
}
; --- filtro de equipe
{
	"classname" 			"filter_activator_team"
	"targetname" 			"tank_spawn_filter_surv"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- Objetos do cenário
{
	"solid" 			"6"
	"origin" 			"766 4910 16"
	"angles" 			"0 0 0"
	"model"	 			"models/props_interiors/door_sliding_breakable01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"tank_spawn_prop_door"
	"BreakableType"			"2"
}
{
	"solid" 			"6"
	"origin" 			"766 4990 16"
	"angles" 			"0 180 0"
	"model"	 			"models/props_interiors/door_sliding_breakable01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"tank_spawn_prop_door"
	"BreakableType"			"2"
}
{
	"solid" 			"6"
	"origin" 			"1109 4685 20"
	"angles" 			"0 -136 0"
	"model"	 			"models/props/cs_assault/forklift.mdl"
	"classname" 			"prop_physics"
	"spawnflags" 			"256"
	"disableshadows" 		"1"
}
; --- zombie spawn
{
	"origin" 			"710 5039 17"
	"targetname" 			"tank_spawn_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 			"0 -90 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"tank_spawn_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_pump"
	"targetname" 			"tank_spawn_vfx_fire"
	"origin" 			"750 4951 16"
}
{
	"classname" 			"func_timescale"
	"targetname" 			"tank_spawn_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 		"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 			"750 4951 16"
	"targetname" 			"tank_spawn_vfx_shake"
	"spawnflags" 			"1"
	"radius" 			"3000"
	"frequency" 			"250"
	"duration" 			"2"
	"amplitude" 			"4"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 			"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"targetname" 			"tank_spawn_sfx_explosion"
	"health" 			"10"
	"spawnflags" 			"49"
}
{
	"classname" 			"ambient_generic"
	"message" 			"player/heartbeatloop.wav"
	"targetname" 			"tank_spawn_sfx_heart"
	"health" 			"10"
	"spawnflags" 			"49"
}

; =====================================================
; =====================================================
; --- c8m1_apartment event:
; --- New route
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- objetos do cenario
add:
{
	"solid" 			"6"
	"origin" 			"2116 3903 16"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_street/police_barricade2.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2434 3903 8"
	"angles" 			"0 90 0"
	"model"	 			"models/props_street/police_barricade_496in.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2747 3879 16"
	"angles" 			"0 70 0"
	"model"	 			"models/props_street/police_barricade2.mdl"
	"classname"			"prop_dynamic"
	"disableshadows" 		"1"
}
; --- bloqueios
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"new_route_block_nav,BlockNav,,1,-1"
}
{
	"classname" 			"script_nav_blocker"
	"origin" 			"2322 3899 70"
	"extent" 			"500 5 64"
	"targetname" 			"new_route_block_nav"
	"teamToBlock" 			"-1"
	"affectsFlow" 			"1"
}

; =====================================================
; =====================================================
; --- c8m1_apartment event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"1406 4918 16"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"1388 4903 16"
	"angles" 			"0 -135 0"
	"model"	 			"models/props_fortifications/fortification_indoor_01.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 			"6"
	"origin" 			"1550 906 484"
	"angles" 			"0 0 0"
	"model"	 			"models/props_urban/fence001_256.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"1550 1162 484"
	"angles" 			"0 0 0"
	"model"	 			"models/props_urban/fence001_256.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"1550 1354 484"
	"angles" 			"0 0 0"
	"model"	 			"models/props_urban/fence001_128.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"1550 1415 484"
	"angles" 			"0 0 0"
	"model"	 			"models/props_urban/fence_post001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2302 906 484"
	"angles" 			"0 180 0"
	"model"	 			"models/props_urban/fence001_256.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2302 1162 484"
	"angles" 			"0 180 0"
	"model"	 			"models/props_urban/fence001_256.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2302 1354 484"
	"angles" 			"0 180 0"
	"model"	 			"models/props_urban/fence001_128.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2302 778 484"
	"angles" 			"0 180 0"
	"model"	 			"models/props_urban/fence_post001.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"2177 1418 484"
	"angles" 			"0 -90 0"
	"model"	 			"models/props_urban/fence001_256.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"615299"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
; --- ammo
{
	"solid" 			"6"
	"origin" 			"2514 1938 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"1439 4843 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"1984 5102 16"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"1636 959 160"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname"			"weapon_ammo_spawn"
	"spawnflags"			"2"
	"disableshadows"		"1"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on small roof ledges and AC unit by the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "2522 1280 1280"
	"mins" "-30 -132 -640"
	"maxs" "30 132 640"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2527 1085 1080"
	"mins" "-30 -60 -840"
	"maxs" "30 60 840"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2556 830 1280"
	"mins" "-4 -318 -640"
	"maxs" "4 318 640"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from skipping the apartments by landing on electrical boxes
{
	"classname" "env_physics_blocker"
	"origin" "2302 1388 332"
	"mins" "-6 -40 -116"
	"maxs" "6 40 116"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2302 1388 452"
	"angles" "-30 0 0"
	"mins" "-4 -40 -6"
	"maxs" "4 40 6"
	"boxmins" "-4 -40 -6"
	"boxmaxs" "4 40 6"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2298 1424 464"
	"angles" "0 0 30"
	"mins" "-6 -2 -6"
	"maxs" "6 2 6"
	"boxmins" "-6 -2 -6"
	"boxmaxs" "6 2 6"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from skipping the apartments by landing on an infected ladder
{
	"classname" "env_physics_blocker"
	"origin" "2464 772 968"
	"mins" "-96 -4 -952"
	"maxs" "96 4 952"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from jumping on AC units in alley, before the fire barrel (Replaces Valve's commentary blockers)
{
	"classname" "env_physics_blocker"
	"origin" "2655 1667 680"
	"mins" "-29 -60 -408"
	"maxs" "29 60 408"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2192 1760 2356"
	"mins" "-60 -29 -2124"
	"maxs" "60 29 2124"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from accessing the upper floor and roof of the office building by the alley
{
	"classname" "env_physics_blocker"
	"origin" "2047 2792 2352"
	"mins" "-513 -410 -2128"
	"maxs" "513 410 2128"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the parking lot fences
{
	"classname" "env_physics_blocker"
	"origin" "896.5 3960 2328"
	"mins" "-128 -14 -2152"
	"maxs" "128 14 2152"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1407.5 3960 2328"
	"mins" "-128 -14 -2152"
	"maxs" "128 14 2152"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the garage doors in the parking lot
{
	"classname" "env_physics_blocker"
	"origin" "780 4872 2340"
	"mins" "-12 -149 -2140"
	"maxs" "12 149 2140"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the electrical box in the parking lot
{
	"classname" "env_physics_blocker"
	"origin" "1520 4090 2316"
	"mins" "-13 -48 -2164"
	"maxs" "13 48 2164"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the awnings before the end saferoom
{
	"classname" "env_physics_blocker"
	"origin" "2768 3776 2352"
	"mins" "-49 -106 -2128"
	"maxs" "49 106 2128"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2768 4572 2352"
	"mins" "-49 -211 -2128"
	"maxs" "49 211 2128"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Ledge for infected to stand on the outside of apartment windows below the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "1552 1309 333"
	"mins" "-4 -91 -2"
	"maxs" "4 91 2"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "2223.46 1474.51 15.8521"
	"angles" "-0.998629 359.948 3.00046"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2636 1581 15.0161"
	"angles" "0 270 0"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1900 2230 17"
	"angles" "-2.5 0 0"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1144.67 2942.3 67.9557"
	"angles" "15.441 344.424 175.756"
	"model" "models/props_vehicles/cara_95sedan_wrecked_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Add texture to the roof of the tallest building by the saferoom
{
	"classname" "prop_dynamic"
	"origin" "2920 1624 1088"
	"angles" "0 90 0"
	"model" "models/props_update/c8m1_rooftop_3.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2920 2072 1088.1"
	"angles" "0 90 0"
	"model" "models/props_update/c8m1_rooftop_3.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2920 2216 1088"
	"angles" "0 90 0"
	"model" "models/props_update/c8m1_rooftop_3.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Add texture to the roof by the subway entrance
{
	"classname" "prop_dynamic"
	"origin" "3056 4512 832"
	"angles" "0 90 0"
	"model" "models/props_update/c8m1_rooftop_3.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3056 4576 832.1"
	"angles" "0 90 0"
	"model" "models/props_update/c8m1_rooftop_3.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3072 4928 828"
	"angles" "0 90 0"
	"model" "models/props_update/concrete_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3200 4928 828.1"
	"angles" "0 90 0"
	"model" "models/props_update/concrete_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Clipping on fridge door at the one way drop
{
	"classname" "env_physics_blocker"
	"origin" "2064 1353 31"
	"mins" "-27 -21 -7"
	"maxs" "27 21 7"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on floor behind barricade after the apartment
{
	"classname" "env_physics_blocker"
	"origin" "2464 603 24"
	"mins" "-96 -5 -8"
	"maxs" "96 5 8"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Fix signs in the discount store being solid
modify:
{
	match:
	{
		"classname" "func_physbox"
	}
	replace:
	{
		"spawnflags" "1593344"
	}
}
; --- Remove some doors in the office building
filter:
{
	"hammerid" "20340"
}
{
	"hammerid" "20345"
}
{
	"targetname" "doorpair01S"
}
{
	"targetname" "doorpair01M"
}

; =====================================================
