; =====================================================
; --- c8m5_rooftop event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"6512 8648 6176"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 -135 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- remover bloqueio no finale
; -----------------------------------------------------
filter:
{
	;rooftop_opening_clip
	"hammerid" 			"4404063"
}
{
	;rooftop_playerclip_template
	"hammerid" 			"4404084"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"7159 8409 6094"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"6653 8862 6176"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on the highest platform on the yellow building
{
	"classname" "env_physics_blocker"
	"origin" "5984 7760 7153"
	"mins" "-50 -130 -943"
	"maxs" "50 130 943"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing in a hard to reach spot under the minigun
{
	"classname" "env_physics_blocker"
	"origin" "6005 8424 6051"
	"angles" "60 0 0"
	"mins" "-12.5 -13 -1"
	"maxs" "12.5 13 1"
	"boxmins" "-12.5 -13 -1"
	"boxmaxs" "12.5 13 1"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Remove some of the junk props in the large room in the hallway for tank fights
filter:
{
	"hammerid" "2818147"
}
{
	"hammerid" "3228341"
}
{
	"hammerid" "3228345"
}
{
	"hammerid" "3228349"
}
{
	"hammerid" "3228353"
}

; =====================================================
