; =====================================================
; --- c9m2_lots event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 			"7205 6110 216"
	"spawnflags" 			"0"
	"solid" 			"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 			"models/w_models/weapons/50cal.mdl"
	"MinPitch" 			"-25"
	"MaxYaw" 			"70"
	"MaxPitch" 			"60"
	"angles" 			"0 135 0"
	"classname" 			"prop_mounted_machine_gun"
        "disableshadows" 		"1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"2545 47 -159"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"5794 981 -111"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"2638 3552 -79"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"4105 5947 93"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"7375 5744 262"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}

; =====================================================
; --- c9m2_lots event:
; --- Extra ladders
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- finale
; -----------------------------------------------------
modify:
; --- escadas
{
	match:
	{
		;"model" 		"*198"
		"hammerid" 		"918113"
	}
	replace:
	{
		"team" 			"0"
	}
}
add:
{
	"solid" 			"0"
	"origin" 			"7158 5729 136"
	"angles" 			"-5 180 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; https://github.com/SirPlease/L4D2-Competitive-Rework
; =====================================================
; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from climbing the generators pole in the finale area
{
	"classname" "env_physics_blocker"
	"origin" "7479 6764 189"
	"mins" "-6 -6 -143"
	"maxs" "6 6 143"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "6835 5901 183"
	"mins" "-6 -6 -143"
	"maxs" "6 6 143"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "8438 5464 189"
	"mins" "-6 -6 -143"
	"maxs" "6 6 143"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
; --- Open up a warehouse room by the saferoom
modify:
{
	match:
	{
		"hammerid" "610267"
	}
	insert:
	{
		"targetname" "breakwall_truck_warehouse"
	}
}
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "breakwall_truck_warehouse,Break,,5,-1"
}
add:
; --- Solidify police barricade by the crashed bus
{
	"classname" "prop_dynamic"
	"origin" "5237 -18 -216"
	"angles" "0 63.5 0"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "5283 -39 -216"
	"angles" "0 63.5 0"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
; --- Clipping to fix players needing to jump to get in the escape vehicle
{
	"classname" "env_physics_blocker"
	"origin" "8003 6363 -53"
	"mins" "-13 -55 -5"
	"maxs" "13 55 5"
	"initialstate" "1"
	"BlockType" "0"
	"targetname" "escape_vehicle_step_a"
}
{
	"classname" "env_physics_blocker"
	"origin" "8003 6363 -51"
	"mins" "-13 -59 -3"
	"maxs" "17 59 3"
	"initialstate" "1"
	"BlockType" "0"
	"targetname" "escape_vehicle_step_b"
}
modify:
{
	match:
	{
		"targetname" "finale_elevator"
	}
	insert:
	{
		"OnFullyOpen" "escape_vehicle_step_a,AddOutput,origin 8003 6363 53,0,-1"
		"OnFullyOpen" "escape_vehicle_step_b,AddOutput,origin 8003 6363 53,0,-1"
	}
}
; --- Block LOS under buses in the truck depot
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "los_depot_bus_1a,AddOutput,mins -230 -1 -13,0,-1"
	"OnMapSpawn" "los_depot_bus_1a,AddOutput,maxs 230 1 13,0,-1"
	"OnMapSpawn" "los_depot_bus_1a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "los_depot_bus_1b,AddOutput,mins -1 -45 -13,0,-1"
	"OnMapSpawn" "los_depot_bus_1b,AddOutput,maxs 1 45 13,0,-1"
	"OnMapSpawn" "los_depot_bus_1b,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "los_depot_bus_2a,AddOutput,mins -230 -1 -13,0,-1"
	"OnMapSpawn" "los_depot_bus_2a,AddOutput,maxs 230 1 13,0,-1"
	"OnMapSpawn" "los_depot_bus_2a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "los_depot_bus_2b,AddOutput,mins -1 -45 -13,0,-1"
	"OnMapSpawn" "los_depot_bus_2b,AddOutput,maxs 1 45 13,0,-1"
	"OnMapSpawn" "los_depot_bus_2b,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "7852 5742 60"
	"targetname" "los_depot_bus_1a"
}
{
	"classname" "func_brush"
	"origin" "8069 5740 60"
	"targetname" "los_depot_bus_1b"
}
{
	"classname" "func_brush"
	"origin" "7828 5630 60"
	"targetname" "los_depot_bus_2a"
}
{
	"classname" "func_brush"
	"origin" "8045 5628 60"
	"targetname" "los_depot_bus_2b"
}

; =====================================================
