; =====================================================
; --- c1m1_hotel event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 			"6"
	"origin" 			"2272 4561 1184"
	"angles" 			"0 90 0"
	"model"	 			"models/props_downtown/metal_door_112.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"2653671"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; -----------------------------------------------------
; --- saferoom inicial
; -----------------------------------------------------
add:
; --- objetos do cenario
filter:
{
	"hammerid"			"3439640"
}
add:
{
	"solid" 			"0"
	"origin" 			"302 5646 2656"
	"angles" 			"0 -59 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"302 5646 2676"
	"style" 			"1"
}

; -----------------------------------------------------
; --- elevador
; -----------------------------------------------------
add:
; --- blocos invisiveis
{
	"classname" 			"env_physics_blocker"
	"origin" 			"2075 5834 2505"
	"mins" 				"-3 -71 -1"
	"maxs" 				"3 71 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator_1"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 			"2261 5834 2505"
	"mins" 				"-3 -71 -1"
	"maxs" 				"3 71 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator_1"
}
{
	"classname" 			"env_physics_blocker"
	"origin" 			"2168 5902 2505"
	"mins" 				"-90 -3 -1"
	"maxs" 				"90 3 1"
	"initialstate" 			"1"
	"BlockType" 			"0"
	"parentname" 			"elevator_1"
}
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"425 5739 2857"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"1725 5591 2656"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"2154 5360 2486"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}
{
	"solid" 			"6"
	"classname"			"weapon_ammo_spawn"
	"origin" 			"2076 5661 1184"
	"spawnflags"			"2"
	"disableshadows"		"1"
	"model"	 			"models/props/terror/ammo_stack.mdl"
}

; =====================================================