; =====================================================
; --- c4m2_sugarmill_a event:
; --- Explode gas tanker + Tank Spawn
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
add:
; --- ativadores
{
	"classname" 			"script_trigger_once"
	"targetname" 			"explode_gastanker_trigger_event"
	"filtername" 			"explode_gastanker_filter_surv"
	"spawnflags" 			"1"
	"origin" 				"-1321 -12635 231"
	"extent"				"1300 5 128"
	"StartDisabled"			"0"
	"OnTrigger" 			"explode_gastanker_relay_event,Trigger,,5,-1"
	"OnTrigger" 			"explode_gastanker_trigger_event,Kill,,0,-1"
	"OnTrigger" 			"explode_gastanker_sfx_gas1,PlaySound,,0,-1"
	"OnTrigger" 			"explode_gastanker_template_hint,ForceSpawn,,0,-1"
}
{
	"classname" 			"logic_auto"
	"OnMapSpawn" 			"explode_gastanker_vfx_fire1,start,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"spawnflags" 			"1"
	"targetname" 			"explode_gastanker_relay_event"
	"OnTrigger" 			"explode_gastanker_relay_event,Kill,,0,-1"
	"OnTrigger" 			"explode_gastanker_vfx_fire1,Kill,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_gas1,Fadeout,1,2,-1"
	"OnTrigger" 			"explode_gastanker_vfx_shake,StartShake,,2,-1"
	"OnTrigger" 			"explode_gastanker_vfx_fire2,Start,,2,-1"
	"OnTrigger" 			"explode_gastanker_prop_gastank,Disable,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_explode,PlaySound,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_gas2,PlaySound,,0,-1"
	"OnTrigger" 			"explode_gastanker_sfx_heart,PlaySound,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_heart,FadeOut,1,3.5,-1"
	"OnTrigger" 			"explode_gastanker_sfx_fire,PlaySound,,2,-1"
	"OnTrigger" 			"explode_gastanker_sfx_fire,FadeOut,1,60,-1"
	"OnTrigger" 			"explode_gastanker_vfx_slowmotion,Start,,2,-1"
	"OnTrigger" 			"explode_gastanker_vfx_slowmotion,Stop,,3.5,-1"
	"OnTrigger" 			"explode_gastanker_trigger_hurt,Enable,,2,-1"
	"OnTrigger" 			"explode_gastanker_trigger_hurt,Kill,,62,-1"
	"OnTrigger" 			"explode_gastanker_hint_msg,Kill,,0,-1"
	"OnTrigger" 			"explode_gastanker_zombie_tank,SpawnZombie,,2,-1"
	"OnTrigger" 			"director,ForcePanicEvent,,5,-1"
	"OnTrigger"				"explode_gastanker_vfx_explosion,explode,,2,-1"
}
; --- area de dano
{
	"classname" 			"script_trigger_hurt"
	"StartDisabled"			"1"
	"origin" 				"-180 -13408 116"
	"filtername"			"explode_gastanker_filter_surv"
	"targetname" 			"explode_gastanker_trigger_hurt"
	"spawnflags" 			"1"
	"damagetype" 			"8"
	"damagecap" 			"20"
	"damage" 				"2"
	"extent"				"128 128 64"
}
; --- filtro de equipe 
{
	"classname" 			"filter_activator_team"
	"targetname" 			"explode_gastanker_filter_surv"
	"filterteam" 			"2"
	"Negated" 				"0"
}
; --- zombie spawn
{
	"origin" 				"-180 -13408 118"
	"targetname" 			"explode_gastanker_zombie_tank"
	"population" 			"river_docks_trap"
	"offer_tank" 			"1"
	"AttackOnSpawn" 		"1"
	"angles" 				"0 0 0"
	"classname" 			"info_zombie_spawn"
	"OnSpawnTank" 			"explode_gastanker_zombie_tank,Kill,,0,-1"
	"OnSpawnTank" 			"director,DisableTankFrustration,,0,-1"
}
; --- efeitos visuais
{
	"classname" 			"func_timescale"
	"targetname" 			"explode_gastanker_vfx_slowmotion"
	"minBlendRate" 			"2"
	"desiredTimescale" 		"0.2"
	"blendDeltaMultiplier" 	"3.0"
	"acceleration" 			"0.05"
}
{
	"classname" 			"env_shake"
	"origin" 				"-180 -13408 116"
	"targetname" 			"explode_gastanker_vfx_shake"
	"spawnflags" 			"1"
	"radius" 				"3000"
	"frequency" 			"250"
	"duration" 				"2"
	"amplitude" 			"4"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"fire_jet_01"
	"targetname" 			"explode_gastanker_vfx_fire1"
	"angles" 				"-90 20 0"
	"origin" 				"-227 -13493 253"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"gas_explosion_main"
	"targetname" 			"explode_gastanker_vfx_fire2"
	"origin" 				"-180 -13408 116"
}
{
	"classname" 			"env_explosion"
	"fireballsprite" 		"sprites/zerogxplode.spr"
	"iMagnitude" 			"300"
	"rendermode" 			"5"
	"targetname" 			"explode_gastanker_vfx_explosion"
	"origin" 				"-180 -13408 116"
	"ignoredClass"			"1"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"player/heartbeatloop.wav"
	"spawnflags" 			"49"
	"targetname" 			"explode_gastanker_sfx_heart"
}
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"weapons/grenade_launcher/grenadefire/grenade_launcher_explode_2.wav"
	"spawnflags" 			"49"
	"targetname" 			"explode_gastanker_sfx_explode"
}
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"physics/destruction/explosivegasleak.wav"
	"spawnflags" 			"49"
	"targetname" 			"explode_gastanker_sfx_gas2"
}
{
	"classname" 			"ambient_generic"
	"health" 				"10"
	"message" 				"ambient/gas/steam_loop1.wav"
	"spawnflags" 			"48"
	"targetname" 			"explode_gastanker_sfx_gas1"
	"fadeinsecs" 			"3"
	"radius" 				"5000"
	"SourceEntityName" 		"explode_gastanker_prop_gastank"
}
{
	"classname" 			"ambient_generic"
	"message" 				"ambient/nature/fire/fire_small1.wav"
	"targetname" 			"explode_gastanker_sfx_fire"
	"origin" 				"-180 -13408 116"
	"health" 				"10"
	"spawnflags" 			"48"
	"radius"				"2000"
}
; --- objetos do cenario
{
	"solid" 				"0"
	"origin" 				"-180 -13408 175"
	"angles" 				"0 70 0"
	"model"	 				"models/props/de_train/de_train_horizontalcoolingtank.mdl"
	"classname"				"prop_dynamic"
	"disableshadows" 		"1"
	"targetname" 			"explode_gastanker_prop_gastank"
}
{
	"Template01" 			"event_elevator"
	"targetname" 			"elevator_gas_template_hintpanel"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- templates
{
	"Template01" 			"explode_gastanker_hint_msg"
	"targetname" 			"explode_gastanker_template_hint"
	"spawnflags" 			"2"
	"classname" 			"point_template"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"explode_gastanker_hint_msg"
	"hint_target" 			"explode_gastanker_hint_target"
	"hint_caption"			"Atenção!!!"
	"hint_range" 			"3000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 	"icon_alert_red"
	"hint_icon_offscreen" 	"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 				"-180 -13408 260"
	"hint_forcecaption"		"1"
}
{
	"origin" 				"-180 -13408 260"
	"targetname" 			"explode_gastanker_hint_target"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================