; =====================================================
; --- c4m2_sugarmill_a event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; --- fundo do posto
modify:
{
	match:
	{
		"hammerid" 			"464863"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
{
	"classname" 			"prop_dynamic"
	"origin" 				"-1586 -13843 234"
	"angles" 				"0 0 0"
	"model" 				"models/props/cs_office/ladder1.mdl"
	"solid" 				"0"
	"disableshadows" 		"1"
}
; --- janela saferoom inicial
modify:
{
	match:
	{
		"hammerid" 			"1484679"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
{
	"classname" 			"prop_dynamic"
	"origin" 				"4102 -3122 193"
	"angles" 				"-5 90 0"
	"model" 				"models/props/de_train/ladderaluminium.mdl"
	"solid" 				"0"
	"disableshadows" 		"1"
}
; --- dulto superior
modify:
{
	match:
	{
		"hammerid" 			"1485205"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
{
	"classname" 			"prop_dynamic"
	"origin" 				"3482 -3679 312"
	"angles" 				"-5 180 0"
	"model" 				"models/props/cs_assault/ladderaluminium128.mdl"
	"solid" 				"0"
	"disableshadows" 		"1"
}
modify:
{
	match:
	{
		"hammerid" 			"1319768"
	}
	replace:
	{
		"team" 				"0"
	}
}
add:
{
	"classname" 			"prop_dynamic"
	"origin" 				"1989 -4910 168"
	"angles" 				"-5 -90 0"
	"model" 				"models/props/cs_assault/ladderaluminium128.mdl"
	"solid" 				"0"
	"disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c4m2_sugarmill_a event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 				"6"
	"origin" 				"-719 -7454 352"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"4039 -3969 126"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1025 -9575 128"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1345 -9185 608"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"2575 -5697 258"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"1036 -4335 171"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"492 -6531 149"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"-1053 -7965 145"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"3449 -4254 360"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
{
	"solid" 				"6"
	"origin" 				"1667 -5402 263"
	"model"	 				"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
    "disableshadows" 		"1"
    "spawnflags" 			"2"
}
; -----------------------------------------------------
; --- saferoom final
; -----------------------------------------------------
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 			"38734"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}

; -----------------------------------------------------
; --- minigun
; -----------------------------------------------------
add:
; --- minigun
{
	"origin" 				"-1422 -13360 314"
	"spawnflags" 			"0"
	"solid" 				"6"
	"rendercolor" 			"255 255 255"
	"renderamt" 			"255"
	"model" 				"models/w_models/weapons/50cal.mdl"
	"MinPitch" 				"-25"
	"MaxYaw" 				"70"
	"MaxPitch" 				"60"
	"angles" 				"0 0 0"
	"classname" 			"prop_mounted_machine_gun"
    "disableshadows" 		"1"
}

; =====================================================