; =====================================================
; --- c4m4_milltown_b event:
; --- Extra ladders
; --- Create by Cyberzoio
; --- https://github.com/CyberZoio
; =====================================================
; -----------------------------------------------------
; --- casa de 2 andares do parque
; -----------------------------------------------------
; --- escadas
modify:
{
	match:
	{
		;"model" 		"*146"
		"hammerid" 		"1988141"
	}
	replace:
	{
		"team" 			"0"
	}
}
add:
; --- objetos do cenario
{
	"solid" 			"0"
	"origin" 			"-150 5965 179"
	"angles" 			"-5 90 0"
	"model"	 			"models/props/de_train/ladderaluminium.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}

; =====================================================
; =====================================================
; --- c4m4_milltown_b event:
; --- Extra changes in scenery
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; -----------------------------------------------------
; --- ammo piles
; -----------------------------------------------------
add:
{
	"solid" 			"6"
	"origin" 			"1673 2797 127"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"1241 5599 246"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"3398 1626 136"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-7112 7622 113"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-3452 7586 231"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-1944 6313 142"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"-13 4880 256"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"217 6267 151"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
{
	"solid" 			"6"
	"origin" 			"4043 524 269"
	"model"	 			"models/props/terror/ammo_stack.mdl"
	"classname" 			"weapon_ammo_spawn"
        "disableshadows" 		"1"
        "spawnflags" 			"2"
}
; -----------------------------------------------------
; ---  ativar carros com alarme
; -----------------------------------------------------
; --- relays
add:
{
	"classname" 			"logic_auto"
    	"OnMapSpawn" 			"relay_caralarm_on-car1,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car2,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car3,Trigger,,0,-1"
    	"OnMapSpawn" 			"relay_caralarm_on-car4,Trigger,,0,-1"
}
filter:
{
	"hammerid" 			"2832265"
}
{
	"hammerid" 			"2833731"
}
{
	"hammerid" 			"2835331"
}
{
	"hammerid" 			"2838531"
}

; -----------------------------------------------------
; ---  saferoom final
; -----------------------------------------------------
add:
; --- fechar porta da saferoom automaticamente (5seg)
modify:
{
	match:
	{
		"hammerid" 		"12104"	
	}
	replace:
	{
		"returndelay" 		"5"
		"forceclosed" 		"1"
	}
}
; -----------------------------------------------------
; --- props aleatorios
; -----------------------------------------------------
; --- objetos do cenario
add:
{
	"solid" 			"6"
	"origin" 			"2951 -1397 103"
	"angles" 			"0 352 -1"
	"model"	 			"models/props_vehicles/semi_trailer_freestanding.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"6"
	"origin" 			"3358 2994 171"
	"angles" 			"0 90 0"
	"model"	 			"models/props_vehicles/flatnose_truck_wrecked.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
}
{
	"solid" 			"0"
	"origin" 			"-3407 7847 120"
	"angles" 			"0 -59 0"
	"model"	 			"models/props_lighting/light_battery_rigged_01.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2677 5423 101"
	"angles" 			"0 -128 0"
	"model"	 			"models/props_vehicles/cara_82hatchback_wrecked_glass.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
{
	"solid" 			"6"
	"origin" 			"-2677 5423 101"
	"angles" 			"0 -128 0"
	"model"	 			"models/props_vehicles/cara_82hatchback_wrecked.mdl"
	"classname"			"prop_dynamic"
	"disableshadows"		"1"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"-3407 7847 140"
	"style" 			"1"
}

; =====================================================
