; =====================================================
; --- c4m4_milltown_b event:
; --- Boat run
; --- Create by CyberZoio
; --- https://github.com/cyberzoio
; =====================================================
; --- ativadores
add:
{
	"classname" 			"func_button"
	"origin" 			"1194 3349 141"
	"spawnflags" 			"1024"
	"targetname" 			"boat_run_button_boat"
	"parentname"			"boat_run_prop_boat"
	"glow" 				"boat_run_prop_button"
	"sounds" 			"4"
	"locked_sound"			"11"
	"OnPressed" 			"boat_run_button_boat,kill,,0,-1"
	"OnPressed" 			"boat_run_relay_boatstart,Trigger,,0,-1"
}
; --- relays
{
	"classname" 			"logic_relay"
	"targetname" 			"boat_run_relay_boatstart"
	"spawnflags" 			"1"
	"OnTrigger" 			"boat_run_relay_boatstart,Kill,,0,-1"
	"OnTrigger" 			"boat_run_train_boat,StartForward,,5,-1"
	"OnTrigger" 			"boat_run_sfx_engineon,PlaySound,,0,-1"
	"OnTrigger" 			"boat_run_sfx_enginerun,PlaySound,,4,-1"
	"OnTrigger"			"boat_run_vfx_waterback,Start,,1,-1"
	"OnTrigger"			"boat_run_vfx_waterfront,Start,,5,-1"
	"OnTrigger"			"boat_run_hint_msggen,Kill,,0,-1"
	"OnTrigger" 			"@director,BeginScript,c1_mall_onslaught,6,-1" //c1m3 script alarm event
}
{
	"classname" 			"logic_relay"
	"targetname" 			"boat_run_relay_boatstop"
	"spawnflags" 			"1"
	"OnTrigger"			"boat_run_relay_boatstop,kill,,0,-1"
	"OnTrigger" 			"boat_run_sfx_engineoff,PlaySound,,5,-1"
	"OnTrigger" 			"boat_run_sfx_engineon,FadeOut,1,5,-1"
	"OnTrigger" 			"boat_run_sfx_enginerun,FadeOut,1,0,-1"
	"OnTrigger"			"boat_run_vfx_waterback,Stop,,6,-1"
	"OnTrigger"			"boat_run_vfx_waterfront,Stop,,0,-1"
	"OnTrigger" 			"@director,EndScript,c1_mall_onslaught,0,-1" //c1m3 script alarm event
}
; --- objetos do cenario
{
	"solid" 			"6"
	"origin" 			"1220 3330 124"
	"angles" 			"0 0 0"
	"model"	 			"models/lostcoast/props_wasteland/boat_wooden01a_static.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
	"targetname"			"boat_run_prop_boat"
	"parentname"			"boat_run_train_boat"
}
{
	"solid" 			"6"
	"origin" 			"1186 3350 121"
	"angles" 			"-45 -90 0"
	"model"	 			"models/props_fairgrounds/gallery_button.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"1"
	"targetname"			"boat_run_prop_button"
	"parentname"			"boat_run_prop_boat"
}
{
	"solid" 			"0"
	"origin" 			"1330. 3330 145"
	"angles" 			"-15 0 0"
	"model"	 			"models/props_unique/spawn_apartment/lantern.mdl"
	"classname"			"prop_dynamic"
        "disableshadows" 		"0"
	"parentname"			"boat_run_prop_boat"
}
; --- efeitos visuais
{
	"classname" 			"light_dynamic"
	"_light" 			"231 223 192 0"
	"distance" 			"200"
	"origin" 			"1330. 3330 165"
	"style" 			"1"
	"parentname"			"boat_run_prop_boat"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"rain_stream_04"
	"origin" 			"1095 3330 112"
	"targetname"			"boat_run_vfx_waterback"
	"parentname"			"boat_run_prop_boat"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"rain_stream_04"
	"origin" 			"1325 3340 112"
	"targetname"			"boat_run_vfx_waterfront"
	"parentname"			"boat_run_prop_boat"
}
{
	"classname" 			"info_particle_system"
	"effect_name" 			"rain_stream_04"
	"origin" 			"1325 3320 112"
	"targetname"			"boat_run_vfx_waterfront"
	"parentname"			"boat_run_prop_boat"
}
; --- efeitos sonoros
{
	"classname" 			"ambient_generic"
	"message" 			"animation/riverbarge_loop.wav"
	"targetname" 			"boat_run_sfx_engineon"
	"origin" 			"1186 3350 121"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
	"SourceEntityName"		"boat_run_prop_button"
}
{
	"classname" 			"ambient_generic"
	"message" 			"animation/riverbarge_stop.wav"
	"targetname" 			"boat_run_sfx_engineoff"
	"origin" 			"1186 3350 121"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
	"SourceEntityName"		"boat_run_prop_button"
}
{
	"classname" 			"ambient_generic"
	"message" 			"vehicles/airboat/fan_blade_fullthrottle_loop1.wav"
	"targetname" 			"boat_run_sfx_enginerun"
	"origin" 			"1186 3350 121"
	"health" 			"10"
	"spawnflags" 			"48"
	"radius"			"2000"
	"SourceEntityName"		"boat_run_prop_button"
	"fadeinsecs"			"3"
}
; --- base
{
	"wheels" 			"200"
	"velocitytype" 			"2"
	"targetname" 			"boat_run_train_boat"
	"target" 			"boat_run_track_targetboat"
	"speed" 			"0"
	"startspeed"			"50"
	"origin" 			"1070 3330 124"
	"orientationtype" 		"3"
	"disableshadows" 		"1"
	"bank" 				"5"
	"classname" 			"func_tracktrain"
	"spawnflags" 			"512"
	"dmg"				"1000"
	"filtername" 			"boat_run_filter_surv"
}
; --- filtro de equipe
{
	"targetname" 			"boat_run_filter_surv"
	"classname" 			"filter_activator_team"
	"filterteam" 			"2"
	"Negated" 			"0"
}
; --- trilho
{
	"origin" 			"1070 3330 130"
	"targetname" 			"boat_run_track_targetboat"
	"target" 			"boat_run_track_target1"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"918 3942 130"
	"targetname" 			"boat_run_track_target1"
	"target" 			"boat_run_track_target2"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"779 4263 130"
	"targetname" 			"boat_run_track_target2"
	"target" 			"boat_run_track_target3"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"608 4481 130"
	"targetname" 			"boat_run_track_target3"
	"target" 			"boat_run_track_target4"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"480 4758 130"
	"targetname" 			"boat_run_track_target4"
	"target" 			"boat_run_track_target5"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"604 5033 130"
	"targetname" 			"boat_run_track_target5"
	"target" 			"boat_run_track_target6"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"706 5419 130"
	"targetname" 			"boat_run_track_target6"
	"target" 			"boat_run_track_target7"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"631 5854 130"
	"targetname" 			"boat_run_track_target7"
	"target" 			"boat_run_track_target8"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"479 6080 130"
	"targetname" 			"boat_run_track_target8"
	"target" 			"boat_run_track_target9"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"190 6109 130"
	"targetname" 			"boat_run_track_target9"
	"target" 			"boat_run_track_target10"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-137 6054 130"
	"targetname" 			"boat_run_track_target10"
	"target" 			"boat_run_track_target11"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-886 6050 130"
	"targetname" 			"boat_run_track_target11"
	"target" 			"boat_run_track_target12"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-1314 6007 130"
	"targetname" 			"boat_run_track_target12"
	"target" 			"boat_run_track_target13"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-2315 5921 130"
	"targetname" 			"boat_run_track_target13"
	"target" 			"boat_run_track_target14"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-2525 5962 130"
	"targetname" 			"boat_run_track_target14"
	"target" 			"boat_run_track_target15"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-2611 6180 130"
	"targetname" 			"boat_run_track_target15"
	"target" 			"boat_run_track_target16"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-2514 6631 130"
	"targetname" 			"boat_run_track_target16"
	"target" 			"boat_run_track_target17"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-2408 7172 130"
	"targetname" 			"boat_run_track_target17"
	"target" 			"boat_run_track_target18"
	"orientationtype" 		"1"
	"classname" 			"path_track"
}
{
	"origin" 			"-2365 7636 130"
	"targetname" 			"boat_run_track_target18"
	"target" 			"boat_run_track_target19"
	"orientationtype" 		"1"
	"classname" 			"path_track"
	"OnPass"			"boat_run_relay_boatstop,Trigger,,0,-1"
}
; --- instrutor
{
	"classname" 			"env_instructor_hint"
	"targetname" 			"boat_run_hint_msggen"
	"hint_target" 			"boat_run_target_msggen"
	"hint_caption"			"Que tal um passeio de barco?"
	"hint_range" 			"1000"
	"hint_auto_start" 		"1"
	"hint_icon_onscreen" 		"icon_info"
	"hint_icon_offscreen" 		"icon_alert"
	"hint_color" 			"255 255 255"
	"origin" 			"1033 3450 200"
}
{
	"origin" 			"1033 3450 200"
	"targetname" 			"boat_run_target_msggen"
	"spawnflags" 			"2"
	"classname" 			"info_target"
}

; =====================================================